.dark {
  background: #dbdbdb;
}
.light {
  background: #f5f5f5;
}
.loading {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5rem;
  background: #fff;
  margin-top: -16px;
  border-radius: 20px 20px 0px 0px;
  position: relative;
}
.loading_search {
  display: flex;
}

.search {
  width: 100%;
  height: 40px;
  background: #fff;
  border-radius: 20px;
  padding: 0 0 0 1.5rem;
  display: flex;
  align-items: center;
  margin: 1rem 3.5rem 0 3.5rem;
}

.search_text {
  width: 151px;
  height: 10px;
}

.loading_tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 3.5rem 0 3.5rem;
}

.tab {
  border: 1px solid #ededf1;
  border-radius: 40px;
  width: 168px;
  height: 30px;
  position: relative;
}

.langauge_icon {
  width: 38px;
  height: 10px;
}

.tab_text {
  width: 120px;
  height: 10px;
  top: 9px;
  left: 14px;
  position: absolute;
}

.loading_card {
  height: 107px;
  background: #ffffff;
  box-shadow: 0px 0px 10px #e5e5e519;
  border: 1px solid #eae9f0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.loading_firstrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.loading_thirdrow {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.loading_img {
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.loading_name {
  width: 55px;
  height: 10px;
}

.loading_id {
  width: 146px;
  height: 10px;
}

.loading_edit {
  width: 18px;
  height: 10px;
}

.loading_title {
  width: 301px;
  height: 10px;
}

.loading_summary {
  width: 114px;
  height: 10px;
}
.inner_loading {
  width: 100%;
}
.loading {
  overflow: hidden;
}
.loading_type {
  width: 66px;
  height: 10px;
}

.loading_date {
  width: 39px;
  height: 10px;
}
.artcile_list_loading {
  margin: 1rem;
}
.create_article_loading {
  position: absolute;
  bottom: 0;
  top: 22%;
  right: 21px;
}
.loading_layout {
  margin: 0 auto;
}
.search img {
  padding-right: 1.5rem;
}
.create_article_loading_main {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.create_article_load {
  height: 38px;
  border-radius: 8px;
}
.label_loading {
  width: 100px;
  height: 12px;
  margin-bottom: 3px;
  border-radius: 6px;
}
.create_article_loading_outer {
  height: 100%;
  width: 85%;
  margin: 0 auto;
}
.loading_tab_outer {
  display: flex;
  width: 92%;
  margin: 50px auto 0 auto;
  justify-content: start;
}

.article_list_top_loading {
  display: flex;
  justify-content: space-between;
}
.article_list_top {
  width: 40px;
  height: 20px;
  margin: 0 1rem;
  border-radius: 6px;
}
.article_list_top_center {
  width: 50px;
  height: 20px;
  border-radius: 6px;
}
.loading_tab {
  width: 170px;
  height: 30px;
  margin-right: 4rem;
  border-radius: 4px;
}
.search_loader {
  margin-top: 0.3rem;
}
.loading_tab_main {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.SMALL .search {
  width: 93%;
  margin: 25px auto 0 auto;
}
.SMALL .loading_card {
  width: 100%;
  margin: 0 auto 0.5rem auto;
}
.SMALL .loading_tab {
  width: 100px;
  padding: 1rem 0.1rem 1rem 0.1rem;
  margin: 0 auto;
}
.SMALL .loading_layout {
  width: 100%;
  padding: 0 0.8rem;
  margin: 0 auto;
}
.SMALL .loading_name {
  width: 4px;
  height: 10px;
  padding: 0 1rem;
}
.SMALL .loading_id {
  width: 124px;
  height: 10px;
}
.SMALL .create_article_loading {
  top: 30%;
}
.MEDIUM .search {
  width: 95%;
  margin-left: 1rem;
  margin-top: 25px;
}

.MEDIUM .loading_layout {
  margin: 0 auto;
  width: 50%;
  padding: 1rem 0.5rem 0 0.5rem;
}
.MEDIUM .create_article_loading {
  top: 50%;
}
.MEDIUM .loading_tab_outer {
  display: flex;
  width: 100%;
  margin: 50px auto 0 auto;
}
.MEDIUM .loading_tab_main {
  justify-content: start;
}
.SMALL .loading_tab_main {
  margin-top: 0.4rem;
}