.THIS .slds-accordion__summary-action{
    background-color: rgb(0, 153, 222);
    color: rgb(255, 255, 255);
    padding: 8px;
}
.THIS .slds-accordion__summary-action-icon{fill: white;}
.THIS.containerBlock{margin: 0 134.5px;}
.THIS .paddedInner{padding: 0 1.6rem;}
.THIS legend .slds-form-element__label{
    font-size: 16px !important;
    font-family: "Gotham-medium" !important;
    padding-bottom: 18px !important;
    color: #666 !important;
    font-weight: 300 !important;    
}
.THIS .lblText{
    font-size: 16px !important;
    font-family: "Gotham-medium" !important;
    padding-bottom: 18px !important;
    color: #666 !important;
    font-weight: 300 !important;    
}
.THIS .submitClass{
    float:right;
}
@media(max-width:480px){
    .THIS.containerBlock{
       margin:0;
    }    
}

@media(max-width:900px){
    .THIS.containerBlock{
        margin:0;
    } 
}
.THIS .fontfamilymedium{
    font-family:Gotham-medium;
    font-size:16px;
}.THIS .attachmntcolor{
    color: #009DAC;
    font-size:16px;
    font-family:Gotham-medium;
    text-decoration: none;
}

.THIS .slds-rich-text-editor__toolbar{
    display:none;
}.THIS .hrcls {
    margin: 0rem 0px !important;
}