.THIS.communityBody{
	background-color:#fff;
}
.THIS .profileMenuRegion{
    width : 250px;
    position: absolute;
    right: 106px;
    top: 1px;

}
.THIS.profileDetailView.mask{
    top:100% !important;
}
.THIS .profileDetailView .mask{
    top:100% !important;
}
@media only screen and (max-width: 1024px) {
    .THIS .profileMenuRegion{
   
    right: 15px;
   
    }
}
.THIS .slds-col--padded{
    padding: .0rem !important; 
}

@media(max-width:480px){
    .THIS .article-column{
        width: 100% !important;
        padding: 1px 14px 30px;
        overflow-x: auto;
    }    
    .THIS .forceKnowledgeArticleThumbVote{
        width: 100%;
    }
}

@media(max-width:900px){
    .THIS .article-column{
        width: 100% !important;
        padding: 1px 14px 30px;
        overflow-x: auto;
    }    
    .THIS .forceKnowledgeArticleThumbVote{
        width: 100%;
    }
}
.THIS .ckeditor_codeblock{
    background: #efefef;
    display: block;
    padding: 8px;
    border: 1px solid #ccc;
    overflow-x: auto;
    margin: 10px 0 10px 20px;
    white-space: pre;
    word-wrap: normal;
}
.THIS .forcePageBlockSectionRow .slds-form-element_readonly .slds-form-element__control .slds-rich-text-editor__output table{
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    word-break: break-all !important;
    width: auto !important;
}