.cardBodyDescription{
	width: 100% !important;
}
.imageClass{
	width:100%;
}
.cardBodyTag{
	text-transform: uppercase;
	margin-bottom: 20px;
}
.two-col-img{
	margin-top: 20px !important;
}

.ritchText{
	font-family: 'Inter-Regular';
    color: #6C7174;
}