.THIS .points {
    font-size: 30px;
    color: white;
}

.THIS .label {
    font-size: 15px;
    white-space: nowrap;
    color: white;
}

.THIS .ialignment {
    display: inline-flex;
    padding: 0 30px;
}

.THIS .icon {
    align-items: center;
    display: flex;
    padding: 0.6rem;
}

.THIS .icon svg {
    fill: white;
}