.THIS.containerDiv {
    width : 1140px;
    margin : auto ;
    padding: 30px 0px;
	
	
}
.THIS .titleDiv{
    border: 1px solid #ccc;
    border-radius : 4px;
    margin-top : 15px;
    
}
.THIS .nameList{
    padding : 20px;
}
.THIS .subscribeName a {
    font-size : 16px;
}
.THIS .headingTitle{
    padding: 10px 10px 10px 20px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    font-family: Gotham-Light;
    font-weight: 600;
        background-color: #f5f5f5;
}
.THIS .para{font-family: Gotham-Light;
    font-size: 16px;
    padding: 10px 0px 20px;
}
.THIS .HeadingDiv{
    font-family: Gotham-Light;
    font-size: 30px;
    
}
.THIS .backtoCateg{  
    float: right;
    font-size: 14px;
    font-family: Gotham-Medium;
    font-weight: 600;
    color: #009DAC;
    text-decoration: none;
}
/*CS21-1172*/
.THIS .CategoryDiv{
    font-family: Gotham-Light;
    font-size: 30px;
    /*font-weight: bold; */
}
.THIS .CategoryPara{
    font-family: Gotham-Light; 
    font-size: 16px;
    padding-left: 5px;
    /*color: #575353;*/
}
.THIS .customRadioClass{
    font-family: Gotham-Light; 
    font-size: 16px;
}
.THIS .slds-radio .slds-form-element__label{
    font-size: 16px;
}
.THIS .SaveBtnDiv>.slds-button{
    font-family : Gotham-light;
    font-size : 16px;
    background-color:#009DAC;
    color : #fff;
    text-transform : uppercase;
}
.THIS  .SaveBtnDiv>.slds-button:hover{
    color: #ffffff;
    background-color: #286090;
    border-color: #204d74;
}
.THIS .cancelBtnDiv>.slds-button{
    font-family: Gotham-light;
    font-size: 16px;
    color: #4A4A4A;
    text-transform : uppercase;
    border: 1px solid #eee;
    background:#009dac;
    color: #fff !important;
}
.THIS .canclbtn:hover{
    color:white;
    background:#23527c !important;
    border-color: #204d74;
}
.THIS .slds-form-element__icon{
    margin-top: -50px;
    margin-left: 100px;
}
.THIS .tooltipCategories{
    margin-top: 6px;
    margin-left: 60px;
}