.formDiv{
    margin-top:20px;
    padding-left:60px;
}

:host {
    --sds-c-textarea-sizing-min-height: 200px;
 }
.outputBorderedBox {
  /* Match SLDS input container look */
  border: 1px solid #c9c9c9;
  border-radius: var(--slds-radius-border-2, 0.25rem);
  background: #f3f3f3;
  color:#747474;
  padding: 0.375rem 0.75rem;
  min-height: 2rem; /* similar to input height */
  line-height: 1.25rem;
  overflow-wrap: anywhere;
  margin-bottom: 5px;
}
.outputBorderedContainer {
  margin-left: 3px;
}