.THIS .slds-table_header-fixed_container{
    border: 1px solid rgb(212, 212, 212);
    padding-top: 0;
}
.THIS .slds-button_neutral{
    min-height: 50px;
    height: unset;
    line-height: 23px;
}
.THIS .slds-lookup__search-input{
color: #070F52 !important;
font-size: 13px !important;
background-color: #F6F9FC;
font-family: "Inter-Regular";
border: 0;
}
.THIS .slds-lookup__search-input::placeholder{
    color: #070F52 !important;
}
.THIS .slds-button__icon{
    fill: #070F52 !important;
}
.THIS .slds-card__header-title .slds-text-heading_small{
    font-size: 36px;
    line-height: 41px;
    color: #070F52;
    font-weight: 600;
}
.THIS .slds-dropdown-trigger_click .slds-button:hover{
    background-color: #ffffff;
    border: 1px solid #070F52;
}
.THIS .cPC_PartnerFundRequestTable{
    border: 0 !important;
    box-shadow: 0px 20px 60px rgb(7 15 82 / 20%) !important;
    padding: 20px !important;
    }
.THIS .custom-column a{
    color: #070F52;
}
.THIS .slds-truncate{
    white-space: break-spaces;
}
.THIS .slds-table td{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.THIS .slds-table thead tr{
    height: 76px;
}
.THIS .slds-table thead tr th .slds-cell-fixed .slds-th__action{
    width: 146px !important;
}