.spinner-background{
    background-color: rgb(250, 250, 249, 0.25);
}
.custom-table-wrapper{
    height: 400px;
}
.toggleClass{
	background-color : #00D3C1;
}
.slds-checkbox_toggle [type=checkbox]:checked+.slds-checkbox_faux:after, .slds-checkbox_toggle [type=checkbox]:checked+.slds-checkbox--faux:after, .slds-checkbox_toggle [type=checkbox]:checked~.slds-checkbox_faux:after, .slds-checkbox_toggle [type=checkbox]:checked~.slds-checkbox--faux:after, .slds-checkbox_toggle [type=checkbox]:checked+.slds-checkbox_faux_container .slds-checkbox_faux:after, .slds-checkbox_toggle [type=checkbox]:checked+.slds-checkbox--faux_container .slds-checkbox--faux:after, .slds-checkbox--toggle [type=checkbox]:checked+.slds-checkbox_faux:after, .slds-checkbox--toggle [type=checkbox]:checked+.slds-checkbox--faux:after, .slds-checkbox--toggle [type=checkbox]:checked~.slds-checkbox_faux:after, .slds-checkbox--toggle [type=checkbox]:checked~.slds-checkbox--faux:after, .slds-checkbox--toggle [type=checkbox]:checked+.slds-checkbox_faux_container .slds-checkbox_faux:after, .slds-checkbox--toggle [type=checkbox]:checked+.slds-checkbox--faux_container .slds-checkbox--faux:after {
    border-style: none !important;
}