.su_filter_padding_left {
  padding-left: 24px;
}

.testgreen {
  display: none;
}

.filterLabel {
  color: #A4A3A6;
}

.header {
  background-color: white;
}

.filterSorting {
  background-color: white;
}

.border-filter {
  border: 1px solid #E1E1E1;
}

.filterClearAll{
  width: 85px !important;
}

.showPanel {
  display: none;
}

.filterDiv {
  background-color: white;
  /* overflow: hidden; */
}

.filterValues {
  margin: 10px 0px;
  padding: 0px 10px 0px 18px;
  position: relative;
}

.arrow-position {
  position: absolute;
  left: 0px;
}

.menu {
  background-color: #fff;
  position: absolute;
  width: 100%;
  left: -110%;
  height: 100%;
  transition: all 1s;
  z-index: 3;
}

.show {
  left: 0;
}

.headerText {
  color: #3E3E3C;
  font-weight: 600;
  font-size: 17px;
  margin: auto;
}

.displayMenus {
  display: none !important;
}


.hide {
  display: none;
}

.cursorPointer {
  cursor: pointer;
}

.dropdownList {
  width: 15%;
  background-color: white;
  padding-left: 10px;
  font-weight: 500
}

@media only screen and (max-width: 739px) {
  .panel-Class {
    height: 20px;
  }
}

.child-filters-block {
  display: flex;
  flex-direction: column;
}

.child-filters-block .child-filter {
  margin: 5px 0px;
}

.filterSection1 {
  background: #fff;
  height: calc(100% - 45px);
  padding-right: 15px;
}

.sorting-dots {
  position: absolute;
  top: 6px;
  left: 5px;
}

.divblockTest,
.filter-section {
  height: 100%;
}
.search-icon-static {
  position: absolute;
  left: 0px;
  top: 4px;
  z-index: 1;
}