.field-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.field-container-description {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
}

.field-label {
    font-weight: 500;
    width: 30%;
}

.field-container-description .field-label {
    width: 15%;
}

.field-container-description .field-value {
    width: 35%;
}

.icon-color {
    --slds-c-icon-color-background: #00D3C1;
}

.hrcls {
    margin: 0px;
}

.alertpara{
    font-size: 16px;
    padding: 4px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
}

.heading-style {
    font-size: 18px; 
    color: #707e8b;
}