.tableDiv{
    padding: 0rem 0.5rem;
}
.RMA_highlightFields label{
    font-size:14px;
    font-weight:bold;
}
.bottomBorder{
    border-bottom: 1px solid #ccc;
}
.showButton{
    color:rgb(0, 109, 204);
    padding-top:15px;
}
.showButton:hover{
    text-decoration:Underline;
}
th{
    padding:2px 5px 2px 0px;
}
.font tr td{
    font-size: 0.75rem !important;
}
.font tr th{
    font-size: 0.75rem !important;
}
.casenocolor{
    color: black;
    text-decoration: none;
}
.casenocolor:hover{
    color: black;
    text-decoration: none;
}
.arrowContain{
    text-align:left;
}
.helptext{
    display: inline-block;
    position: relative;
    top: -3px !important;
    left: 15.5%;
}
.slds-accordion__summary-heading .slds-truncate{
    overflow:visible;
}
.headingDiv{
    padding-bottom: 15px;
}
.arrowContain a{
    vertical-align: middle;
}
.RMA_highlightFields{
    overflow:auto !important;
}
.tableBorder{
    border: 1px solid #ccc;
}
.slds-accordion__summary-heading{
    font-weight: bold;
    font-size: 1rem;
}
.slds-table th,.THIS .slds-table td{
    white-space: normal !important;
}
.slds-form-element__icon button[type='button']{
    top: 1px;
}