.spinner-background{
    background-color: rgb(250, 250, 249, 0.25);
}
.custom-table-wrapper{
    height: 400px;
}

.slds-cell-fixed{
    z-index:2;
}
.margin-top{
    margin-top: 34px;
}
.left-padding{
    padding-left: 48px;
}