.THIS {
    position: relative;
    z-index: 1;
}
.THIS .left {
    float: left;
    width: 25%;
}
.THIS .center {    
    margin: 0 auto;
    width: 50%;
}
.THIS .right {
    float: right;
    width: 25%;
    
}
.THIS .width12{
    width: 12%;
}
.THIS .width75{
    width: 75%;
}