.THIS .ahm-select-width{
    width:15rem;
    
}

.THIS .ahm-nubbin-width-small
{
    min-width: 22rem; 
    max-width: 50rem;
}

.THIS .ahm-nubbin-width-large
{
    min-width: 60vw; 
    max-width: 70vw;
}

.THIS .ahm-filter-scrollerSize
{
    height:11.5rem;
}

.THIS .slds-form-element__legend{
    width:10rem;	
}

@supports(-ms-ime-align: auto){
	.THIS .ahm-button_disable {
	  opacity:.5 ;
	}
}