.custom-container{
	color : black;
}
.modal-body{ 
    height : 40vh !important; 
    max-height: 40vh !important; 
}
.slds-backdrop, .slds-modal{position:fixed !important;}
.slds-modal__content{
    overflow-y: unset;
    overflow: unset;
}
.slds-listbox{
    overflow-y:scroll;
    max-height: 203px;
}
.slds-dropdown{
    overflow-y:scroll !important;
    /*top:0px !important;*/
}
.slds-notify_container{
    z-index: -1 !important;
}
.break-word{
    word-break: break-all;
}
:host {
  --slds-g-color-neutral-base-30: black;
  --slds-c-accordion-heading-text-color-hover: black;
  --sds-c-accordion-heading-text-color-hover: black;
  /* --lwc-brandAccessibleActive : black; */
  --slds-c-accordion-heading-font-size:16px;
}
.caseOwnerLabel{
    font-size: 0.75rem !important;
    font-weight:bold !important;
}
.slds-size_1-of-6.slds-grid.slds-m-bottom_medium {
    padding-left: 12px;
}
.copy-icon{
    display: flex;
}
.pointer {
  cursor: pointer;
}
.margin-bottom{
        margin-bottom: 20px;
}

lightning-record-edit-form.Status {
    width: 80%;
}
section.slds-accordion__section {
    font-weight: bold;
    color: black;
}
section.slds-accordion__section:hover {
    font-weight: bold;
    color: black;
}
.slds-accordion__summary-action:hover, .slds-accordion__summary-action:focus{
    color: black !important;
    border :none;
}
.section-title{
    font-weight: bold;
}
/* lightning-input-field,lightning-formatted-text,lightning-formatted-url{
    font-weight:normal;
} */
.font-style{
    font-weight:normal;
}