.THIS .subscribeName a{
    color: #009DAC !important;
    text-decoration: none;
    font-family : Gotham-Medium;
}
.THIS .subscribeName>a:hover{
    color: #23527c;
    
}
.THIS.articles{
    border-top: 1px solid #ccc;
    padding: 5px 0;
}