.header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.content {
    padding: 0.75rem;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 14px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 0.75rem;
}

.backdrop {
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.5);
}

.hint {
    padding: 0.75rem;
}

.chevronIcon:hover{
    cursor: pointer;
}