.THIS .table-css{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 0px;
    height: 35px;
    
    border-radius: 4px;
}

.THIS.changeMe {   
   border: Solid green !important;
}


.THIS .BackClass{
    margin-top: -32px;
}
.THIS .buttonColor svg{
    fill: white;
     cursor: pointer;
}


.THIS .Marginclass{
    margin-left: -2px;
}
.THIS .table {
    border: none;
}

.THIS .header-pad{
    padding:10px;
}
.THIS .error{
adding: 0.35em 0;
color: #d0021b;
font-weight: normal;
font-size: 1em;
}

.THIS .table { background-color: #ff0000; }
.THIS .tr { background-color: yellow; }
.THIS .td { background-color: #000; }

.THIS .taskCol {
    width:6%;
    padding: 5px;
     text-align: center;
}

.THIS .timeEntryCol {
    width:5%;
    padding:6px;
}

.THIS .CrossCSS{
    margin-left: 12px;
}

.THIS .RemoveClass{
    margin-left: 5px;
}

.THIS .CommentCol { 
    min-width:32% !important;
}

.THIS .Mainheader{
    background-color: #474747 !important ;
    color: #ffffff !important
}

.THIS .EditCol {width:2%;}

.THIS .new1{
    border-top: 1px solid black;
}

.THIS .BlackHeader{
    height: 35px;
}

.THIS .inputFieldWidth  {
    width: 70px;
}

.THIS .inputFieldWidth1  {
    width: 70px;
    margin: 2px;
}

.THIS .textArea{
    margin-left: 3px;
    max-width: 300px;
    min-width: 100%;
    margin-top: 4px;
}

.THIS .Bottomclass{    
    margin-bottom: 24px;
    border-bottom-left-radius: 10px;
}


.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}