.similiarSearchBox .su__ribbon-block{ display: block;top: -15px;}
.su__mt-18{margin-top: 1.8rem;}
.similiarSearchBox .su__ribbon-text {min-width: 100px;padding: 4px 12px;border: 1px solid #978e8e;;;background-color: #fdfdfd;color: #6a6b67;font-weight: 600;}