.THIS {
}
.THIS  .Paragraph{font-size:16px;color:#666;font-family:"Gotham-light";margin:0px !important;}
.THIS .padHelp{padding-bottom:3px;}

.THIS .arrowContain{
    height:24px;
}
.THIS .tableClass{border-radius: 5px;}
.THIS .thclass{  
    color:#666;font-family:"Gotham-light";
}
.THIS .rubrikbtn {
    display: inline-block;
    box-shadow: 0 2px 2px 0 hsla(0,9%,4%,.2);
    border-radius: 2px !important;
    font-size: 12px;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    letter-spacing: -.5px;
    background-color: #009dac;
    font-family: Gotham-Light !important;
    color: #ffffff !important;
    padding: 2px 14px;
    text-align: center;
    vertical-align: middle;
    border-image: initial;
}
.THIS .rubrikbtn:hover {
    background-color: #3fb5c0; 
}
.THIS .TableHead{
    border-bottom: 2px solid rgb(212, 212, 212);
}
.THIS .rowborder{
    border-bottom: 1px solid rgb(212, 212, 212);
}
.THIS .rowborder:last-child {
    border-bottom: none;
}
.THIS .textStyle{
    color: #000;
    font-size:16px;
    font-family:"Gotham-light"
}
.THIS .padd-dis{
    padding-left:2%;
    display:inline;
}
.THIS .padd .slds-form-element__icon{
    padding-top: 0rem !important;
}

/*added for CS21-426 */
.THIS .message {
    color: rgb(194, 57, 52);
}
.THIS .requiredMessage{
    border-color: rgb(194, 57, 52);
}
.THIS .requiredMessage:last-child{
    border-bottom: 1px solid rgb(212, 212, 212);
    border-color: rgb(194, 57, 52);
}
/*CS21-426 - End */

@media (max-width: 48em){
    .THIS .WrdBrk{
        word-break: break-word;
    }
}