.alignPaginationList {
    display: flex;
    float: right;
    flex-wrap: wrap;
    padding-bottom: 20px;
    align-items: center;
    font-size: 14px;
}

.cmakeFlex {
    display: flex;
}

.mainFormDiv {
    display: none;
}

@media (max-width:767px){
    .alignPaginationList {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 0px;
        padding-bottom: 30px;
        align-items: center;
        font-size: 14px;
        float: unset;
    }
    
    }