.THIS {
}

.THIS .TopContainer{
    margin-top:3% !important;
    margin-left:8% !important;
    margin-right:8% !important;
}

.THIS .labelHide label{
    display:none;
    
}

.THIS .textAreaheigth > div > textarea
{
    height: 159px;
}

.THIS .btnPosition
{
    margin-top:5px;
}

.THIS .Alignlefttext
{
    text-align:left !important;
    max-width:40rem;
}

.THIS .supportBtn:hover {
   background-color: #3fb5c0!important;
}

.THIS .supportBtn{
    width: 30%;
    margin-top: 20px;
    background-color: #009dac!important;
    float:right;
    font-family: gotham-medium;
}
.THIS .feedbackHeading
{
    font-family:gotham-medium;
    font-size:26px!important;
}

.THIS .hrefClass{    
    text-decoration: none;
    font-family: gotham-light;
    color: #009dac!important;
    font-size: 17px;
    font-weight: 300;
}
.THIS label
{
    font-family: Gotham-light;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 16px;
    color: rgb(107, 109, 112);
}

.THIS .lightningInputRichText
{
    padding-left:9px;
}

.THIS .desLabel
{
    padding-left:2px;
}