.THIS .manageBtn{
    color:white;
    background:#009DAC;
    font-family: Gotham-Light;
    font-size: 16px;
    display: block;
    /* border-width: 2px;
    border-style: solid; */
    padding: 5px 24px;
    min-width: 85%;
    border-color: #009DAC;
    margin: 0px 0px 0px 20px;
}
.THIS .manageBtn:hover{
    color:white;
    background:#23527c;
    border-color: #009DAC;
}