.THIS .headerBackground header{
    background: antiquewhite;
}

.THIS .slds-dropdown_right{
    right: 1.5rem !important;
    top: -7.5rem !important;
}

.THIS.slds-dropdown_right{
    right: 1.5rem !important;
    top: -7.5rem !important;
} 

.THIS.tdcolor {
    background-color:#ACE8F4;
}

.THIS.tdcolorContact {
    background-color:#ACE8F4;
}

.THIS .disable a{
    color: rgba(0, 109, 204, 0.52);
    pointer-events: none;
}

.THIS .tasksPopOver .ahm-nubbin-width-large{
    min-width: 40vw !important;
    max-width: 45vw !important;
}