.THIS.conatinerDiv{
 width:100% !important;
    margin : 30px auto;
}
.THIS .ideaTitle{
    font-size: 36px;
    line-height: 38px;
    color: #17232E;
    padding-bottom: 20px;
    font-family: Gotham-Light !important;
}
.THIS .Paragraph{
    font-size: 16px;
    color: #666;
    font-family: "Gotham-light";
    margin: 0px !important;
}
.THIS .paragraphHeading {
    color: #666;
    font-family: "Gotham-medium";
    font-size: 24px;
    padding: 0px;
}
.THIS .bottom-border{
    border-top:1px solid #eee;
    padding:50px 0;
}
 @media only screen and (max-width : 768px) {
       .THIS .ratingcls{
  width:100% !important;
    }
}