.THIS .slds-button_brand{
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    border: none;
    transition: border .15s linear;
    border-color: #009dac;
    background-color: #009dac;
    color: #ffffff !important;
    -webkit-appearance: button;
    cursor: pointer;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    font-size: 14px;
    box-shadow: 0 2px 2px 0 hsla(0,9%,4%,.2);
    border-radius: 2px !important;
}
.THIS .commentstyle{
    box-shadow: 0 2px 2px 0 hsla(0,9%,4%,.2);
    border-radius: 2px !important;
    border-color: #009dac;
    font-family:Gotham-light;
    background-color: #009dac;
    color: #ffffff !important;
    -webkit-appearance: button;
    cursor: pointer;
    font-weight: 500 !important;
    text-transform: uppercase !important;
}
.THIS .slds-button_brand:hover{
    background-color: #3fb5c0;
}
.THIS .padaround{
    margin: 0px;
    padding: 30px 0px 30px 0px;
    
}
.THIS .parasize{
    font-size: 30px;
}
.THIS .parasize1{
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family:Gotham-light;
}
.THIS .listsize{
    font-size: 16px;
}
.THIS .PhonecaseContent{
    width: 100%;
    display: inline-flex;
}
.THIS .nameMob{
    font-size: 17px;
    font-family: gotham-medium;
}
.THIS .paddngdate{
    padding-left: 4px;
}
.THIS .displayinline1{
    display: inline-flex;
    font-size: 18px;
    font-family: Gotham-medium;
}
.THIS .displayinline{
    padding-left:20px;
    padding-top:5px;
    display: inline-flex;
    width: 100%;
    font-family: Gotham-light;
}
.THIS .header{
    font-size: 30px;
    font-family: Gotham-light;
    margin-top: 20px;
    margin-bottom: 20px;
}
.THIS .paddingleftdiv{
    font-family: Gotham-medium;
}
.THIS .headerdescinfo{
    font-size: 24px;
    font-family: Gotham-light;
    margin-top: 20px;
    margin-bottom: 20px;
}
.THIS .slds-button_brand {
    font-size: 14px;
    font-family: Gotham-light;
}

.THIS .addCommentsbtn>.slds-button ,.THIS .saveandCancel>.slds-button{
    background-color: #009dac;
    font-family: Gotham-Light !important;
    color: #ffffff !important;
    text-transform: uppercase;
    border-radius: 0px;
    box-shadow: 0 2px 2px 0 hsla(0,9%,4%,.2);
    font-weight: 500 !important;
    
}
.THIS .addCommentsbtn>.slds-button ,.THIS .saveandCancel1>.slds-button{
    background-color: #009dac;
    font-family: Gotham-Light !important;
    color: #ffffff !important;
    text-transform: uppercase;
    border-radius: 0px;
    box-shadow: 0 2px 2px 0 hsla(0,9%,4%,.2);
    font-weight: 500 !important;
    
}
.THIS .addCommentsbtn>.slds-button ,.THIS .saveandCancel12>.slds-button{
    background-color: #009dac;
    font-family: Gotham-Light !important;
    color: #ffffff !important;
    text-transform: uppercase;
    border-radius: 0px;
    box-shadow: 0 2px 2px 0 hsla(0,9%,4%,.2);
    font-weight: 500 !important;
}
.THIS .padbutnleft{
    padding-left:4px;
}
.THIS .slds-file-selector__dropzone {
    /*margin-bottom: 20px;*/
    border: none;
}
.THIS .slds-form-element__label:empty {
    display:none !important;
}
.THIS .slds-file-selector_files .slds-file-selector__button{
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Gotham-light;
    background: #009dac;
    color: white;
    border-radius: 1px;
    border: none;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 hsla(0,9%,4%,.2);
}
.THIS .slds-file-selector__dropzone svg:not(:root), .THIS .slds-file-selector__dropzone .slds-file-selector__text {
    display: none;
    
}
.THIS .casecommentsize{
    font-size: 16px;
}
@media screen and (min-width:480px) and (max-width:991px){
    .THIS span.slds-file-selector__button.slds-button.slds-button_neutral {
        line-height: 1.875rem;
        max-height: 60px;
        padding-top: 10px;
        padding-bottom: 10px;
        box-shadow: 0 2px 2px 0 hsla(0,9%,4%,.2);
        border-radius: 2px!important;
    }
}
@media screen and  (min-width:1024px){
    .THIS .alertcls{
    
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    border-radius: 4px;
    line-height: 1rem;
    margin-bottom: 10px;
    font-family: Gotham-light;
}  
}
@media screen and  (max-width:991px){
    .THIS section.slds-modal.slds-fade-in-open.slds-modal_small .slds-modal__container.mContainer {
        margin-top: -24%;
        max-width: 550px;
    }
}
@media screen and  (max-width:767px){
    .THIS section.slds-modal.slds-fade-in-open.slds-modal_small .slds-modal__container.mContainer {
        margin-top: 5%;
        max-width: 550px;
    }
}
@media screen and  (max-width:479px){
    .THIS button.slds-button.slds-button_brand {
        font-size: 12px;
        
    }
    .THIS .responsivecls{
        text-align: center;
    }
    .THIS .lightning-primitive-file-droppable-zone{
        text-align: center;
        line-height: 0px; 
    }
    .THIS .responsivecls1{
        margin-top: 10px;
    }
    .THIS .fileUploadCustom{
        line-height:0;
        height:45px;
        padding-top:6px;
    }
    .THIS .commentstyle {
    	font-size: 14px;
	}
}
.THIS .slds-input {
    height:200px;
}
.THIS .boxwidthcls{
    padding-top:15px;
    padding-bottom:15px;
}
.THIS .alertcls{
    padding: 16px 48px;
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    border-radius: 4px;
    margin-bottom: 10px;
    font-family: Gotham-light;
}
.THIS .alertpara{
    font-size: 16px;
    padding: 4px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
}
.THIS .saveandCancel1{
    padding-left: 40px;
    padding-right: 40px;
}
.THIS .saveandCancel{
    padding-left: 30px;
}
.THIS .slds-textarea {
    height: 210px;
}
.THIS .casenumbercss{
    font-family:Gotham-light;
    font-size: 32px;
    line-height: 38px;
    color: #17232E;
    padding: 5px;
}