.no-pad {
    padding: 0 !important;
    margin:  0 !important;
}
.border-top-lightgray {
    border-top: 1px solid lightgray;
}
.scroll {
    overflow-y: auto;
    overflow-x: auto;
    max-height: 200px;
}