.radioDiv{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.radioLabel{
    width:-webkit-fill-available;
    word-wrap:break-word;
    text-align: left;
}
.slack-buttons{
    font-size: 12px;
    height: 25px;
}
.slack-block{
    margin:7px 0px;
}
lightning-button button{
    color: #56C6FF;
    background: #fff;
    border: 1px solid #56C6FF;
}
.slds-radio_faux {
    float: right;
}
.radioButtons span.slds-radio {
    padding: 4px;
    height: 28px;
    margin: 7px;
    border: 1px solid #c1c1c1;
    border-radius: 2px;
}
.su__scroll-screen {
    /* height: calc(100vh - 148px)!important; */
    height: calc(100% - 125px)!important;
    overflow: auto;
    padding: 0px 8px;
}
.radioButtons span.slds-checkbox {
    padding: 4px;
    height: 28px;
    margin: 7px;
    border: 1px solid #c1c1c1;
    border-radius: 2px;
}
.slds-checkbox_faux {
    float: right;
}

.checkboxLabel{
    width:-webkit-fill-available;
    word-wrap:break-word;
    text-align: left;
}
.checkboxDiv{
    display:flex;
    justify-content:space-between;
    align-items:center;
}