.THIS .nopointer{
    cursor : unset;
    margin-right : 10px;
}
.THIS .slds-icon-action-password-unlock {
    background-color: #65CAE4 !important;
}
.THIS  #error {
    text-align: center;
    color:#FF0000;
    font-size: 15px !important;
}
.THIS .termserror{
    text-align: unset  !important;
    color : red  !important;
}
.THIS .slds-box{
    padding: 0.3rem;
    border: none;
}

.THIS .slds-box lightning-icon{
    margin-right: 18px;
}

.THIS .width80{
    width:80%;
}
.THIS .slds-input{
    border-width: 0px;
    padding: 6px 12px;
    background: #FFFFFF;
    border: 1px solid #6C7174;
    border-radius: 4px;
    font-size: 17px;
}

.THIS .slds-input:focus{
    box-shadow: none;
}

.THIS .submit-button, 
.THIS .req-access{
    padding: 20px 30px;
    height: 32px;
    background: #00D3C1;
    border-radius: 60px;
    color: #070F52;
    font-size: 13px;
    border: none;
}
.THIS .submit-button:hover,
.THIS .req-access:hover{
    background: #070F52;
    color: #FFFFFF;
}
.THIS .flex-box {
    display: flex;
    align-items: center;
}
.THIS .link {
    font-size: 18px;
    line-height: 120%;
    color: #123A7B;
}
.THIS .text-17 {
    font-size: 17px;
}
.THIS .no-padding {
    padding: 0;
}
.THIS .login-parent{
    width: 400px;
    height:400px
}