.noLink{
	color: #6C7174;
}
.footerLabel{
	color: #6C7174;
	margin-left:-1rem; 
	margin-top:0.15rem;
	opacity: 0.9 !important;
}
.pc-footer {
	width: 100%;
	max-width: 90%;
	margin: auto;
	font-family: "Inter-Regular";
}
.slds-align_absolute-center {
	justify-content: flex-start;
}
.footer-parent{
    position: relative;
	z-index: 2;
	background-color: #ffffff;
}