.THIS .Mainheader{
    background-color: #474747 !important ;
    color: #ffffff !important
}

.THIS .BlackHeader{
    height: 35px;
}

.THIS .buttonColor1{
    margin-left:  25px;
    cursor: pointer;
}

.THIS .unlockClass{
        margin-left: 20px;
}
.THIS .FirstColWidth{
    width: 25%;
}

.THIS .ColWidth{
    width: 15%;
}

.THIS .timeEntryCol {
    width:10%;
    padding:4px;
}
.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}