.THIS .image {
    border-radius: 50%;
    height: 70px;
    margin-right: 10px;
    object-fit: cover;
    width: 70px;
    max-width: none;
    box-shadow: 0 0 1px 0 #c4c4c4 inset, 0 0 1px 0 #c4c4c4;
}
.THIS .icon svg {
    fill: #009dac;
}

.THIS .points {
    color: black;
    font-weight: bold;
}

.THIS .name {
    color: black;
    font-family: gotham-light;
    font-size: 18px;
}

.THIS .rank {
    color: grey;
    font-family: gotham-light;
    font-size: 14px;
}

.THIS .layered {
  display: grid;
  align-items: end;
}

.THIS .layered > * {
  grid-column-start: 1; 
  grid-row-start: 1; 
}

.THIS .rubrik {
    z-index: 1;
    width: 100%;
    margin-left: 50px;
}
.THIS .author {
    color: grey;
}
.THIS .user-position{
    float: left;
    width: 8%;
    color: black;
    font-size: 18px;
}