.THIS .customRequired{
    font-weight: 400; 
} 
.THIS .customRequired:before{    
    content: "*";
    margin: 0 0.125rem 0 0.125rem;
    color: rgb(194, 57, 52);
    float: left; 
}
.THIS .slds-dropdown-trigger{    
   display : block !important;
}
.THIS .none{
    display:none; 
}
.THIS .form-element__helpError {
    color: rgb(194, 57, 52);
}
.THIS .slds-has-error [role=combobox] input[readonly] {
    border-color: rgb(194, 57, 52);
}
.THIS .slds-card__body .slds-text-heading_medium{
    font-size: 20px;
    line-height: 115%;
    color: #070F52;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 12px;
}
.THIS .slds-card__body{
    width: 50%;
}
.THIS .custom-upload-button .slds-form-element .slds-button_neutral{
    border-radius: unset !important;
    border-bottom: 0 !important;
    cursor: pointer;
}
.THIS .custom-upload-button .slds-form-element .slds-button_neutral:hover{
    background-color: unset !important;
    color: #070F52 !important;
}