.THIS.c-container {
    border: 1px solid #01050e;
    margin: 10px 0 20px;
}
.THIS .left-align {
    text-align: left;
}
.THIS .right-align {
    text-align: right;
}
h1 {
  font-size: 20px;
}
.x-large {
    height: 250px;
}
.popup-container {
    max-width: 60rem !important;
    width: 5% !important;
}