.workload-box{
    box-sizing: border-box;
    border: 2px solid #9dabbb;
    background-color: #154467;
    width: 100%;
    font-weight: 500;
}
.workload-ele{
    color: #e5e9ed;
    padding: 5px 10px 5px 10px;
}
.workload-ele:hover{
    background-color: #bac9d1;
    cursor: pointer;
    color: #FFFFFF;
}
.workload-entry-box{
    /*box-sizing: border-box;*/
    border: 2px solid #9dabbb;
    background-color: #154467;
    color: #e5e9ed;
    padding: 10px;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.workload-entry-header{
    /* padding-bottom: 25px; */
    font-weight: 700;
    padding-bottom: 5px;
}
.workload-entry-close-icon{
    padding-right: 5px;
}
.workload-entry-button{
    text-align: right;
}
.workload-entry-cell{
    text-align: right;
}
.workload-entry-row td:first-child{
    padding-right: 10px;
}
.scrollable-textarea {
    width: 476px !important;
    height: 404px;
    overflow-y: auto;
    background-color: #154467;
    color: white;
}
.workload-entry-row-header{
    border-bottom: white 2px solid;
}
.workload-entry-row-header th{
    padding: 5px 0;
}