.su__steps-bullets {
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
}

.su__featured-feedback {
    width: 34px;
    height: 34px;
    background: #ffffff;
    border-radius: 50px;
    opacity: 0.9;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 2px solid #3E384A;
}

.su__feedback-steps .su__thankyou-text {
    background: #7AA25D24;
    border-radius: 5px;
    padding: 5px 6px;
    color: #3C7711;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
}

.su__fs-media {
    margin-right: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    overflow: hidden;
    width: 25%;
}

.su__fs-multimedia-main .su__feedback-thankyou {
    padding: 5px;
}

.su__fs-multimedia-main .su__thankyou-text {
    background: #3C7711;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

.su__FeaturedSnippetQuestionAnswer .su__thankyou-text {
    background: #7AA25D24;
    border-radius: 5px;
    padding: 5px 8px;
    color: #3C7711;
}

.su__fs-inner-media .su__featured-thumbnail img {
    border-radius: 5px;
}

.su__thankyou-textQuestionAnswered {
    background: #285607 !important;
    border-radius: 5px;
    padding: 5px 8px;
    color: #fffffff5 !important;
}

.su__right-QuestionAnswer {
    right: 50px !important;
}