.THIS .padleft{
        padding-left: 8px;
}
.THIS .slds-button_brand{
        background: rgb(0,157,172);
    border: 1px solid rgb(0,157,172);
    border-radius: 3px;
}
.THIS .uploadfilecls{
    min-height: 450px;
            font-size: 16px;
    font-family: Gotham-light;
}
.THIS .slds-form-element__label{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.THIS .idsize{
   margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    font-family: Gotham-light;
}
.THIS .slds-file-selector_files .slds-file-selector__text{
    display:none;
}
.THIS .hrcls{
    overflow: hidden;
    height: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
    width: 47%;
    margin: 1rem 0;
}
.THIS .uploadparatextcls{
    margin-bottom: 20px;
}
.THIS .slds-button_brand:hover{
        background-color: #3fb5c0;
    border-color:  #3fb5c0;
    color: rgb(255, 255, 255);
}
.THIS .slds-button_brand:active{
     background-color: #3fb5c0;
    border-color:  #3fb5c0;
}
.THIS .slds-button_brand:focus{
      background-color: #3fb5c0;
    border-color:  #3fb5c0;
    color: rgb(255, 255, 255);
}


.THIS .uiButton--brand {
        color: white !important;
    border: red !important;
    background: red !important;
}

.THIS .slds-file-selector__dropzone .slds-file-selector__button{
    font-size: 0;
    background-color: #FFFFFF;
    padding: 16px 14px;
   
}
.THIS .slds-file-selector__dropzone .slds-file-selector__button:before{
    content: 'Choose Attachment';
    color: #444444;	font-family: "Segoe UI";	font-size: 14px;
}

.THIS .slds-file-selector__dropzone .slds-file-selector__button .slds-button__icon{ /*For the icon*/
    display: none;
}
.THIS .slds-file-selector__dropzone{ /*For the icon*/
   border : none;
}
.THIS .slds-file-selector__dropzone > .slds-medium-show{
     display: none;
}
.THIS .slds-file-selector__text.slds-medium-show{display:none;}
.THIS .slds-file-selector__dropzone > .slds-form-element__control{
     
}
.THIS lightning-input {
    width: 46%;
}