.THIS .image {
    height: 120px;
    width: 120px;
}

.THIS .points {
    font-weight: bold;
    font-family: gotham-light;
    font-size: 18px;
}

.THIS .activePoints {
    color: black;
}

.THIS .inactivepoints {
    color: grey;
}

.THIS .name {
    color: black;
    font-family: gotham-light;
    font-size: 18px;
}
.THIS .badge-items{
    display: grid;
}

.THIS .inactive {
    filter: contrast(0.5);
  }