.THIS {
}
.THIS .slds-m-top--x-large {
     margin-top: 0rem !important; 
}
.THIS .badge-background {
    background-color: rgb(107, 109, 112)!important;
    color: white;
   /* background-color: rgb(0, 157, 166);
    width: 20%;*/
}
.THIS .custom-box1 {
    width: 20%;
    text-align: center;
    background-color: rgb(0, 157, 166);
    border: 1px solid #d8dde6;
}