.su__side-Search-tips,
.su__facetPrefrence,
.su__anim-fadeindown {
    font-family: Montserrat, sans-serif !important;
}
.su__side-Search-tips {
    z-index: 11;
    right: 0;
    bottom: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.su__side-Search-tips-on {
    z-index: 11;
    right: 182px;
    bottom: 47%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.su__customized__settings {
    flex-direction: column;
    display: flex;
    z-index: 99;
    background: #fff;
    width: 205px;
    box-shadow: 0px 3px #f5f5f5;
    border: 1px solid #ebebeb;
}

.su__customized__settings-inner {
    display: flex;
    align-items: center;
    height: 36px;
}

.su__customized_switch_slider.round:before {
    border-radius: 50%;
}

.su__customized_switch input:checked+.su__customized_switch_slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.su__customized_switch_slider:before {
    position: absolute;
    content: "";
    height: 9px;
    width: 10px;
    left: 4px;
    bottom: 4px;
    background-color: white;
}

.su-customize-hr {
    height: 0.1px;
    width: 9.7rem;
    margin: 0px 2rem 0px 5px;
    border-style: ridge;
    padding: 0px;
}

.su__side-customized-gear {
    right: -22px;
    bottom: calc(50% - 44px);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding: 10px;
}

.su-customize_bg-overlay {
    content: "";
    position: fixed;
    background: rgb(255 255 255 / 0%);
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.su__facetPrefrence {
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.su__anim-fadeindown {
    -webkit-animation: fadeInDown 400ms both;
    animation: fadeInDown 400ms both;
}

.su__editClient {
    z-index: 101;
    top: 10%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    width: calc(80vw);
    left: 10.5%;
    animation: fadeInDown 300ms both;
}

.su-customize-filters {
    background: rgba(0, 0, 0, 0.48);
}

.su-bg-overlay {
    content: "";
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.su-row {
    border: 1px solid #919BB0;
    padding: 10px 14px 10px 22px;
    border-radius: 4px;
    margin-bottom: 12px;
    box-shadow: 3px 3px 3px 0 #ccc;
    cursor: grab;
    font-size: 14px;
    color: #A4A3A6;
    font-weight: 500;
}

.su__bookmark-popup {
    width: calc(33vw);
    left: 33.5%;
    top: 100px;
}

.su-btn-blue {
    border: 1px solid #55c6ff;
    background-color: transparent;
    color: #55c6ff;
    padding: 7px 18px;
}

.su-bg-overlay-Reset {
    z-index: 101 !important;
}

.su-display .toggleKey {
    border-right: 1px solid #464646;
    padding: 2px 5px;
}

.su-display .toggleDisplay {
    padding: 0px 7px;
    margin-left: auto;
}

.su-display .toggleDisplay .bg-show,
.su-display .toggleDisplay .bg-hide {
    display: inline-block;
}

.su-display .toggleDisplay .bg-show svg,
.su-display .toggleDisplay .bg-hide svg {
    vertical-align: top;
}

.su__editClient .editDiv {
    border-bottom: 1px solid #80808054;
    display: block;
    padding: 15px 10px;
}

.su__list-items .su-icon {
    display: inline-block;
    float: left;
}

.su__merge-options {
    position: absolute;
    background: #fff;
    z-index: 105;
    top: 44px;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
}

.su__merge-options-child {
    border-bottom: 1px solid #eaeaea;
    min-height: 34px;
    height: 34px;
    align-items: center;
    justify-content: start;
    font-size: 15px;
    font-weight: 400;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
}

.su-customize .su__merge-options-child {
    color: #a0aabe;
}

.su__merge-options-child:last-child {
    border-bottom: none;
}

.su__advance-overlay {
    z-index: 103;
    background: transparent;
}

.su__ml-10 {
    margin-left: 10px
}

.su__merge-options-active {
    background: #6aa0fa8a 0% 0% no-repeat padding-box !important;
    opacity: 0.7;
    color: #171D26 !important;
}

.su__customized_switch_slider {
    position: absolute;
    cursor: pointer;
    inset: 0px;
    background-color: rgb(204, 204, 204);
}

.su__customized_switch_slider.round {
    border-radius: 34px;
    height: 16px;
    margin-left: 5px;
    width: 30px;
}

.su__customized_switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 16px;
}

.su__customized_switch input:checked+.su__customized_switch_slider {
    background-color: rgb(60, 155, 245);
}

.su__gear-min-width {
    min-width: 30px;
}
.droparea{overflow: auto; max-height: 330px;}
.applyChangesBtn{opacity: 0.5 !important;pointer-events: none !important; cursor: not-allowed !important;}