.showFormBlock {
	display: block;
}

.progress-Class {
	padding: 3px;
}

.mainFormDiv {
	display: none;
}

.slider-Advance {
	cursor: pointer;
    background: white;
    border: #c7c2c2 1px solid;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formDiv {
	padding: 15px 35px;
	position: absolute;
	z-index: 99;
	right: 0;
	width: 19.5vw;
	box-shadow: 0 20px 20px #bababa;
	background: #fff;
}

.refineSearchBox {
	margin: 0 auto;
}

.refineSearchBox .slds-input {
	padding: 6px 12px !important;
}