.THIS .standardwidth{
    width:100%;
    margin: auto;
    border-bottom : 1px solid #fff;
    padding : 15px 0px;
}
.THIS .bottomFooterSection{
    padding : 20px 0px;
}
.THIS .footerContent{
    width: 100%;
    margin: auto;
    padding: 0 100px;    
}
.THIS.containerDiv {
    background:#001F2B;
}
.THIS .footerline {
    height: 1px !important;
    margin-top: 5px !important;
    margin-bottom: 20px !important;
    border: 0 !important;
    border-top: none !important;
    background-color: rgb(255,255,255,0.2) !important;
}
.THIS .footerListHead {
    box-sizing: border-box;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top:14px;
    padding-bottom:1px;
    font-family: Gotham-light;
}
.THIS a.footerLink {
    color: #FFFFFF;
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 28px !important;
    color: hsla(0,0%,100%,.8) !important;
    -webkit-transition: all .2s ease-in-out !important;
    transition: all .2s ease-in-out !important;
    opacity: .9 !important;
    text-decoration: none;
    font-family: Gotham-light;
}
.THIS   a.socialcolor {
    color: #FFFFFF !important;
}
.THIS a.footerlink:hover {
    color: #FFFFFF;
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 28px !important;
    color: hsla(0,0%,100%,.8) !important;
    -webkit-transition: all .2s ease-in-out !important;
    transition: all .2s ease-in-out !important;
    opacity: 1 !important;
    text-decoration: none;
    color : rgba(255, 255, 255, 0.8) !important;
}

.THIS .footertext {
    color: hsla(0,0%,100%,.8) !important;
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 24px !important;
}

.THIS .footerbottomleft{
    /*margin-left:-15px;*/
    opacity: 0.8 !important;
}

.THIS .footerbottomright{
    font-family : Gotham-Light;
    opacity: 0.8 !important;
    
}
.THIS .bullet{
    padding:10px;
}
.THIS .para{
    font-family: Gotham-Light;
    color: hsla(0,0%,100%,.8) !important;
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 24px !important;
    max-width : 270px;
}
.THIS .bgcolor{
    background:black;
    padding-left:20px;
}       
.THIS .imgcls{
    max-width: 100%;
    width: 50px;
}
.THIS.clsnone{
    display:none;
}
.THIS .paddingleftcls{
    /*padding-left:15px;*/
}
.THIS .footerbottomright{
    text-align: right;
    font-size:14px;
    color: hsla(0,0%,100%,.8)!important;
}
.THIS .footerbottomleft{
    font-size:14px;
    color: hsla(0,0%,100%,.8)!important;
}
.THIS.cSitefooter .slds-icon-text-default{
    color: white;
    /* background: blue; */
    /* position: fixed; */
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.32);
    background-color: #009DAC;
    color: #fff;
    border: none;
    border-color: #009DAC;
    position: fixed;
    bottom: 0px !important;
    right: 40px;
    /* background: #fff; */
    color: white;
    padding: 12px;
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    opacity: 1;
    border: 1px solid #009dac;
    z-index: 100;
}
.THIS .slds-icon-text-default {
    fill: white;
}
.THIS .paddingleftfooter{
    padding-left: 18px;
}
.THIS .sentryAiImageBottom{
    width: 12%;
    margin-top: 10px;
    cursor: pointer; /*Ticket : CS21-1268 - Added cursor: pointer; */
}
.THIS .textAlignEnd{
    text-align: end;
}
@media only screen and (max-width:1024px){
    .THIS .footerContent{
        width : 100%;
        margin: auto;
    }
    /*.THIS .para{
        padding : 0px 15px;
    }*/
    .THIS .socialIcons{
        padding : 15px 0px;
    }
    .THIS .bottomFooterSection {
        padding: 20px 0;
        width: 100%;
    }
    /*.THIS .standardwidth {
        padding : 15px 20px;
    }*/
    .THIS .footerContent{
    padding: 0 80px;    
    }
    .THIS .sentryAiImageBottom{
        width: 16%;
        margin-right: 0px;
        margin-top: 10px;
    }
}
@media(max-width:1432px){
    .THIS .sentryAiImageBottom{
    width: 17%;
    margin-top: 10px;
    }
}
@media(max-width:991px){
   .THIS .paddingleftfooter {
    padding-left: 0;
    }
    .THIS .footerContent{
    padding: 0 20px;
    }
    .THIS .sentryAiImageBottom{
        width: 15%;
        margin-top: 10px;
    }
}
@media(max-width:600px){
    .THIS .sentryAiImageBottom{
    width: 20%;
    margin-top: 10px;
    }
}