.THIS .titleName{
    font-size: 20px;
    font-family: Gotham-medium;
    padding-left: 2rem;
    padding-top: 0.3rem;
    color: #4a4a4a!important;
    text-decoration: none;
    transition: color .1s linear;
}