.parentPopUpClass {
    border:1px solid red;
}

.scroll {
    border:1px solid rgb(214, 211, 211);
    border-radius: 5px;
    width:100%;
    max-height:400px
}
.example-accordion { 
    --slds-c-accordion-heading-text-color:#3A9BDC;
    --sds-c-accordion-summary-color-background:#e2e2e2;
}
.paddingBottom {
    padding-bottom: 15px;
}
.footer {
    height:20px;
}
.attachments {
    border:0px;
}
.attachments a:visited {
    color: #0176d3 !important;
}
.preview-child .attach{border-bottom: 1px solid #E5E5E5;margin: 2px 6px 10px;}