.buttonClass{
   /* display: block; */
    /* margin: 1px 10px 10px 0px; */
	color: white;
} 
.calculation_Area_Items{
    display: inline-flex;
    align-items: center;
    /* width: -webkit-fill-available; */
	border-bottom: 2px solid white;
	padding-bottom: 15px;
    width: 100%;
}
.accountsSection{
    margin: 0px 4% 0px 1%;
    background-color: #154467;
    clip-path: polygon(0% 0%, 81.6% 0%, 100% 50%, 81.6% 100%, 0% 100%, 0.1% 50.5%);
    width: 9%;
    box-shadow: inset 0px 1px 4px;
}
.calculationItems{
    margin-right: 6%;
}
.entitlementUpgrades{
    color: #0097a7;
    font-size: 40px;
	font-weight: 600;
}
.entitlementLand{
    color: #0097a7;
    font-size: 40px;
	font-weight: 600;
}
.capacityAlerts{
    color: #f1a745;
    font-size: 40px;
	font-weight: 600;
}
.estimatedPotentil{
    color: #0097a7;
    font-size: 40px;
	font-weight: 600;
}
.account{
    margin-left: 15px;
    font-size: 40px;
	font-weight: 600;
    color: #eeeeee;
}
.utilityButtonIcon {
	text-align: end;
	/* margin: 1px 10px 10px 0px; */
	margin-right: 10px;
}

.cheveronRightClass {
    --sds-c-icon-color-foreground-default : white
}
.collapse-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: white;
}