.THIS .is-required label{
    display:none;
}
.THIS .subjectCSS{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 31rem;
}
.THIS .KcsAndSupportFields{
    margin-bottom:21px !important;
}
.THIS .redborder lightning-input-rich-text .slds-rich-text-editor{
    border: 1px solid rgb(194, 57, 52);
}
.THIS .headerButtons{
    padding-top: 35px;
}
.THIS .permanentFixAndCreatedDate .slds-form-element__legend{
    font-weight:inherit;
}
.THIS .EmailTemplateFields label{
    font-weight: bold;
    background:yellow !important;
    color:black !important;
}
.THIS .EmailTemplateFields .slds-form-element__label{
    font-weight: bold;
    background:yellow !important;
    color:black !important;
}
.THIS .hideButton button{display:none;}
/*.THIS .uiInput--checkbox:checked {
    border-color: rgb(21, 137, 238);
    box-shadow: 0 0 3px #0070D2;
}*/
.THIS .hideField{
    display:none;
}