.boxContainer{
    padding: 1rem 1rem 0.5rem 1rem;
    border-radius: 0.25rem;
    border: 1px solid #c9c9c9;
  }
  .checkboxConatainer{
    overflow: auto;
    max-height: 130px;
    padding: 3%;
}
.checkboxConatainer::-webkit-scrollbar {
    width: 5px;
    height:5px
  }
  
  
  .checkboxConatainer::-webkit-scrollbar-track {
    background: #f1efef; 
  }
   
  
  .checkboxConatainer::-webkit-scrollbar-thumb {
    background: #0098a8; 
  }
  
  
  .checkboxConatainer::-webkit-scrollbar-thumb:hover {
    background: #017f96; 
  }