.THIS .slds-table_header-fixed_container{
    padding-top: 0;
}
.THIS .slds-cell-fixed{
    position: unset;
}
.THIS .slds-table_header-fixed_container[lightning-datatable_table] > .slds-scrollable_y[lightning-datatable_table]::before{
    border-bottom: 0;
}
.THIS .slds-lookup__search-input{
    border: 0 !important;
    background: #F6F9FC !important;
    color: #070F52 !important;
    font-size: 13px;
    line-height: 20px;
}
.THIS .slds-lookup__search-input::placeholder{
    color: #070F52 !important; 
}
.THIS .slds-input-has-icon .slds-button_icon .slds-button__icon:hover{
    fill:#ffffff !important;
}
.THIS .slds-button_icon:hover{
    background-color: unset;
    color: #070F52;
}