.dummy{
	color : black;
}
.tooltip {
    pointer-events: visible!important;
}
.InputFieldCss{
    padding-right: 2%;
    padding-left: 1%;
}
.NoResult{
     padding-left: 1%;
}
.MainDiv{
    min-height: 150px;
}
.buttoncss{
     padding-left: 1%;
}
.modal-body{
    height: 160px !important;
}