.border-gray {
    border: 1px solid #d3d3d3;
    padding: 0.5rem;
}

.slds-col p {
    margin: 0; 
}

.th-heading{
    background-color: rgb(243, 243, 243) ;
    font-weight: 700 ;
    color: rgb(68, 68, 68);
    font-size: 0.75rem;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: .0625rem;
}

.exampleHolder{
    position: relative;
    display: inline-block;
    margin-left: 15px;
    width: 55px;
    vertical-align: middle;
    white-space: nowrap;
}