.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 500px;
  background-color: grey;
  color: white;
  text-align: left;
  border-radius: 6px;
  padding: 5px 10px;

  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;

  position: absolute;
  z-index: 1;

  /*box-sizing: border-box;*/
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* indentation levels — adjust padding as needed */
.indent-0 { padding-left: 0.2rem; display:inline-block; min-width:2.2rem; }
.indent-1 { padding-left: 0.6rem; display:inline-block; min-width:2.2rem; }
.indent-2 { padding-left: 1.0rem; display:inline-block; min-width:2.2rem; }
.indent-3 { padding-left: 4.5rem; display:inline-block; min-width:2.2rem; }