.THIS .nopad{
    background-color: #f1f1f1;
    padding:0px;
}
.THIS #container{
    scroll-behavior: smooth;
}
.THIS .innerClass{
    font-family: Gotham-Light !important;
    color: #4A4A4A;
    font-size:16px;
}

.THIS .isAcArrow{
    background-color: #009dac!important;
    pointer-events: auto !important;
    cursor: pointer !important;
}
.THIS .videoBlockSection {
    width: 90% !important;
    margin: 0 auto !important;
}
.THIS .slds-modal__content a{
        color: #009dac!important;
    text-decoration-line: none;
        font-size: 16px;
    font-family: Gotham-medium;
}
.THIS .slds-modal__content a:hover{
        color: #23527c !important;
    text-decoration-line: none;
}
.THIS .videosHeading {
    font-size: 50px;
    font-family: "Gotham-Light";
    margin: 50px 0px 28px 0px;
    color: #4a4a4a;
    text-align: center;
}
.THIS .underlinenone{
    text-decoration-line: none !important;
}
.THIS .nopad1{
    margin-bottom: 15px;
    text-align: center;
}
.THIS .seeAllVideosLink {
    font-size: 15px;
    color: #009dac !important;
    cursor: pointer;
    text-transform: uppercase;
}
.THIS .imageIcon{
    width:80%;
}
.THIS .imgwidth{
    width:75%;
}
.THIS .paraheadersize{
    font-size: 50px;
    font-family: "Gotham-Light";
    margin: 0px 0px 28px 0px;
    color: #4a4a4a;
}
.THIS #container {
    width: 100%;
    display: flex;
    
    overflow-x: hidden;
}
.THIS.containerDiv{
    background-color: #f1f1f1;
}
.THIS .Title{
    text-decoration-line: none !important;
    font-size: 23px;
    color: #4a4a4a;
    font-weight: bold;
    margin: 20px 0 0 0 !important;
    text-align: left;
    /* padding-left: 10% !important; */
    max-width: 264px;
    font-family: Gotham-Light;
}
.THIS .summary{
    color: #4a4a4a;
    margin: 20px 0 0 0 !important;
    text-align: left;
    /* padding-left: 10% !important; */
    max-width: 200px;
    font-family: Gotham-Light;
    font-size: 15px;
}
.THIS .utilitycls{
    border: 1px solid;
    border-radius: 25px;
    background: #ccc;
    border-color: #6b6bea;
    text-align: center;
    pointer-events: none;
}
.THIS .slds-icon-text-default {
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
}
.THIS .summary{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 18px;
    max-height: 75px;
    font-family: Gotham-light;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.THIS .title:last-child{
    border-bottom: none !important;
}
.THIS .Title{
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-flex;
    line-height: 33px;
    max-height: 66px;
    font-family: Gotham-light;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.THIS.utilitycls .slds-icon-text-default{
    border: 1px solid lightgrey;
    width: 26px;
    height: 24px;
    padding-right: 4px; 
}
.THIS .padtopbotm{
    padding: 50px 0 80px 0;
}
.THIS .paraheadersize1{
    margin-bottom: 40px;
    font-size: 15px;
    color: #009dac !important;
    cursor: pointer;
    text-transform: uppercase;
    font-family: Gotham-medium;
}
.THIS .alignright{
    float: right;
}
@media only screen and (min-device-width: 375px)  and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) { 
    .THIS .utilitycls {
        border-radius: 25px;
        text-align: center;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) and (orientation:portrait) {
    .THIS .utilitycls {
        border-radius: 25px;
        text-align: center;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) and (orientation:landscape) {
    .THIS .utilitycls {
        border-radius: 25px;
        text-align: center;
    }
}
@media only screen and (min-device-width: 1024px) {
    .THIS .utilitycls {
        border: 1px solid;
        border-radius: 25px;
        background: #ccc;
        border-color: #6b6bea;
        text-align: center;
    }
}
@media(max-width:480px){
    .THIS .Title {
    font-size: 20px;
}
}
.THIS .countryPH , .THIS .countryPH:hover {
    font-family: gotham-light;
    color: #009DAC !important;
    font-size: 17px;
    font-weight: 300;
}