.su__bookmark-icon {
    height: 35px;
    width: 35px;
    display: flex;
    border: 1px solid rgb(203, 202, 202);
    border-radius: 0px;
    background-color: white;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.su__show-bookmark-pos{width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    margin-right: 3px;
    justify-content: center;
}