.checkboxConatainer{
    overflow: auto;
    max-height: 130px;
    padding: 3%;
}
.checkboxConatainer::-webkit-scrollbar {
    width: 5px;
    height:5px
  }
  
  
  .checkboxConatainer::-webkit-scrollbar-track {
    background: #f1efef; 
  }
   
  
  .checkboxConatainer::-webkit-scrollbar-thumb {
    background: #0098a8; 
  }
  
  
  .checkboxConatainer::-webkit-scrollbar-thumb:hover {
    background: #017f96; 
  }
  .filterSectionButton{
      font-size: 13px !important;
      font-weight: 400 !important;
      --slds-c-button-line-height: 1.1rem;
      --slds-c-button-spacing-inline-start:5px;
      --slds-c-button-spacing-inline-end:5px
  }
  .boxContainer{
    padding: 1rem 1rem 0.5rem 1rem;
    border-radius: 0.25rem;
    border: 1px solid #c9c9c9;
  }
  .footerContainer{
    display: flex;
    justify-content: space-between;
    margin-top:5px
  }