.THIS .errordesign{
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    padding: 15px;
    font-family: Gotham-Light !important;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 18px;
    text-align: center;
}
.THIS .ps-contract-title{
    display: none !important;
}

.THIS .errorMessage{
    margin-bottom: 20px;
    padding-top: 0px;
}
.THIS .softwareDownloaded{
    height: 250px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    color: cadetblue;
}

.THIS .redirectText{
    font-size: 16px;
    color: #000;
    font-weight: normal;
}