.custom-popup-card{
	min-height: 595px;
	padding: 10px 22px;
	border: 1px solid #DFE1EE;
}
.custom-popup-card .cardBodyTag{
	text-transform: uppercase;
    display: inline-block;
}
.cardBodyheading{
	font-size: 20px;
    color: #070F52;
    font-weight: 600;
    display: inline-block;
}
.cardBodyDescription{
	width: unset;
	margin-bottom: unset;
}
.slds-card{
	margin-top: 20px;
    margin-bottom: 20px;
}