.su_main_cat {
  display: flex;
  color: #db2424;
  border-radius: 8px;
  width: max-content;
  padding-bottom: 5px;
  align-items: center;
}
.su_child_cat {
  padding-left: 20px;
}
:host {
  --sds-c-checkbox-color-background-checked: #3e7555;
  --sds-c-checkbox-mark-color-foreground: white;
  --slds-c-checkbox-color-border: #707070;
  --slds-c-checkbox-color-border: unset;
  --slds-c-checkbox-color-border-checked: #3e7555;
}

.iconexpcol {
  cursor: pointer;
}
.chkInp {
  padding-left: 4px;
  -webkit-text-fill-color: #42526e;
  font-family: 'Poppins Medium';
  font-weight: bold;
  font-size: 16px;
}
.datacatHead {
  color: #767676;
  font-family: 'Poppins Medium';
  font-size: 14px;
}

.pad {
  padding-left: 16px;
}