.link-items{
	display : grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 4rem;
}
.linkName{
	color: #070F52;
	font-size: 18px;
}
.arrow{
	--lwccolorTextIconDefault: #070F52;
	--slds-c-icon-color-foreground:#070F52;
	--sds-c-icon-color-foreground-default: #070F52;
}