.cardContainer {
	background-color: white;
}

.headerfont {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 5px;
}

.json-values{
    font-weight: normal;
    font-size: 15px;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.errorMsg{
  font-size: 12px;
  font-weight: normal;
}

.greyed-out button{
  color: grey;
}

.icons-div{
  display: flex;
  width: 100% !important;
  justify-content: flex-end;
  margin-right: 10px;
}