.THIS .borderalign{
    max-width: 850px;
    margin: 6.52% auto;
}
.THIS .topSection{
    font-size: 32px;
    color: #4a4a4a;
    padding-bottom: 5px;
    font-family: Gotham-Light!important;
}
.THIS .detailsInfo{
    font-size: 18px;
}