.THIS .name {
    font-size: 40px;
    color: white;
    font-family: gotham-light;
    font-weight: 500;
}

.THIS .points {
    font-size: 18px;
    color: white;
    font-family: gotham-light;
    font-weight: 300;
}