.THIS.headingClass {
    margin : 1% !important;
    color : #75726f !important;
}
.THIS .customRequired{
    font-weight: 400; 
} 
.THIS .customRequired:before{    
    content: "*";
    margin: 0 0.125rem 0 0.125rem;
    color: rgb(194, 57, 52);
    float: left; 
} 
.THIS .none{
    display:none; 
}
.THIS .form-element__helpError {
    color: rgb(194, 57, 52);
}
.THIS .slds-has-error [role=combobox] input[readonly] {
    border-color: rgb(194, 57, 52);
}

.THIS textarea {
  height: 5rem;
}

.THIS .removeborder{
    border: 0px;
}

.THIS .slds-p-around_medium{
  /*  height: 80% !important;*/
}
.THIS .slds-p-around_medium{
    height: 100% !important;
}
.THIS .slds-modal__container{
   /* width: 100% !important;*/
  /*  min-width: 80% !important;*/
}