.THIS .inputSize {
    width:100%; 
}
.THIS .inputSize input {
    border: 0px solid rgb(217, 219, 221);
    box-shadow: 0 0 0px #0070d2 !important;
}
.THIS .slds-listbox_horizontal .slds-pill__action{
    max-width:22vw;
}

.THIS .slds-listbox_horizontal .slds-pill__label{
    max-width:22vw;
}