.THIS {
}
.THIS .customRequired{
    font-weight: 400; 
} 
.THIS .customRequired:before{    
    content: "*";
    margin: 0 0.125rem 0 0.125rem;
    color: rgb(194, 57, 52);
    float: left; 
} 

.THIS .form-element__helpError {
    color: rgb(194, 57, 52);
}
.THIS .slds-has-error [role=combobox] input[readonly] {
    border-color: rgb(194, 57, 52);
}
.THIS .setMargin{
    margin-top: 5%;
}
.THIS .setMarginError{
    margin-left: 33%;
}
.THIS .paddingTop{
    padding-top: 8% !important;
}
.THIS .none{
    display:none; 
}
.THIS .slds-form-element_horizontal .slds-form-element__control, 
.THIS .slds-form_horizontal .slds-form-element .slds-form-element__control, 
.THIS .slds-form_stacked .slds-form-element_horizontal .slds-form-element__control {
    padding-left: 0;
}
.THIS .slds-form-element_horizontal .slds-form-element__label, 
.THIS .slds-form_horizontal .slds-form-element .slds-form-element__label,
.THIS .slds-form_stacked .slds-form-element_horizontal .slds-form-element__label {
    float: none;
}
.THIS .setMargin {
    margin-top: 0 !important;
}
.THIS .c-container {
    font-family: "Inter-Regular";
}
.THIS .margin-16-0 {
    margin: 16px 0;
}
.THIS .slds-card__header-title .slds-text-heading_small {
    font-size: 32px;
    font-family: "Inter-600";
    color: #070F52;
}
.THIS .slds-card{
    border: none;
}