.THIS .slds-form-element__label{
    font-size:14px;
    color:black;
    font-weight:bold;
    max-width:100% !important;
    
}
.THIS .Status .slds-form-element__label{
    display: grid;
}
.THIS .Status .slds-show{
    width: 42%;
}
.THIS .Status .slds-combobox__form-element{
    width: 60%;
}

.THIS lightning-base-combobox-item[data-value='Closed'] {
    display: none;
}
.THIS .slds-form-element__control{
    padding:0px !important;
}
.THIS .slds-combobox_container{
    display:inline-grid;
}
.THIS .TC_highlightFields{
    padding:.1rem .75rem;
}
.THIS .TC_highlightFields label{
    font-size:14px;
    font-weight:bold;
    padding-left:5px;
}
.THIS .slds-form-element_horizontal{

    padding: .125rem .25rem;

}
.THIS .lastModifiedByField div{
    padding-left:5px !important;
}
.THIS .lastModifiedByLabel{
    padding-right:.5rem;
    padding-top:.5rem;
    padding-left: 5px;
    font-weight:bold;
}
.THIS div .currentStatus .slds-form-element__static{
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*.THIS div .currentStatus .slds-form-element__static:hover{
    overflow: visible; 
    white-space: normal; 
    width: auto;
}*/
.THIS .viewMoreButtonClass{
    color:rgb(0, 109, 204);
    float:left;
    padding-left:4px;
}
.THIS .viewMoreButtonClass:hover{
    text-decoration:Underline;
}
/*.THIS .viewMoreButtonForNextStep{
    color:rgb(0, 109, 204);
    float:left;
    position: absolute;
    top: 160px;
    padding: 4px;
}
.THIS .viewMoreButtonForNextStep:hover{
    text-decoration:Underline;
}*/
.THIS .textAreaHover{
    position: absolute;
    height: auto;
    width: 15%;
    z-index: 9999;
    margin-top: 10px;
}
.THIS .closeIcon{
    z-index:9999999;
    position:absolute;
    margin: 13px 2px 2px 2px;
}
.THIS .currentStatus{
    margin-bottom:0px;
}
.THIS .blurBackgroundForModalForTC{
    background:rgba(0, 0, 0, 0.38);
}
.THIS td .caseOwnerLabel{
    padding-top:4px !important;
    padding-left:5px !important;
    font-size: 0.75rem !important;
}
.THIS .slds-form-element__control label{
    padding-left:0px !important;
    padding-top:4px;
}
.THIS .caseOwnerValue{
    padding-left: 5px !important;
}
/*.THIS .slds-card__header{font-weight:bold}
.THIS .slds-cell-edit__button .slds-icon{height:12px; width:12px;}*/