.THIS .su_notSeterrorMessage{
    font-size: 18px;
    color: red;
    text-align: center;
    padding: 5px 0;
    display: block;
}
.THIS .su__feedback_search{
    text-align: center;
}

.THIS .su__multi-gridview-position{
    position: unset;
}
.THIS .su__grid_items{
    justify-content: space-between;
}