.THIS .slds-table {
    margin-top: 20px;
}
.THIS .slds-table th, .THIS .slds-table td {
    padding: 6px;
}
.THIS .error-message p{
    color: red; 
    padding:10px 0;
    font-size: 15px;
}
.THIS .slds-card__header-title{
    font-size: 20px;
    font-weight: normal;
}