.THIS .heading{
    border: none;
    color: black;
    font-family: Gotham-Medium;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px inset;
    width: 100%;
}

.THIS .table{
    width: 98%;
    background: white;
    border:0px;
}
.THIS .pointer{
    cursor: pointer;
}
.THIS .user-position{
    width: 15%; 
    float: left;
    color: #747474;
    font-size: 30px;
}