.THIS.mainContainer {
    margin:2% 15%;
}
.THIS .navCLass{
    font-size: 17px;
    text-transform: uppercase;
    font-family: Gotham-medium;
}
.THIS .gridAction{
    width:90px;
}
.THIS .btnAlign{   
    padding-top: 1rem;
    margin-left: 0rem;
}
.THIS .btnAlign1{   
    padding-top: 1rem;
    margin-left: 0rem;
}

.THIS .btnAlign3{   
    padding-top: 1rem;
    margin-left: 0rem;
}

.THIS .slds-badge {
    background-color: #009dac;
    font-family : Gotham-Light;
    font-size: 14px;
    margin: 0 .5rem .5rem 0;
    color: white;
}
.THIS .mainD{
    width: auto;
}

.THIS .rubrikbtn {
    display: inline-block;
    box-shadow: 0 2px 2px 0 hsla(0,9%,4%,.2);
    border-radius: 2px !important;
    font-size: 12px;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    letter-spacing: -.5px;
    background-color: #009dac;
    font-family: Gotham-Light !important;
    color: #ffffff !important;
    padding: 2px 14px;
    text-align: center;
    vertical-align: middle;
    border-image: initial;
}
.THIS .rubrikbtn:hover {
    background-color: #3fb5c0; 
}
.THIS .slds-form-element__row lightning-input[data-field = 'province']{	
    display:none !important;	
}	
.THIS .slds-form-element__row lightning-input[data-field = 'country']{	
    display:none !important;	
}	
.THIS lightning-input-address fieldset legend{	
    display:none !important;	
}	
.THIS input[name='city']{	
    width: 150% !important;	
}	
.THIS input[name='postalCode']{	
    width: 150% !important;	
}
.THIS .boldLabel{font-weight:bold;}
.THIS .Note{
    font-family: gotham-light !important;
    color: #000000 !important;
    font-style: italic;
}