td, th{
    vertical-align: top;
}

.freezeRow {
    position: sticky !important;
    top: 0;
    z-index: 10000;
    border : 2px solid grey;
}

.paddingArea {
    height : 15rem;
}

.compact-search-box {
    max-width: 400px;
}
.slds-dropdown__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}