.THIS {
    /*background-image: url(/partnersnew/file-asset/Rubrik7?v=1);*/
}
.THIS .backImage{
    background-size:cover;
}
.THIS .textColor{
    color: white;
    font-size: xx-large;
}
.THIS .slds-button_neutral:hover{
    background-color: white !important;
}
.THIS .slds-button:hover{
    background-color: white !important;
}
.THIS .slds-button_neutral:focus{
    background-color: white !important;
}