.su_pagination {
  background: #ffffff;
  border: 1px solid #eae9f0;
  border-radius: 8px;
  margin-left: 15px;
  width: fit-content;
  margin-bottom: 15px;
}

.large .su_pagination {
  margin-left: 30px;
  margin-bottom: 20px;
}

.small .su_pagination {
  margin-left: 15px;
  margin-bottom: 10px;
}