.THIS { 
}
/*added for CS21-426 */
.THIS .message {
    color: rgb(194, 57, 52);
}
/*CS21-426 - End */
.THIS .rubbtn{
    display: inline-block;
    box-shadow: 0 2px 2px 0 hsla(0,9%,4%,.2);
    border-radius: 2px !important;
    font-size: 12px;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    letter-spacing: -.5px;
    background-color: #009dac;
    font-family: Gotham-Light !important;
    color: #ffffff !important;
    text-align: center;
    vertical-align: middle;
    border-image: initial;
}
.THIS .rubbtn:hover {
    background-color: #3fb5c0; 
}
.THIS .rubbtnX{
    display: inline-block;
    box-shadow: 0 2px 2px 0 hsla(0,9%,4%,.2);
    border-radius: 2px !important;
    font-size: 12px;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    letter-spacing: -.5px;
    background-color: #3fb5c0; 
    font-family: Gotham-Light !important;
    color: #ffffff !important;
    text-align: center;
    vertical-align: middle;
    border-image: initial;
}

.THIS .rubrikbtn{
    display: inline-block;
    box-shadow: 0 2px 2px 0 hsla(0,9%,4%,.2);
    border-radius: 2px !important;
    font-size: 12px;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    letter-spacing: -.5px;
    background-color: #009dac;
    font-family: Gotham-Light !important;
    color: #ffffff !important;
    padding: 2px 14px;
    text-align: center;
    vertical-align: middle;
    border-image: initial;
}
.THIS .rubrikbtn:hover {
    background-color: #3fb5c0; 
}
.THIS .textalign{
    text-align:left;
}
.THIS .textStyle{
    color: #000;
    font-size:16px;
    font-family:"Gotham-light"
}
.THIS abbr{
    display:none;
}
.THIS .ErrorMsg{
    color: rgb(194, 57, 52);
    font-size: .75rem;
    margin-top: 3px;
   position: absolute;
   /*  white-space:nowrap; */
}
.THIS .emailTd{
    position:unset;
}
.THIS .emailInputTd{
    position:relative;
}
.THIS .slds-form-element__help {
    font-size: .75rem !important;
    margin-top: 3px;
    position: absolute;
}
.THIS .rowborder1{
    border:none;
}
@media (max-width: 48em){
    .THIS .TdWidth{
        width: 100% !important;
    }
    .THIS .ErrorMsg{
        position: static;
    }
    .THIS .slds-form-element__help{
        position: static;
    }
}