.dummy {
	color: black;
}

.recommendationsPadding-0 {
	padding: 0px;
}

.su-recommendBoxDiv {
	border-radius: 12px;
	color: #1461B7;
	margin-bottom: 5px;
	padding: 16px 16px 4px 16px;
}

.su__mt-4,
.su__my-4,
.su__rtl .su__rtlmt-4,
.su__rtl .su__rtlmy-4 {
	margin-top: 1.5rem
}

.su__pb-1,
.su__py-1,
.su__rtl .su__rtlpb-1,
.su__rtl .su__rtlpy-1 {
	padding-bottom: .25rem
}

.su__sm-shadow {
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14)
}

.su__bg-white {
	background-color: #fff
}

.su__d-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.su__align-items-start {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start
}

.su__border-b {
	border-bottom: 1px solid #e6e6e6
}

.su__w-100 {
	width: 100%;
}

.su__font-normal {
	font-weight: 400
}

.su__mb-2,
.su__my-2,
.su__rtl .su__rtlmb-2,
.su__rtl .su__rtlmy-2 {
	margin-bottom: .5rem
}

.su__ml-1 {
	margin-left: .25rem
}

.su__align-items-center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.su__justify-content-between {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.su_recommended__border-b:hover {
	border-bottom: 2px solid #1770D4;
}

.su_recommended__border-b {
	border-bottom: 2px solid #e6e6e6;
}

.su_recommended__border-b:last-child {
	border: none
}

.su__py-2 {
	padding-bottom: .5rem
}

.su__text-center {
	text-align: center
}

.su__recommendations-ViewMore {
	width: 100%;
	text-align: center;
	padding: 15px 0;
	border-top: 2px solid #e6e6e6;
}

.su__recommendations-ViewMore-text {
	color: #1461b7 !important;
	font-size: 14px
}

.su__recommendations-ViewMore-text:hover {
	text-decoration: underline !important;
	cursor: pointer !important;
}

.su__border-b:hover .su__recommendations-content {
	color: #1770D4
}

.su__recommendations-content:hover {
	color: #1770D4 !important;
	text-decoration: none !important;
}

.su__text-decoration {
	text-decoration: none
}

.su__text-decoration-underline {
	text-decoration: underline !important
}

.su__text-decoration-none li a {
	text-decoration: none
}

.customSettingErrMsg {
	font-size: 18px;
	color: red;
	text-align: center;
	padding: 5px 0;
	display: block;
}