.heading-22{
    letter-spacing: 0.05em;
}
.section_header {
    background: linear-gradient(180deg, #EFF7FE 0%, #E6EFF8 100%);
    display: flex;
    width: 100%;
    padding: 36px 36px 36px 50px;
    justify-content: normal;
    align-items: center;
    margin-bottom: 10px;
}
.section_header--complete {
    background: linear-gradient(360deg, #070F52 5.75%, #123A7B 100%);
}
.section_header + lightning-layout-item {
    display: none;
}
.section_header--active + lightning-layout-item {
    display: block;
}
.section_header .section_slno {
    width: 50px;
    height: 50px;
    background: #070F52;
    border-radius: 132.605px;
    text-align: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    display: flex;
    line-height: 115%;
    justify-content: center;
    margin-right: 36px;
}
.section_header .section_check {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 132.605px;
    text-align: center;
    align-items: center;
    font-weight: 600;
    font-size: 22px;
    display: flex;
    line-height: 115%;
    justify-content: center;
    margin-right: 36px;
}
.section_header--complete .section_slno {
    display: none;
}
.section_header .section_check {
    display: none;
}
.section_header--complete .section_check {
    display: flex;
}
.section_header--complete .heading-36 {
    color: #ffffff;
}
.slds-banner {
    display: flex;
    border-top: 10px solid transparent;
    border-bottom: 20px solid transparent;
}
.agreement-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 36px;
    gap: 16px;
    background: linear-gradient(180deg, #EFF7FE 0%, #E6EFF8 100%);
    border-radius: 10px;
    margin: 10px 0 20px 0;
}
.agreement-link {
    font-weight: 400;
    font-size: 17px;
    line-height: 105%;
    text-decoration-line: underline;
    color: #123A7B;
}
.agreement-link:after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACjSURBVHgBlZLhCcIwEIXvpUHqH70RMoKO0A3qBK7mCHUCV8gIjhB/iAVtzqTFIFib9oPAO/guvEBAAeaa25aYJugK4ue9sYjDanM4AThSBg+/1zEUCtYLmV8FWyLZfSYhzfh3W8m1EVGXEE2qBVWpvCx2OAMqJ68hVchudGFMdq5x345aIqeFuXK/sESO6DI86NHHiRrAufO4abyuqX/8HjSDN8PYWiIX/eN6AAAAAElFTkSuQmCC);
    /* border: 1px solid; */
    margin-left: 16px;
}
.agreement-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #6C7174;
    padding: 12px;
    margin-top: 18px;
    margin-bottom: 8px;
    display: block;
}
.pc-checkbox {
    height: 25px;
    width: 25px;
}
.flex-box {
    display: flex;
    align-items: center;
}
.margin-right-8 {
    margin-right: 8px;
}
.partnership-application-header{
    display: flex;
    align-items: center;
    padding-left: 48px;
    width: 100%;
    margin-top: 45px;
}
.partnership-application-header .header-logo {
    cursor: pointer;
}
.partnership-application-header .heading-22{
    border-left: 1px solid #070F52;
    line-height: 34px;
}
.radio-button-group .slds-form-element__control {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
hr{
    border-top: 0;
    margin: 15px 0;
}
.spinner{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.layout-item{
    height: 30rem;
}
.text-16{
    font-family: 'Inter-Regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #6C7174;
    margin-bottom: 13px;
}
.slds-modal__content{
border-radius: 0 0 5px 5px !important;
}