.THIS .nopointer{
    cursor : unset;
    margin-right : 10px;
}

.THIS  #error {
    text-align: center;
    color:#FF0000;
    font-size: 15px !important;
}
.THIS .termserror{
    text-align: unset  !important;
    color : red  !important;
}
.THIS .slds-box{
    padding: 0.3rem;
    border: none;
}
.THIS .width80{
    width:80%;
}
.THIS .slds-input{
    border-width: 0px;
    padding: 6px 12px;
    background: #FFFFFF;
    border: 1px solid #6C7174;
    border-radius: 4px;
    font-size: 17px;
}

.THIS .slds-box lightning-icon{
    margin-right: 18px;
}

.THIS .slds-input:focus{
    box-shadow: none;
}

.THIS .text_color {
    color : rgb(0, 168, 184);
}
.THIS .reset_Button{
    padding: 20px 30px;
    height: 32px;
    background: #00D3C1;
    border-radius: 60px;
    color: #070F52;
    font-size: 13px;
    border: none;
}
.THIS .reset_Button:hover{
    background: #070F52;
    color: #FFFFFF;
}

.THIS .heading-medium{
    font-weight: 600;
    font-size: 36px;
    line-height: 115%;
    color: #070F52;
    text-align: center;
}
.THIS .heading-small{
    font-weight: 600;
    font-size: 22px;
    line-height: 115%;
    color: #070F52;
    text-align: center;
}
.THIS .slds-col_bump-right{
    text-align: right
}