.title{
    text-align: center;
    width: 100%;
    font-size: 25px;
    margin-bottom: 20px;
    padding-top: 20px;
    color: gray;
}

.formDiv{
    margin-top:20px;
    padding-left:60px;
}

.leftColumn{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 80px;
}

.rightColumn{
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttonAlign{
    /*text-align: center;*/
    padding-left: 44%;
    padding-bottom: 12px;
}

.tooltip {
    position: relative;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltiptext {
    visibility: hidden;
    max-width: 200px;
    background-color: rgb(233, 234, 236);
    color: rgb(107, 109, 112);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    border-color: rgb(196, 198, 202);

    /* Position the tooltip */
    position: absolute;
    z-index: 8;
    bottom: 100%;
}