.THIS.containerDiv{
    width : 1140px;
    margin : auto;
}
.THIS .datatest thead tr th:first-child {
    width:80% !important;
}
.THIS .datatest thead tr th:last-child {
    width:20% !important;
}
.THIS .datatest thead tr th a{
      width:auto !important;
      padding-left: 20px !important;
}
.THIS .changeonclick{
    color: white;
    background: #009DAC;
    font-size: 16px;
    padding: 10px 16px 9px 16px;
    font-family:Gotham-medium;
}
.THIS .datatest thead tr th a,.THIS .datatest thead tr th span{
    width:auto !important;
}
.THIS .datatest tbody{
    display:none;
}
.THIS a.slds-th__action.slds-text-link_reset.slds-is-sorted.slds-is-sorted_desc
{
    box-shadow: none !important;
    background-color: white !important;
}
.THIS a.slds-th__action.slds-text-link_reset.slds-is-sorted.slds-is-sorted_asc
{
    box-shadow: none !important;
    background-color: white !important;
        padding-left: 20px !important;
}
.THIS a.slds-th__action.slds-text-link_reset.slds-is-sorted.slds-is-sorted_desc:active
{
    box-shadow: none !important;
    background-color: white !important;
}
.THIS a.slds-th__action.slds-text-link_reset.slds-is-sorted.slds-is-sorted_asc:active
{
    box-shadow: none !important;
    background-color: white !important;
}
.THIS a.slds-th__action.slds-text-link_reset.slds-is-sorted.slds-is-sorted_desc:focus
{
    box-shadow: none !important;
    background-color: white !important;
}
.THIS a.slds-th__action.slds-text-link_reset.slds-is-sorted.slds-is-sorted_desc:hover
{
    box-shadow: none !important;
    background-color: white !important;
}
.THIS a.slds-th__action.slds-text-link_reset.slds-is-sorted.slds-is-sorted_asc:focus
{
    box-shadow: none !important;
    background-color: white !important;
}
.THIS a.slds-th__action.slds-text-link_reset.slds-is-sorted.slds-is-sorted_asc:hover
{
    background-color: white !important;
    box-shadow: none !important;
    background-color: white !important;
}
.THIS .slds-table_header-fixed{
        border-bottom: none;
}
.THIS .pagetitle {
    height: 35px;
    font-size: 32px;
    color: #17232E;
    font-family: Gotham-Light;
}
.THIS .slds-button__icon{
    display:none !important;
}
.THIS .slds-truncate{
    font-size: 16px;
    font-family: Gotham-Light;
    font-weight: bold;
    padding : 5px;
    text-transform: capitalize;
}
.THIS .slds-th__action:focus{
    background-color: none;
    box-shadow: none;
}
.THIS .slds-has-button-menu{
    outline:none !important;
}
.THIS .slds-th__action slds-text-link_reset, 
.THIS .slds-is-sorted slds-is-sorted_desc{
    border:none !important;
    background-color: none;
    box-shadow: none;
}
.THIS .slds-th__action:hover{
    background-color: none !important;
    box-shadow: none;
    border:none !important;
}
.THIS .slds-th__action{
    background-color: none;
    box-shadow: none;
    border:none !important;
}
.THIS .bordertopnone{
    border-top: none !important;
}
.THIS .floatright{
    text-align: right;
}
.THIS .fontcolor{
    color: #009DAC;
    font-family : Gotham-Medium;
}
.THIS .fontcolor:hover{
    color: #23527c;
    font-family : Gotham-Medium;
}
.THIS .versioncls{
    font-family: Gotham-light;
}
.THIS .topbotmpad{
    padding-top: 30px;
    padding-bottom: 30px;
    width : 100%;
    
}
.THIS .mainDiv{
    
    padding: 48px 0px;
}
.THIS .Comment , .THIS .Date{
    font-size: 16px;
    font-family: Gotham-Light;
    font-weight: bold;
    padding : 5px;
}

.THIS .showingTotalResults{
    font-family: Gotham-Light !important;
    color: #4A4A4A; 
    font-size: 16px;
}
.THIS .floatright>.slds-button:hover{
    background: #009dac;
    border-radius: 0px;
    color:white !important;
}
.THIS .floatright>.slds-button{
    cursor: default;
    color: #009DAC !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
        margin-bottom: 6px;
    font-family: Gotham-medium!important;
    font-size: 16px;
    min-width: 1.5em;
    padding: 0.19em 1em;
        margin-left: 2px;
     margin-right: 2px;
}
.THIS .slds-cell-fixed:focus{
    border:none !important;
}
.THIS .slds-button_neutral{
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    border: none;
    transition: border .15s linear;
    background: none;
    color: #009DAC !important;
}
.THIS .fontsize{
    font-size: 16px;
    font-family: gotham-light;
    padding: 10px 0px 10px 15px;
    background:white !important;
    width:81% !important;
}
.THIS .nohover tr:hover{
    background-color:white !important;
}
.THIS .nohover tr:focus{
    background-color:white !important;
}
.THIS .fontsize1{
    font-size: 16px;
    background:white !important;
}
.THIS.bgwhite {
    background: white;
}
.THIS .fontcolor{
    cursor: pointer !important;
}
.THIS .fontcolor:hover{
    background:none !important;
}
.THIS .fontsize:hover{
    Box-shadow:none !important;
    background:none !important;
}
.THIS .fontsize:focus{
    Box-shadow:none !important;
    background:white !important;
}
.THIS .fontsize1:hover{
    Box-shadow:none !important;
    background:none !important;
  
}
.THIS .fontsize1:focus{
    Box-shadow:none !important;
    background:white !important;
}
.THIS .fontcolor:focus{
    Box-shadow:none !important;
}
.THIS .nohover:hover{
    background:none !important;
}
@media screen and (max-width:1199px){
.THIS .slds-grid.cClusterChartComponent canvas {
	display: block !important;
    width: auto !important;
    height: auto !important;
    max-width: 170px;
    margin: 0 auto;
}
}
@media screen and (max-width:1024px){
    .THIS.containerDiv {
        width : 100%;
    }
    .THIS .Comment {
        padding : 20px 10px;
    }
    .THIS .Date{
        padding: 25px 10px 10px 0px;
    }
       .THIS .datatest thead tr th:first-child {
    width:78% !important;
}

.THIS .datatest thead tr th:last-child {
    width:22% !important;
}
}
@media only screen and (min-width:375px) and (max-width:667px){
    .THIS .datatest thead tr th:first-child {
    width:40% !important;
}

.THIS .datatest thead tr th:last-child {
    width:60% !important;
}
}
@media screen and (max-width:767px){
    
     .THIS .datatest thead tr th:first-child {
    width:75% !important;
}

.THIS .datatest thead tr th:last-child {
    width:25% !important;
}
    .THIS .mainDiv{
    padding: 72px 0px;
}
    .THIS a.slds-th__action.slds-text-link_reset.slds-is-sorted.slds-is-sorted_asc
{
    box-shadow: none !important;
    background-color: white !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
}
   .THIS a.slds-th__action.slds-text-link_reset.slds-is-sorted.slds-is-sorted_desc
{
    box-shadow: none !important;
    background-color: white !important;
         padding-left: 0px !important;
        padding-right: 0px !important;
} 
}
/*@media only screen and (max-width:568px) and (min-width:320px)
{
       .THIS a.slds-th__action.slds-text-link_reset.slds-is-sorted.slds-is-sorted_asc
{
    box-shadow: none !important;
    background-color: white !important;
        padding-left: 115px !important;
        padding-right: 0px !important;
}
   .THIS a.slds-th__action.slds-text-link_reset.slds-is-sorted.slds-is-sorted_desc
{
    box-shadow: none !important;
    background-color: white !important;
         padding-left: 115px !important;
        padding-right: 0px !important;
} 
}*/

@media screen and (max-width:568px){
   .THIS .datatest thead tr th:first-child {
    width:47% !important;
}
.THIS .datatest thead tr th:last-child {
    width:53% !important;
}
}
@media screen and (max-width:480px){
.THIS .pagetitle {
    height:auto;
}
.THIS p.pagetitle {
    margin-bottom: 0px;
}
.THIS .slds-grid.cClusterChartComponent canvas {
	display: block !important;
    width: auto !important;
    height: auto !important;
    max-width: 150px;
    margin: 0 auto;
}
}