.fileUploadDiv{
    width : 100%;
    padding : 25px 0px;
    background-color: white;
}
.headerdiv{
      font-family : National2-regular;
}
.uploadingHeading{
    font-size : 20px;
    font-family : National2-regular;
    font-weight : 600 !important;
    text-align : center;
    width : 100%;
    padding : 25px 0px;
}
.uploadingSection{
    text-align : center;
    padding: 30px 0 0px 0px;
}
.fileDescp{
    font-family : National2-regular;
    font-size : 20px;
}
.submitButtonDiv{
    text-align : center;
    padding: 30px 0 0px 0px;
    padding-left: 9px;
}
.buttonCSS{

}
.files{
    width : 100%;
    padding : 25px 0px;
}
.fileUpload{
    font-size : 15px;
    font-family : National2-regular;
    font-weight : 600 !important;
    padding : 3px;
    color : #0074cc;
    margin-left: 50%;
}
.warningmessage{
    width : 100%;
    padding : 25px 0px;
    font-size : 15px;
    font-family : National2-regular;
    font-size: 17px;
    color: red;
    margin-left: 25%;
}