.THIS {
    position: relative;
    z-index: 1;
}
.salesforceIdentityLoginBody2 .ui-widget{
    padding-top: unset !important;
    padding-bottom: unset !important;
}
.salesforceIdentityLoginBody2 .cCenterPanel{
    margin-left: 5% !important;
    width : 90% !important;
    max-width: unset !important;
    margin-top : 1% !important;
    padding-top : 1% !important;
}

.salesforceIdentityLoginBody2 .cFooterPanel{
position: absolute !important;    
text-align: left;
font-size: .8125rem;	
margin-bottom: unset !important; 

}
.cPC_Footer{
    margin-bottom: unset !important;  
    padding: 1rem  !important;    
}
.slds-m-top--x-large {
     margin-top: 0.1rem !important; 
}
.myAccount.uiMenuItem{
    display:none;
}

@font-face {
    font-family: 'Gotham-Book';
    src: url(../resource/Gotham/HCo_Gotham_Bundle/OpenType/Gotham-Book.otf) format('otf');
}

.cloudx_cmsSS_uiImageBanner {
     border: 0px solid rgba(0, 0, 0, 0);
}

.siteforcePrmBody .cHeader .cBrandingLogo{
    width:270px !important;
    height:45px !important;
}
.cSearchContainer .cSearch .ui-widget .slds-global-header__item .slds-grid .contentWrapper{
    width: 100% !important;
    max-width: 400px !important;
    margin: auto !important;
    border: 0;
    color: #070F52 !important;
    background-color:#F6F9FC !important;
}
.siteforcePrmBody .cHeader .forceSearchInputDesktop input, .siteforcePrmBody .cHeader .forceSearchInputDesktop input::placeholder{
    color: #070F52 !important;
    font-size: 13px !important;
    background-color: #F6F9FC;
}
.cSearchContainer .cSearch .ui-widget .slds-global-header__item .slds-grid .contentWrapper .slds-form-element__control .inputWrapper{
    padding-left:15px !important;
}
.cSearchContainer .cSearch .ui-widget .slds-global-header__item .slds-grid .contentWrapper .slds-form-element__control .autocompleteWrapper .list{
    width:100% !important;
    max-width:400px !important;
    margin:auto !important;
}
.forceSearchInputDesktop .inputWrapper{
    padding-left:0 !important;
}
.forceSearchInputDesktop .uiInput .uiInputTextForAutocomplete, .forceSearchInputDesktop .uiInput .uiInputTextForAutocomplete:focus{
    padding-left:2rem !important;
}
.forceCommunityGlobalSearchInput .uiAutocompleteList.list {
    width: 400px !important;
}

@media (max-width: 1200px) {
    .cloudx_cmsSS_uiImageBanner .slds-image__crop {
        height: 240px !important;
    }
}

@media (max-width: 960px) {
    .cloudx_cmsSS_uiImageBanner .slds-image__crop {
        height: 170px !important;
    }
}
@media (max-width: 720px) {
    .cloudx_cmsSS_uiImageBanner .slds-image__crop {
        height: 130px !important;
    }
}

@media (max-width: 460px) {
    .cloudx_cmsSS_uiImageBanner .slds-image__crop {
        height: 100px !important;
    }
}
@media (min-width: 2200px) {
    .cloudx_cmsSS_uiImageBanner .slds-image__crop {
        height: 400px !important;
    }
}
.forceCommunityMultiLevelNavigationWrapper{
    display:none;
}
nav { 
 	display: none;
 	visibility: hidden;
}
.comm-navigation, .forceCommunityGlobalNavigation{
 	display:none;
}

/*---sidhant.jain@rubrik.com----*/

@media (min-width : 1500px){
    /*.slds-global-header__item{ padding-right:300px; padding-left:300px;}*/
    /*.cSearch.slds-container--fluid{margin-left:300px; margin-right:300px;}*/
    .siteforcePrmBody .cHeader .cSearch{margin-left:300px !important; margin-right:300px;}
}
.siteforcePrmBody .cHeader .forceSearchInputDesktop .contentWrapper:not(.focused) .slds-input__icon{color:rgb(23,43,77) !important;}
.uiInput--default .form-element__label.assistiveText{color:rgb(23,43,77) !important;}
.siteforcePrmBody .cHeader .selfServiceProfileMenuTrigger .trigger-link {color:rgb(23,43,77) !important;}
.siteforcePrmBody .cHeader .selfServiceProfileMenuTrigger .profileIcon{color:rgb(23,43,77) !important;}

@media (min-width : 1300px){
    .siteforcePrmBody .cHeaderTopInternalWrapper{
     	min-width: 1350px !important;
    	max-width: 1350px !important;
    }
}

.uiOutputText, 
.uiOutputTextArea, 
.forceOutputPhone, 
.slds-scope.forceCommunityUserProfileDetail .userBadge,
.uiOutputDateTime, 
.uiOutputNumber  {
	font-family: 'Inter-Regular';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 105%;
	display:inline-block;
	color: #6C7174;
}
.test-id__field-label {
	color: #070F52;
	font-family: "Inter-600";
	margin-bottom: 16px;
	display: inline-block;
}
.forcePageBlockSectionRow {
	margin-bottom: 32px;
}
.slds-form-element__control a, 
.view-all-label {

	color: #123A7B;
	font-size:17px;
}
.forceCommunityUserProfileDetail .profileName {
	color: #070F52;
	margin-bottom: 16px;
}
.slds-form-element_readonly, 
.slds-scope.forceCommunityUserProfileDetail .userDetailHeader {
	border:none;
}
.selfServiceUserProfileMenu li.uiMenuItem a {
	text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid #DFE1EE;
    color: #070F52;
	font-family: "Inter-600"
}
.uiMenuList--default .uiMenuItem>a:hover, 
.uiMenuList--default .uiMenuItem>a:focus, 
.uiMenuList--default .uiMenuItem>span:hover, 
.uiMenuList--default .uiMenuItem>span:focus {
	background-color: #DFE1EE
}
.selfServiceUserProfileMenu .uiMenuList.visible {
	border-top: 4px solid #00D3C1;
}
.siteforcePrmBody .cHeader .selfServiceProfileMenuTrigger .profileName, 
.siteforcePrmBody .cHeader .selfServiceProfileMenu .uiMenuItem a {
	color: #070F52;
    font-size: 16px;
    font-family: "Inter-600";
}


.uiTabset--default .tabs__item>a, 
.uiTabset--default .uiTabOverflowMenuItem a {
	color: #070F52;
    padding: 23px 25px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 15.75px;
    font-family: "Inter-600";
}
.uiTabset--default .tabs__item>a:hover, 
.uiTabset--default .tabs__item>a:focus,
.uiTabset--default .tabs__item.active>a {
	    border-bottom: 4px solid #00D3C1;
		color: #070F52;
		box-shadow: none;
}
.uiTabset.forceCommunityTabset>.uiTabBar .uiTabItem .tabHeader {
    padding: 23px 25px;
    text-transform: uppercase;
}

.slds-button-group .slds-button:only-child, 
.slds-button-group-list li:only-child .slds-button {
	border: 1.75px solid #070F52;
    border-radius: 60px;
	padding: 20px 30px;
	/*height: 50px;*/
}
.slds-button:hover, 
.slds-button:focus {
	background: #070F52;
}
.oneActionsRibbon li.slds-button--neutral:hover>a, .oneActionsRibbon li.slds-button--neutral:focus>a {
	color: #fff
}
.oneActionsRibbon li.slds-button--neutral>a {
	font-weight: 500;
	font-size: 18px;
	color: #070F52;
}
.form-element__group .input, 
.slds-form-element__control .input,
.form-element__group .textarea, 
.slds-form-element__control .textarea,
.slds-form-element__control .uiMenu{
	padding: 6px 12px;
    background: #FFFFFF;
    border: 1px solid #6C7174;
    border-radius: 4px;
    font-size: 17px;
}

.slds-form-element__control .uiInput--select.select, 
.slds-form-element__control .uiInput--select .select, 
.slds-form-element__control .uiInput--select .uiPopupTrigger a {
	border: none;
}

.slds-form-element__control .uiInput--select.select:focus, 
.slds-form-element__control .uiInput--select .select:focus, 
.slds-form-element__control .uiInput--select.select:active, 
.slds-form-element__control .uiInput--select .select:active, 
.slds-form-element__control .uiInput--select .uiPopupTrigger a:focus, 
.slds-form-element__control .uiInput--select .uiPopupTrigger a:active {
	border: none;
    box-shadow: none;
}
.form-element__label{
	font-size: 1rem !important;
    color: #727679;
    font-weight: 400 !important;
	hyphens: none;
}
.slds-button_neutral, 
.slds-button--neutral {
	padding: 20px 30px;
    height: 50px;
    border: 1.75px solid #070F52;
    border-radius: 60px;
    color: #070F52;
	background: #fff;
}
.slds-button:hover, 
.slds-button:focus {
	background: #070F52;
    color: #fff !important;
}
.uiButton--brand {
	background: #00D3C1;
	color: #070F52;
	border: none;
}
.oneActionsRibbon li.slds-button a:focus,
.oneActionsRibbon li.slds-button a:hover {
	box-shadow: none;
	background: none;
}
.slds-section__title .slds-section__title-action{
    background-color: #070F52 !important;
    color: #fff !important;
    border-radius:5px !important;
}
.test-id__section-content{
    border: 1px solid gainsboro;
    border-radius: 5px;
    border-top: 0;
}
.cPC_DealRegExtnReq .slds-button{
    background-color: #00D3C1;
    border-radius: 25px !important;
    font-family: "Inter-Regular";
    color: #070F52;
    font-weight: 600;
}
.cPC_DealRegExtnReq .slds-button:hover{
    background-color: #070F52;
    color:#ffffff;
    border-bottom:0 !important;
}
.cPC_DealRegExtnReq .slds-button:focus{
    background-color: #070F52 !important;
    box-shadow: 0 0;
    border-bottom: 0;
    color:#ffffff;
}
.slds-media__body h1 .entityNameTitle{
    font-family: "Inter-Medium";
    font-size: 36px;
    line-height: 41px;
    color: #070F52;
    font-weight: 600;
}
.searchResultsGridHeader .slds-page-header__title{
    font-size:32px;
    line-height:37px;
    color:#070F52;
    font-family:"Inter-Regular";
    font-weight:600;
}
.searchResultsGridHeader .searchResultsSummaryText .searchResultsSummary p{
    font-size:18px;
    line-height:28px;
    color:#6C7174;
    font-family:"Inter-Regular";
    font-weight:400;
}
.searchResultsGridHeader .searchResultsSummaryText{
    margin-top:10px;
}
.searchResultsGridHeader .searchResultsSummaryText .sortingInfo{
    font-size:16px;
    line-height:19px;
    color:#123A7B;
    margin-left:40px;
}
.searchResultsGridHeader .searchResultsSummaryText .sortingInfo .slds-dropdown-trigger .slds-button{
    color:#123A7B;
}
.searchResultsGridHeader .searchResultsSummaryText .sortingInfo .slds-dropdown-trigger .slds-button:hover{
    color:#123A7B !important;
    background:none !important;
}
.searchResultsGridHeader .searchResultsSummaryText .sortingInfo .dot{
    display:none;
}
.forceSearchResultsGridView .searchScroller .fixedHeaderPlugin .slds-table thead th{
    background-color: #F6F9FC;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #070F52;
    font-size: 15px;
    font-family: "Inter-Medium";
    font-weight: 600;
    line-height: 17px;
}
.forceSearchResultsGridView .searchScroller .fixedHeaderPlugin .slds-table td {
    padding-top:17px;
    padding-bottom:17px;
}
.forceSearchResultsGridView .searchScroller .fixedHeaderPlugin .slds-table td .forceContentCompoundFieldsTitleRenderer .titleCol .slds-truncate .itemTitle,
.forceSearchResultsGridView .searchScroller .fixedHeaderPlugin .slds-table td a{
    color:#123A7B;
}
.forceSearchResultsGridView .searchScroller .fixedHeaderPlugin .slds-table td a{
    font-size:17px;
}
.forceSearchResultsGridView .searchScroller .fixedHeaderPlugin .slds-table td a .slds-icon{
    width:25px;
}
.slds-table_bordered:not(.slds-no-row-hover) tbody tr:hover>td:not(.slds-has-focus){
    box-shadow:none;
}
.forceSearchResultsGridView .searchScroller .fixedHeaderPlugin{
    padding: 20px;
    box-shadow: 0px 20px 60px rgb(7 15 82 / 20%);
    border-radius: 10px;
    margin: 25px;
}
.primaryFieldRow .slds-button-group li.slds-button.slds-button--neutral:only-child {
    /* color: green; */
    padding: 0;
    height: unset;
    padding: 6px 20px !important;
    height:36px !important;
    
    background: #00D3C1;
    /* color: #070F52 !important; */
    border: none;
    font-size: 14px !important;
}

.primaryFieldRow .slds-button .forceActionLink {
    color: #070F52 !important;
}

.primaryFieldRow .slds-button:hover .forceActionLink {
    color: #fff !important;
   
}
.primaryFieldRow .slds-button:hover {
    background: #070F52 !important;
    border-color: #070F52
}
.actionsContainer {
    margin-left: 16px;
}
.listContent .slds-has-dividers--bottom .slds-item .slds-tile .itemTitle .displayLabel{
    font-size:20px;
    color:#123A7B;
    line-height:23px;
    font-family:"Inter-Medium";
    margin-top:7px;
    margin-bottom:10px;
}
.listContent .slds-has-dividers--bottom .slds-item .slds-tile .slds-tile__detail .slds-item,
.listContent .slds-has-dividers--bottom .slds-item .slds-tile .resultBody .summary{
    font-size:16px;
    line-height:22px;
    color:#6C7174;
    font-family:"Inter-Regular";
    font-weight:400;
}
.slds-nav-vertical__section .slds-nav-vertical__title{
    font-size: 20px;
    line-height: 23px;
    color: #070F52;
    font-family: "Inter-Medium";
}
.forceSearchFilterInput .slds-form-element__label span{
    font-size: 16px;
    line-height: 16px;
    color: #6C7174;
    font-family: "Inter-Regular";
}
.forceSearchFilterInput .uiInputText .input,
.forceSearchFilterInput .uiInputText .input::placeholder{
    color:#6C7174;
}
.forceSearchFilterInput .clearButton:hover{
    background:none !important;
    color:#6C7174 !important;
}
.scopesBlock .scopesListSection .slds-nav-vertical__item .scopesItem .scopesItem_name{
    font-size: 13px;
    line-height: 15px;
    color: #070F52;
    text-transform: uppercase;
    font-family: "inter-Medium";
    font-weight: 600;
}
.scopesBlock .scopesListSection .slds-nav-vertical__item .scopesItem{
    padding-left:22px;
}
.slds-nav-vertical__item.slds-is-active .slds-nav-vertical__action{
    text-transform:uppercase;
    font-size: 13px;
    line-height: 15px;
}
.oneActionsRibbon.forceActionsContainer .slds-button a{
    font-size:13px;
}
.oneActionsRibbon.forceActionsContainer .slds-button{
    height: 34px;
    padding: 16px 4px; 
}
.slds-button_neutral, 
.slds-button--neutral {
    padding: 16px 20px;
    height: 34px;
}
.forceRelatedListCardDesktop{
    display: none;
}
:root { --dxp-c-section-columns-max-width: 1170px; }