.THIS .buttondesign{ 
    margin-bottom: 24px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    box-shadow: 0 2px 2px 0 hsla(0,9%,4%,.2);
    border-radius: 4px;
    background-color: #009dac;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    font-family: Gotham-Light;
    text-transform: uppercase;
    border-radius: 0;
    color: #fff;
}
.THIS .searchbutton{
    margin-bottom: 0;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    box-shadow: 0 2px 2px 0 hsla(0,9%,4%,.2);
    border-radius: 4px;
    background-color: #009dac;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    font-family: Gotham-Light;
    text-transform: uppercase;
    border-radius: 0;
    color: #fff;
}
.THIS .alignleft{
    color: #4A4A4A;
    text-align: left;
}
.THIS .buttonsspace{
    padding-right: 5px;
}
.THIS .trcls{
    font-family:Gotham-light;
    font-size: 14px;
}
.THIS .casenocolor{
    font-family:Gotham-medium;
    color: #009DAC;
    text-decoration: none;
}
.THIS .containerwidth{
    border-radius: 5px;
    width: 50%;
}
.THIS .contactheader{
    padding-top: 9px;
    border-radius: 5px;
    font-size:16px;
    background: white;
    padding-bottom: 9px;
    padding-right: 9px;
    padding-left: 10px;
}
.THIS .alignright{
    text-align:right;
}
.THIS .slds-table_header-fixed{
        border-bottom: none !important;
}
.THIS .padaround{
    padding-top: 30px;
    padding-bottom: 30px;
}
.THIS .buttonpadtop{
    padding-top:30px;
}
.THIS .slds-no-flex {
    font-weight: bold;
    font-family:Gotham-light;
    font-size: 16px;
}
.THIS .hrclsmargin{
    margin: 1rem;
}
.THIS .casenumbercss{
    font-family:Gotham-light;
    font-size: 32px;
    line-height: 38px;
    color: #17232E;
    padding: 5px;
    padding-bottom:15px;
}
.THIS .tablecls{
    font-size: 16px;
    font-family: Gotham-light;
}

.THIS .slds-table_header-fixed_container::before,.THIS .slds-table--header-fixed_container::before {
  border-bottom: none !important;
}
.THIS table.slds-table.slds-table_cell-buffer.slds-table_bordered {
    border: none !important;
}.THIS .search{
    width: 100%;
    font-size: 13px;
    font-family:Gotham-light;
}
.THIS .my-icon {
    --sds-c-icon-color-foreground-default: #009DAC;

}