.label {
  font-weight: bold;
  padding-right: 3px;
  color: red;
  font-size: 0.75rem;
}

.header {
  font-size: 1rem;
}

.headerfont {
  font-weight: bold;
}

.chevronstyle {
  padding: 3px 3px 0 0;
}

.detail {
  background-color: yellow;
  font-size: 0.75rem;
}

.detailmargin {
  margin-left: 0.75rem;
}

.detailfontsize {
  font-size: 0.75rem;
}

.resize {
  height: 170px;
  overflow-y: scroll;
  resize: vertical;
}