.THIS .downloadButton {
    margin-top: 1.1rem;
}
.THIS .paddingClass {
    padding-left: 28rem;
}
.THIS .formcls{
    display: inline-block;
    width: 50%;
}
.THIS .labelcls{
    width: 20%;
    padding-left: 18px;
}
.THIS .buttoncolorcls:hover{
    text-decoration: none !important;
    background-color: #3fb5c0;
}
.THIS .underlinenone{
    text-decoration-line: none;
}
.THIS .inlineview{
    display: inline-flex;
}
.THIS .buttoncolorcls:active{
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.THIS .buttoncolorcls:focus{
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.THIS .underlinenone:focus{
    color:white !important;
    border:none !important;
}
.THIS .cntrlcls{
    float: right;
    width: 80%;
}
.THIS.padtopbotm {
    padding-top: 30px;
    padding-bottom: 30px;
    background: white;
    max-width: 100%;
    margin: 0 auto;
    padding:20px;
    margin: auto;
    padding: 0 100px;
    margin-bottom : 2rem;
}
.THIS .slds-table_bordered{
    border-top: none;
}
.THIS .designcls1{
    font-size: 16px;
    font-family: Gotham-light;
}
.THIS .designcls{
    font-family: Gotham-light;
    font-size:16px;
    padding-top: 34px;
}
.THIS .designcls2{
    font-family: Gotham-light;
    font-size:16px;
    width: 12% !important;
    padding-top: 10px;
}
/*.THIS .borderbotom td{text-align:center;} */
.THIS .designcls32{
    font-family: Gotham-light;
    font-size:16px;
    width: 65%;
    padding-top: 12px;
}
.THIS .designcls3{
    font-family: Gotham-light;
    font-size:16px;
    width: 38% ;
    padding-top: 34px;
}
.THIS .floatrightpage{
    float:left;
    font-size: 18px;
}
.THIS .casecls{
    width: 176px;
    font-size: 32px;
    color: #17232E;
    padding: 5px;
    font-family: Gotham-light;
}
.THIS .buttoncls{ 
    padding-top: 18px;
    padding-left: 15px;
}
.THIS .slds-select_container:before{
    display:none;
}
.THIS .slds-select_container:after{
    padding-bottom: 4px;
}
.THIS .widthcls{
    width: 12%;
}
.THIS .fontsize{
    font-family: Gotham-light;
    font-size: 18px;
}
.THIS .fontsize2{
    font-family: Gotham-light;
    font-size: 18px;
    max-width:100% !important;
}
.THIS .tablecls{
    padding-top: 14px;
}
.THIS  .buttoncls1 .slds-button_neutral{
    text-transform: none !important;
    font-size: 16px;
    padding: 0px;
    box-shadow: none;
    border: none;
    background-color: white;
    color: #009DAC !important;
    font-family: Gotham-light ;
}
.THIS .buttonspace{
    padding-right: 14px !important;
    font-family: Gotham-medium !important;
}
.THIS .disabledButton.buttonspace.slds-button_neutral{
    color:#ccc !important;
    pointer-events: none;
}
.THIS .buttonstyle{
    font-family: Gotham-medium  !important;
}
.THIS  .slds-button_neutral{
    padding-left: .9rem;
    padding-right: .9rem;
    box-shadow: 0 2px 2px 0 hsla(0,9%,4%,.2);
    border-radius: 2px !important;
    font-size: 14px;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    font-family: Gotham-light;
    letter-spacing: -.5px;
    border: 1px solid #009dac;
    background-color: #009dac;
    color: #ffffff !important;
}
.THIS .borderbotom:last-child {
    border-bottom: none;
}
.THIS .paracls{
    font-size: 18px;
    float: right;
    padding-top: 2px;
}
.THIS .buttoncls1{
    text-align: center;
    padding-top: 22px;
}
.THIS .buttoncls1{
    text-align: center;
    padding-top: 18px;
}
.THIS .tablewidth{
    width: 306px;
    float: right;
}
.THIS .viewcls{
    width: 21%;
    font-weight: bold;
    color: #4A4A4A;
    display: inline-block;
    font-size: 17px;
    padding-left: 17px;
    font-family: Gotham-light;
}
.THIS .selectoption{
    width: 79%;
    display: inline-block;
}
.THIS .slds-select {
    font-size: 16px;
    font-family: Gotham-light;
}
.THIS .casenocolor{
    color: #009DAC;
    text-decoration: none;
    font-family:Gotham-medium;
}
.THIS .casenocolor:hover{
    color: #23527c;
    text-decoration: none;
    font-family:Gotham-medium;
}
.THIS .onclick{
    display: inline-flex;
    width: 46%;
}
.THIS .datesize{
    font-family:Gotham-light;
    font-size:18px;
}
.THIS tr td{
    max-width: 260px;
}
.THIS table.slds-table.slds-table_cell-buffer.slds-table_bordered .slds-truncate.fontsize {
    max-width: 180px;
}
/*.THIS tr td{
max-width: 420px;
}*/
.THIS .tablecls.slds-medium-size_12-of-12 {
    overflow: hidden;
}
.THIS .banner-table{
    margin-top: 10px;
    margin-bottom: 10px;
}
.THIS .banner-table>tbody>tr{
    line-height: 3;
}
@media screen and (max-width:1199px){
    .THIS .borderbotom tr td {
         max-width: 30px;
    }
    .THIS .designcls2 {
        width: 0%!important;
    }
}
@media screen and (max-width:1024px){
    .THIS .fontsize{
        font-family: Gotham-light;
        font-size: 18px;
        max-width: 100px;
        margin-right: 0;
        word-break: break-word;
        white-space: normal;
    }
}
@media screen and (max-width:767px){
    .THIS .slds-medium-show-only {
        display: block;
    }
    .THIS.padtopbotm{padding:2px;}
}
@media screen and (max-width:812px){
    .THIS .inlineview{
        display: table-cell;
    }
}
.THIS .arrowContain{
    height:24px;
    text-align:center;
}
.THIS .raspError{
    width : 75%;
    text-align: left;
    font-weight: 550;
}