.THIS {
}
.THIS.mainDiv{
    background-color: rgb(250, 250, 249);
    height: auto;
    padding: 5px;
    border-radius: 5px;
}
.THIS .header.slds-m-around_xx-small {
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 4px 6px 5px 1px lightgrey;
}
.THIS .c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
    border-radius: 4px;
}
.THIS .ArticleStatus{
    width: 25%;
}
.THIS .statusDropDown{
    text-align: center;
}
.THIS .slds-spinner_container {
    position: fixed;
}
.THIS .searchBox{
    width: 45%;
    float: right;
}
.THIS .warning.uiMessage{
    float: right;
    margin-top: 20.5px;
    text-align: center;
}
.THIS .slds-grid.slds-align_absolute-center.slds-p-around_xx-small.container{
    border: 1px solid #d8dde6;
    border-radius: 6px;
}
.THIS .container .actionButtons button,.THIS .container .actionButtons lightning-input{
    box-shadow: 2px 4px 5px 4px lightgrey;
}
.THIS .statusDropDown div.slds-dropdown.slds-dropdown_left{
    top : auto;
    bottom : 100%;
    left: 25px;
}

.THIS lightning-input.versionNum label{
    display : none;
}
.THIS .statusDropDown button{
    width : 80%;
}
.THIS .versionNum{
    display : inline-block;
}
.THIS .changeCategBtn{
    width : 80%;
    float: right;
}
.THIS .changeSoftVer button{
    float : left;
}
.THIS .changeSoftVer div.slds-dropdown.slds-dropdown_left{
    top : auto;
    bottom : 100%;
} 
/*.THIS .changeSoftVer div.slds-dropdown.slds-dropdown_left{
    overflow-y: scroll;
    height: 200px;
}  */
.THIS .slds-table .slds-cell-wrap span div.slds-hyphenate {
    word-break: break-word;
}