.THIS .custom-order-table{
   height: 650px;
}
.THIS .slds-button_brand, 
.THIS .slds-button--brand {
	padding: 4px 16px;
    background: #00D3C1;
    border-radius: 60px;
    border: none;
    color: #070F52;
    font-size: 13px;
    margin-top: 23px;
    margin-left: 10px;
}
.THIS .slds-button_brand:hover, 
.THIS .slds-button--brand:hover {
	background: #070F52;
	color: #fff;
}
.THIS .flex-box {
    display: flex;
    width: 100%;
    align-items: center;
}
.THIS .slds-card__header{
    display: none;
}