.custom-container {
    background-color: #f9f9fb;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
}

.valueBox{
    margin: 2px 0px 25px 0px;
}

.value{
    margin-top: 5px;
}

.header-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 13px;
}

.header-row {
    display: flex;
    align-items: center;
    gap: 6px;
}

.header-title {
    font-weight: bold;
}

.lastMod{
    font-size: 13px;
}

.bracket{
    position: relative;
    right: 12px;
}

.checkbox-row {
    display: flex;
    margin-top: 4px;
    font-size: 12.5px;
    margin-left: 24px; 
}

.custom-checkbox {
    margin-left: 3px;
    transform: scale(0.80);
}