.THIS .textdecorate{
    border: none;
    color: #009dac;
    font-family: Gotham-Medium;
    font-size: 16px;
}
.THIS .textdecorate:hover{
    border: none;
    color: #23527c;
}
.THIS .myForumNavigation {
    margin: 3rem 18rem !important;
}
.THIS .pointer{
    cursor: pointer;
}