.scroll {
    overflow-y: auto;
    max-height: 200px;
}
.border-gray {
    border: 1px solid #d3d3d3;
    padding: 0.5rem;
}
.m-top-zero {
     margin-top: 0;
}
.headerPanelLabel {
    cursor: text;
    font-size: 1.125rem;
    max-width: 100%;
}
.progress-ring {
    transform: scale(6) translate(1em,1em);
    position: absolute
}