.knowblercomp {
  position: relative;
}
.knowbler__switch-mode-btn {
  cursor: pointer;
}
.knowbler__modal-error {
  margin: auto;
  width: 318px;
  height: fit-content;
  background-color: #fff;
  box-shadow: 0px 0px 20px #0000000d;
  border-radius: 8px;
  padding: 16px 20px;
}
.modal-content {
  color: black;
}

.knowbler__mode-switch-error-content {
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 15px 0 !important;
}

.knowbler__mode-switch-error-message {
  text-align: center;
  color: #172b4d;
  margin-top: 28px;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 21px;
  font-family: 'Roboto Medium', 'Helvetica Neue', sans-serif;
}
.modalFooter {
  margin: 8px auto;
  display: flex;
}
.knowbler__mode-switch-error-btn {
  background: #3e7555;
  border-radius: 4px;
  color: #ffffff;
  padding: 7px 28px;
  font-family: 'Poppins Medium', 'Helvetica Neue', sans-serif;
  width: max-content;
  border: 1px solid rgb(192, 191, 214);
  margin: auto;
  text-decoration: none;
}
.knowbler__mode-switch-error-btn:hover {
  background-color: #3e7555;
  color: #ffffff;
}
.knowbler__display-mode-switch-error-modal {
  display: flex;
  position: fixed;
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  opacity: 1;
  pointer-events: all;
  transition: opacity 250ms ease;
  background-color: rgba(0, 0, 0, 0.75);
}
.knowbler__load-fail-screen-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
  border-radius: 5px;
}
.knowbler__load-fail-text {
  margin: 30px;
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  color: #23263b;
}
.knowbler__load-fail-img {
  height: 52%;
  width: 100%;
}
.knowbler__load-fail-img svg {
  height: 100%;
  width: 100%;
}