.THIS{
    font-size: 0.8125rem !important;
}
.THIS .textdecorate{
    border: none;
    color: #009dac;
    font-family: Gotham-Medium;
    font-size: 16px;
}
.THIS .textdecorate:hover{
    border: none;
    color: #23527c;
}
.THIS .closeIcon{
    background-color: #009dac;
    float: right;
}
.THIS .supportBtn{
    background-color: #009dac;
}
.THIS .cancelbtn{
    color: #009dac;
}
.THIS .iconDiv{
    font-family:Gotham-light;
}

@media only screen and (min-width: 1024px) and (max-width: 1249px){
    .THIS.iconDiv{
        position: relative;
        top: 18.5rem;
        z-index: 99;
        left: 4.25rem;
        font-size: 11px!important;
        font-family: gotham-light;
        width: max-content;
    }
}
@media only screen and (min-width: 1250px) and (max-width: 1439px) {
    .THIS.iconDiv{
        position: relative;
        top: 17.5rem;
        z-index: 99;
        left: 4.5rem;
        font-size: 11px !important;
        font-family: gotham-light;
        width: max-content;
    }
   
}
@media only screen and (min-width: 1440px) and (max-width: 1600px) {
    .THIS.iconDiv{
        position: relative;
        top: 17.5rem;
        z-index: 99;
        left: 5.2rem;
        font-size: 11px !important;
        font-family: gotham-light;
        width: max-content;        
    }
    .THIS .textComment{
        width:168px;
    }
    .THIS .icons{
        width:168px;
        padding-left:0px !important;
    }
}
@media only screen and (min-width: 1600px) and (max-width:1890px) {
    .THIS.iconDiv{
        position: relative;
        top: 17.5rem;
        z-index: 99;
        left: 5.5rem;
        font-size: 11px !important;
        font-family: gotham-light;
        /*width: max-content;*/
    }
    .THIS .textComment{
        width: 154px;
    	text-align: center;
    }
    .THIS .icons{
        width:168px;
        padding-left:1.6%;
    }
}
@media only screen and (min-width: 1900px) and (max-width: 2500px) {
    .THIS.iconDiv{
        position: relative;
        top: 17.5rem;
        z-index: 99;
        left: 5.2rem;
        font-size: 11px !important;
        font-family: gotham-light;
        /*width: max-content;*/
    }
    .THIS .textComment{
        width:168px;
        text-align:center;
    }
    .THIS .icons{
        width:168px;
        padding-left: 1.7%;
    }
}
@media only screen and (min-width: 2500px) {
    .THIS.iconDiv{
        position: relative;
        top: 17.5rem;
        z-index: 99;
        left: 84px;
        font-size: 11px!important;
        font-family: gotham-light;
    }
    .THIS .textComment{
        width:10%;
        text-align:center;
    }
    .THIS .icons{
        width:13%;
        padding-left:3.3%;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1023px) {
    .THIS.iconDiv{
        position: relative;
        top: 6.8rem;
        z-index: 99;
        left: 15.5rem;
        font-size: 11px;
        font-family: gotham-light;
        display:inline-flex;
        width: max-content;
    }
}
@media only screen and (min-width: 500px) and (max-width:990px) {
    .THIS.iconDiv{
        position: relative;
        top: 6.2rem;
        z-index: 99;
        left: 14rem;
        font-size: 11px;
        font-family: gotham-light;
        display: inline-flex;
        width: max-content;
    }
}
@media only screen and (min-width: 375px) and (max-width:495px) {
    .THIS.iconDiv{
        position: relative;
        top: 7rem;
        z-index: 99;
        left: 8rem;
        font-size: 11px;
        font-family: gotham-light;
        display: inline-flex;
        width: max-content;
    }

}
@media only screen and (max-width: 360px) {
    .THIS.iconDiv{
        position: relative;
        top: 7.5rem;
        z-index: 99;
        left: 3rem;
        font-size: 11px;
        font-family: gotham-light;
        display: inline-flex;
        width: max-content;
    }
    .THIS .icons{
      width: unset !important;
  }
}
@media only screen and (max-width: 360px) and (min-width:320px) {
    .THIS.iconDiv{
        position: relative;
        top: 8.5rem;
        z-index: 99;
        left: 3rem;
        font-size: 11px;
        font-family: gotham-light;
        display: inline-flex;
        width: max-content;
    }
    .THIS .icons{
      width: unset !important;
  }
}
.THIS .cuf-actionItem[title="Mute"] {
    display: none;
}


.THIS .errorForRich{background-color: rgb(255, 255, 255);box-shadow: rgb(194, 57, 52) 0px 0px 0px 2px;background-clip: padding-box;border-color: rgb(194, 57, 52);}