.THIS .eachIdeaBlock{padding:20px 0;}
.THIS.conatinerDiv{width : 1140px; margin : 50px auto;}
.THIS .description{padding:5px;}
.THIS .paginationBlueBtn{
    font-size: 14px;
    font-family: Gotham-Light;
    text-transform: uppercase;
    border-radius: 0px ;
    background-color:#009dac;
    color: #fff;
    box-shadow: 0 2px 2px 0 hsla(0,9%,4%,.2);
}
.THIS .noIdeas{
    font-family: Gotham-Medium;
    font-size: 18px;
    padding: 0 10px 0 0;
    text-align:center;
}
.THIS .disabled{
    background-color: #009dac;
    opacity: 0.65;
}
.THIS .disablevote{
      background-color:red;
}
.THIS .disabled:hover{
    
    cursor: not-allowed;
    opacity: 0.65;
    
}
.THIS  .su-searchBtn{
    background-color: #009dac !important;
    font-size: 16px !important;
}
.THIS .disSpiner{
    display:none;
}
.THIS .filterDiv{
    padding-left: 3px;
}
.THIS .blueBtn{display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-decoration : none;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    box-shadow: 0 2px 2px 0 hsla(0,9%,4%,.2);
    border-radius: 4px;
    background-color:#009dac;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    font-family: Gotham-Light;
    text-transform: uppercase;
    border-radius: 0px ;
    color: #fff;    margin: 0px 10px 0px 0px;
}
.THIS .btnSpacing{margin-left:10px;}
.THIS .ideaTitle{
    /*width: 176px;*/
    height: 35px;
    font-size: 32px;
    line-height: 38px;
    color: #17232E;
    padding: 5px;
    font-family: Gotham-Light !important;
}
.THIS .tagLine{
    font-size: 14px;
    font-family: Gotham-Light;
    padding: 15px 0px;
    color: #4A4A4A;
}
.THIS .paginationDiv{
    padding: 18px 10px;
    display : flex;
}
.THIS .totalresults{
    font-family: Gotham-Light !important;
    color: #4A4A4A;
    font-size: 15px;
    padding: 10px 0px;
}
.THIS .title{
    font-size : 16px;
    color: #009DAC;
    text-decoration: none; 
    font-family: Gotham-Medium !important;
    word-wrap: break-word;
    display: block;
}
.THIS .rightPagDiv{
        display: flex;
    padding-left: 14px;
    padding-top:16px;
}
.THIS .paginationBtnsTop{
    padding-left : 33px;
}
.THIS .leftFilter{
    display : flex;
}
.THIS .Dropdwn{width:200px;}

.THIS .title:hover{
    color: #23527c;
}
.THIS .slds-select_container>.slds-select {
    border-radius: 0px;
    height: 28px;
    margin-top: 0px;
    
}
.THIS .description{
    font-size: 14px !important;
    font-family: Gotham-Light;
    padding: 5px;
    color: #4A4A4A;
}
.THIS .descriptionComment, .THIS .descriptionPostedDate{
    font-size: 14px !important;
    font-family: Gotham-Light;
    /*padding: 5px;*/
    color: #4A4A4A;
    font-weight : 700;
}
.THIS .status{
    font-size: 14px !important;
    font-family: Gotham-Light;
    padding: 5px;
    color: #4A4A4A;
}
.THIS .description a{
    color: #009DAC;
    text-decoration: none !important;
    font-family: Gotham-Medium;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none !important;
}
.THIS .supportPortal{
    color: #009DAC;
    text-decoration: none !important;
    font-family: Gotham-Medium;
    font-size: 16px;
    text-decoration: none !important;
}
.THIS .filterLink{
      color: #009DAC;
    text-decoration: none !important;
    font-family: Gotham-Medium;
    font-size: 16px;
   
    text-decoration: none !important;
    padding : 0px 10px 0px 0px;
}
.THIS .filterLink:hover{
    color: #23527c;
}
.THIS .supportPortal:hover{
    color: #23527c;
    
}
.THIS .downPagination{
    text-align: left;
    
    
}
.THIS .downTotalRecords{
    padding : 10px 0;
}
.THIS.conatainer{
    padding-bottom : 50px;
}
.THIS .submitIdeaBtn{
    margin-top : 20px;
    text-align : right;
}

.THIS .mobView{
    width : 100%;
}
.THIS .voteNum{
    font-size: 16px!important;
    font-family: Gotham-Light;
    padding: 10px;
}
.THIS .ideaDiv{
    border-top: 1px solid #ccc;
}

.THIS .filterList{
    display : inline-block;
}
.THIS .su-nopad .uiInput--input.input:focus {
    box-shadow: none;
    border: 1px solid #ccc;
}
.THIS .su-nopad .uiInput--input.input {
    font-size: 16px;
}
.THIS .su_BannerContainer {    padding: 0 0 !important;}
.THIS #su_BannersearchBox .su-searchBoxContainer .su-searchBtn{
        margin-top: 0 !important;
}
@media screen and (max-width:1024px){
    .THIS.conatinerDiv {
        width : 100%;
    }
}
@media screen and (max-width:768px){
    .THIS.conatinerDiv {
        width : 100%;
    }
    .THIS .ideaDiv{
        border: 1px solid #ccc;
        padding: 10px;
        margin : 10px 0px;
    }
    .THIS .eachIdeaBlock{
        border : none ;
        padding : 0px;
    }
    .THIS .paginationDiv{
        display : block;
        padding : 22px 10px;
    }
    .THIS .description a{
        font-size : 12px; 
    }
    .THIS .destopView {
        padding-top : 20px;
    }
    .THIS .totalresults{text-align:center;}
    
}