.THIS .siteheader{
    padding-left:0px;
    text-align:left;
    font-size: 14px;
}
.THIS .headerTabs{
    float : right ;
}
.THIS .ContactNum{    
    border: 1px solid white;
    padding-bottom: .5rem !important;
    border-radius: 31px;
}
.THIS .headerTabs.slds-large-show > ul.slds-list_horizontal {
    flex-wrap: wrap !important;
}
.THIS .headerTabs .slds-form-element > .slds-form-element__control > lightning-input.slds-form-element {
    line-height: normal;
}
.THIS.headerbacktop .slds-wrap {    
    flex-wrap: wrap;
    align-items: center !important;
}
/*.THIS .navigatebar{
padding-top:15px;
}*/
.THIS .backgroundcolor {
    width: 90%;
    margin: 0 auto;
    /*padding: 0 40px;*/
}
.THIS .navbarcolor:hover{
    color: #009DAC !important;
    background-color: #2E4E52 !important;
}
.THIS.headerbacktop {
    background: rgb(46,78,82);
}
.THIS .imgcls{
    cursor:pointer;
    height:20px;
    float: left;
    padding: 15px 0px;
    font-size: 18px;
    line-height: 20px;
    height: 91%;
    width: 100%!important;
    max-width: 140px;
}
.THIS .headerlink{
    color:grey;
}
.THIS .headerls{
    color:grey;
    background:black;
    padding-top: 8px;
    padding-bottom: 4px;
    max-height : 40px;
    min-height : 40px;
    margin: auto;
    width: 100%;
}
.THIS .iconcls{
    vertical-align: middle;
}
.THIS .iconcls .slds-icon {
    width: 1.5rem;
    height: 1.4rem;
    fill: rgb(255, 255, 255);
    background: grey;
    border-radius: 0px;
    
}

.THIS .mobile-menu{
    left: 0px;
    position: absolute;
    top: 68px;
    z-index: 2;
    background: rgb(46,78,82);
    width: 100%;
    padding : 10px;
    padding-left: 25px;
}
.THIS .linecolor{
    color:rgb(47,55,67);
    
}
.THIS .containercls .slds-icon_container{
    background-color: rgb(46,78,82);
    padding: 0 6px;
    border: 1px solid #dddddd;
    position: relative;
    bottom: 0;
    position: relative;
    bottom: 0;
}
.THIS .backgroundcolor{
    background:rgb(46,78,82);
    color:white;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    z-index: 1;
}
.THIS .navbarcolor{
    color:#fff;
    font-family: gotham-light;
    font-size: 12.5px !important;
    line-height: normal !important;
    text-transform: uppercase;
    padding-bottom: 15px;
}
.THIS .mobile-menu .navbarcolor{
    line-height: 35px !important;
}
.THIS .headerbacktop{
    background: rgb(46,78,82);
}
.THIS .backgroundImage{
    background : url('/resource/RubrikCustomerCommunity/RubrikCommunity/Images/banner.png') no-repeat  !important; 
    background-attachment: fixed;
    background-position: center !important; 
}
.THIS .para{
    color: white !important;
    text-align: center;
    font-size: 48px !important;
    margin-bottom: 30px !important;
}
.THIS .padtop{
    padding-top: 15px;
    padding-bottom: 15px;
}
.THIS .cHeroHeaderBoxContainer .padtop:hover {
    background-color: #009dac;
    color: #009DAC !important;
    background: linear-gradient(136.42deg, #00B388 0%, #00B097 13.16%, #00A9BF 51.16%, #00A6D0 72.37%, #00A6D0 72.37%, #00A5D7 81.43%, #00A3E0 100%);
}
.THIS .sldssearch{ 
    background: rgb(46,78,82);
    font-size: 14px;
    border-radius: 0px;
    max-width: 100px;
    border-bottom: 1px solid #ddd;
    border-top: none;
    background: rgb(46,78,82);
    border-right: none;
    border-left: none;
    padding:0;
    min-height: 18px !important;
    line-height: normal;
    color:white;
}
.THIS .mobile-menu li{
    padding : 5px 0px;
}
.THIS .searchiconcls .slds-icon{
    width: 1.3rem;
    height: 1.25rem;
    fill: rgb(255, 255, 255);
}
.THIS .padtopicon{
    padding-top: 0px;
    padding-left: 5px;
}
.THIS .containercls  {
    display : block ;
}
.THIS .containercls {
    display : none;
}
/*.THIS li.slds-large-show.hidecls .slds-form-element .slds-form-element__control .slds-input::-webkit-input-placeholder, .THIS li.slds-large-show.hidecls .slds-form-element .slds-form-element__control .slds-input::-moz-placeholder, .THIS li.slds-large-show.hidecls .slds-form-element .slds-form-element__control .slds-input:-ms-input-placeholder, .THIS li.slds-large-show.hidecls .slds-form-element .slds-form-element__control .slds-input:-moz-placeholder{
color: #bbb;
font-size: 14px;
}*/
.THIS .slds-input::placeholder{
    color: #bbb;
    font-size: 14px;
}
.THIS .sldssearch:focus {
    box-shadow: none;
    background: transparent;
    border-bottom-color: white;
}
	
@media all and (-ms-high-contrast:none){
   .THIS *::-ms-backdrop, .THIS .headerTabs.slds-large-show > ul.slds-list_horizontal{
	flex-wrap:wrap !important;
	max-width:1000px;
}
}
/*@media (min-width: 1366px){
    .THIS .headerTabs .navbarcolor {
        font-size: 12.5px!important;
    }
}
@media only screen and (min-width : 1600px) {
    .THIS .imgcls{
        width : 28% !important;
    }
}
@media (min-width: 1200px){
    .THIS .navbarcolor {
        font-size: 11px!important;
    }
}*/
@media only screen and (max-width: 1199px) {
    .THIS .backgroundcolor {
        padding : 0 20px;
        width : 100%;
    } 
    .THIS .hidenavbar {
        display:none !important; 
    }
    .THIS .rowIcon {
        display:block !important; 
        max-width : 45px;
        float: right;
    }
    .THIS .containercls {
        display : block;
    } 
    .THIS .navbarcolor:hover{
        text-decoration:none;
    }
    .THIS .backgroundcolor {
    	z-index: 2;
	}
}
@media only screen and (max-width: 812px) {
    .THIS .imgcls {
        width: 45%;
        max-height: 74px;
        min-height: 70px;
    }
}

/*@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
.THIS  .mobview {
float : right;
position: relative;
bottom: 10px;

}
}*/