.THIS .none{
    display:none; 
}

.THIS .flex{
    display: flex;
}

.THIS .hideIcon .slds-form-element__icon{
    display: none;   
}
.THIS .link-text {
    color: #123A7B;
    font-family: "Inter-Regular";
    font-size: 18px;
    margin: 16px;
}