.THIS.communityBody{
    background-color: #f1f1f1;
}
.THIS .profileMenuRegion{
    width : 250px;
    position: absolute;
    right: 106px;
    top: 1px;
    
}
.THIS .slds-post__header.slds-media{
    text-align: center;
}
.THIS .cuf-feedBodyText a.cuf-more {
    z-index: 999;
    position: relative;
}
.THIS.slds-popover__body{
    white-space: break-spaces;
}
.THIS .slds-popover__body{
    white-space: break-spaces;
}
.THIS.slds-size_1-of-1.communityBody.cDiscussionTemplate ul li[title="Remove Bookmark"],.THIS.slds-size_1-of-1.communityBody.cDiscussionTemplate ul li[title="Mute"],.THIS.slds-size_1-of-1.communityBody.cDiscussionTemplate article .cuf-media-right.forceChatterOverflowActionMenu.uiMenu{
    display : none;
}
.THIS .forceChatterToggleLike{
        margin-left:22px;
}
@media only screen and (min-width: 1024px) {
    .THIS .profileMenuRegion{
        
        right: 15px;
        
    }
    
    .THIS .outputLookupContainer{display:none;}
    .THIS .ql-adduser{display:none !Important;}
    .THIS .sharePostMenu{display:none;}
    .THIS .actionDropDown{display:none;}
    .THIS .cuf-media-right{float:right;}
    .THIS .drillInTarget{}
    .THIS .slds-col--padded{
        padding: .0rem !important; 
    }
    .THIS feeds_metrics-views feeds_metrics-metric-layout lightning-icon{
        display:none;
    }
    .THIS feeds_metrics-views feeds_metrics-scaled-number::after{
        content: 'Views';
        display: block;
        padding: 0p;
        margin: 0px;
        left: -10px;
        position: relative;
        font-family: gotham-medium;
    }
    .THIS .forceChatterCompactFeedItem .metrics {
        position: relative;
        top: -14px;
    }
    .THIS feeds_metrics-likes feeds_metrics-metric-layout lightning-icon{
        display:none;
    }
    .THIS feeds_metrics-likes feeds_metrics-scaled-number::after{
        content: 'Likes';
        display: block;
        padding: 0p;
        margin: 0px;
        left: -10px;
        position: relative;
        font-family: gotham-medium;
    }
    .THIS .forceChatterCompactFeedItem .metrics {
        position: relative;
        top: -14px;
    }
    .THIS feeds_metrics-comments feeds_metrics-metric-layout lightning-icon{
        display:none;
    }
    .THIS feeds_metrics-comments feeds_metrics-scaled-number::after{
        content: 'Replies';
        display: block;
        padding: 0p;
        margin: 0px;
        left: -10px;
        position: relative;
        font-family: gotham-medium;
    }
    .THIS.slds-dropdown-trigger slds-dropdown-trigger_click cuf-feedItemActionTrigger forceChatterOverflowActionMenu{
        top: -46px;   
    }
    .THIS .slds-post__header .forceChatterOverflowActionMenu{top:-123px !important;}
   
    .THIS .forceChatterOverflowActionMenu{
        top: -46px;   
    }
    .THIS.pinnedFeedList{
        margin-bottom: 20px;
    }
    .THIS .compactFeedList{
        background-color:white;
    }
    .THIS .pinnedFeedList{
        margin-bottom: 20px;
    }
    .THIS .resizeCaptureFrameWrapper{
        background-color: #f1f1f1;
        padding:20px;
    }
    .THIS .tabs__nav{
        display:none;
    }
    .THIS feeds_sorter-filter{
        display:none;
    }
    .THIS feeds_sorter-sorter{
        display:none;
    }
    .THIS .forceCommunityAskCommunity{
        width:86% !important;
        margin-right:27px !important;
    }
    .THIS .pinnedFeedListItem a{
        font-size:15px;
        font-family:Gotham-medium;
        color: #4a4a4a!important;
        text-decoration: none;
        transition: color .1s linear;
    }
    .THIS .pinnedFeedListItem a:hover{
        color: #009dac!important;    
    }
    .THIS .compactFeedListItem a{
        font-size:15px;
        font-family:Gotham-medium;
        color: #4a4a4a!important;
        text-decoration: none;
        transition: color .1s linear;
    }
    .THIS .compactFeedListItem a:hover{
        color: #009dac!important;    
    }
    .THIS .forceChatterQuestionPost .forceCommunityCaseDeflection{
        overflow:hidden !important;
    }
    
    .THIS .showMoreDetailsLink{
        display:none;
    }
    .THIS .cuf-body .cuf-questionTitle .forceChatterFeedBodyQuestionWithoutAnswer{
        position: relative;
        top: -49px;
        float: left;
        left: -15rem;
    }
    .THIS .cuf-feedElement .cuf-feedItem{
        margin-top:30px;
    }
    .THIS .cuf-body .cuf-questionBody .forceChatterFeedBodyQuestionWithoutAnswer{
        float:right;
    }
    .THIS .topic-commaSeparatedList{
        display:none !important;
    }
    .THIS .forceChatterFeedItemHeader span:nth-child(2){
        display:none;
    }
    .THIS .cuf-feedItemHeader .slds-post__header{
        display:block;
    }
    .THIS .forceChatterUserPhoto {
        height: 69px !important;
        width: 70px !important;
        margin-left: 30px;
    }
    .THIS .forceChatterUserPhoto .image {
        height: 69px;
        width: 70px;
    }
    .THIS .forceChatterFeedItemHeader{
        margin-top:10px;
        text-align: center !important;
    }
    .THIS .entityLinkFeedItemImageHover {
        margin-top:10px;
        text-align: center !important;
        margin-right: 2.35rem !important;
    }
    .THIS .forceChatterFeedItemHeader .cuf-preamble{
        display:block !important;
    }
    .THIS .forceChatterFeedItem--default .cuf-feedItem>div{
        margin:0px;
    }
    .THIS .slds-post__header{
        display: block;
        width: 22.80%;
        float: left;
        background-color:beige;
        padding: 10px;
    }
    .THIS .forceChatterFeedBodyQuestionWithoutAnswer .forceChatterMessageSegments{
        width: 40%;
        margin-left: 15.6rem;
        text-align: left;
        padding:5px;
    }
    .THIS  .qe-seenBy{
        display:none !important;
    }
    .THIS .uiMenu{
    }
    .THIS .cuf-questionTitle span{
        width: 100%;
        left: -12rem;
        top: -3rem;
        font-family: gotham-medium;
        font-size: 20px;
    }
    .THIS .forceChatterAbstractFeedItem {
        margin-top:30px !important;
    }
    .THIS .entityLinkFeedItemImageHover::hover{
        display:none !important;
    }
    .THIS .askCommunityBtn{
        margin-top: 50px !important;
    }
    .THIS .slds-post__footer-actions-list{
        width: 22.8%;
        height: 90px;
        background-color: beige;
        padding-top: -23px;
        position: relative;
        top: -14%;
    }
    .THIS .cuf-commentLink{
        margin-right:0px;
    }
    .THIS .forceChatterFeedBodyQuestionWithoutAnswer{
        float: right;
        width: 75%;
    }
    .THIS .forceChatterFeedBodyQuestionWithoutAnswer .forceChatterFeedBodyText{
        margin:0px !important;
        width: 100% !important;
    }
    .THIS .forceChatterSimpleFeedItemTopics{
        width: 22.8% !important;
        background-color: beige !important;
    }
    .THIS .forceChatterComment .comment__header .cuf-commentNameLink span:nth-child(2){
        display:none;
    }
    .THIS li.ql-adduser{display:none !important;}
    .THIS .cuf-entityLinkId {Cursor:pointer !important;pointer-events: none !important;}
    .THIS .entityLinkFeedItemImageHover{Cursor:pointer !important;pointer-events: none !important;}
    .THIS .qe-commentCount{
        display:none;
    }
    .THIS .cuf-entityLink{Cursor:pointer !important;pointer-events: none !important;}
    .THIS .forceChatterCompactFeedItemBody,.titleContainer{width:70%!important;}
    .THIS .forceChatterFeeditemAttachments{
        width: 76%;
        float: right;
        position: sticky;
    }
    .THIS .cuf-commentItem{
        position:relative;
    }
    
    .THIS .verifiedBadge{
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 1px solid green;
    }
    .THIS .verifiedBadge:after{
        position: absolute;
        right: 9px;
        top: -5px;
        content: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAAc0lEQVQokWP8//8/A4nAmIGBIZ4BpJFEvO0/GZrm/YeATFI0LYRqSgJ7j0hNi6CaUmBixGiaj64JphEEJuLQtACbJpjGKVDJamJsQndqG1RRKbaAwKcRWfMVfDbhCpw+qKZkQoGGLiD5////DoIh/f8/AwCNAuuCYr9XTAAAAABJRU5ErkJggg==);
        color: white;
        font-size: 24px; 
    }
    .THIS .verifiedBadge:before{
        position: absolute;
        right: 0;
        top: 0;
        /*border-left: 40px solid transparent;
        border-top: 40px solid;
        border-top-color: #d4d4d4;*/
        width: 0;
          height: 0;
          border-top: 40px solid green;
          border-left: 40px solid transparent;
        content:'';
    }
    .THIS .verifiedBadge feeds_answer_badging-user-verified{
        display:none;
    }
    .THIS .comment__header .slds-dropdown-trigger{
        position: relative;
    	margin-right: 30px;
        z-index: 9999;
    }
}
@media only screen and (max-width: 1024px) {
.THIS .cuf-commentItem{
        position:relative;
    }
    
    .THIS .verifiedBadge{
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 1px solid green;
    }
    .THIS .verifiedBadge:after{
        position: absolute;
        right: 5px;
        top: -5px;
        content: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAAc0lEQVQokWP8//8/A4nAmIGBIZ4BpJFEvO0/GZrm/YeATFI0LYRqSgJ7j0hNi6CaUmBixGiaj64JphEEJuLQtACbJpjGKVDJamJsQndqG1RRKbaAwKcRWfMVfDbhCpw+qKZkQoGGLiD5////DoIh/f8/AwCNAuuCYr9XTAAAAABJRU5ErkJggg==);
        color: white;
        background-color:white;
        font-size: 22px; 
    }
    .THIS .verifiedBadge:before{
        position: absolute;
        right: 0;
        top: 0;
        /*border-left: 40px solid transparent;
        border-top: 40px solid;
        border-top-color: #d4d4d4;*/
        width: 0;
          height: 0;
          border-top: 40px solid green;
          border-left: 40px solid transparent;
        content:'';
    }
    .THIS .verifiedBadge feeds_answer_badging-user-verified{
        display:none;
    }
	.THIS .comment__header .slds-dropdown-trigger{
        position: relative;
    	margin-right: 20px;
        z-index: 9999;
    }
    .THIS .forceChatterToggleLike {
        margin-left: 4px;
        margin-right: 0px;
    }
}
.THIS .feedBodyInner a {
    z-index: 999;
    position: relative;
}
@media only screen and (min-width : 1440px){
   .THIS .forceChatterToggleLike {
    margin-left: 30px;
}
}

@media only screen and (min-width : 1900px){
    .THIS .forceChatterToggleLike {
        margin-left: 56px;
    }
}

@media only screen and (min-width : 2560px){
   .THIS .forceChatterToggleLike {
    margin-left: 100px;
}
}