.THIS.containerDiv {
    width : 1140px;
    margin : auto ;
    padding: 30px 0px;
}
.THIS .titleDiv{
    border: 1px solid #ccc;
    border-radius : 4px;
    margin-top : 15px;
    
}
.THIS .nameList{
    padding : 20px;
}
.THIS .subscribeName a {
    font-size : 16px;
}
.THIS .headingTitle{
    padding: 10px 10px 10px 20px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    font-family: Gotham-Light;
    font-weight: 600;
        background-color: #f5f5f5;
}
.THIS .para{font-family: Gotham-Light;
    font-size: 16px;
    padding: 10px 0px 20px;
}
.THIS .HeadingDiv{
    font-family: Gotham-Light;
    
    font-size: 30px;
}
.THIS .backtoCateg{  
    float: right;
    font-size: 14px;
    font-family: Gotham-Medium;
    font-weight: 600;
    color: #009DAC;
    text-decoration: none;
}