.THIS .slds-select_container:before{
    display:none;
}
.THIS .slds-select_container:after{
        padding-bottom: 4px;
}
.THIS .fontfamily{
    font-size: 18px;
    font-weight: 400;
    font-family: Gotham-Light;
}
.THIS .unorderedList{
    list-style-type:disc;
    margin-left:17px;
}
/*.THIS .slds-required{display:none;}*/
.THIS .header{
    font-size: 24px;
        margin-top: 20px;
    margin-bottom: 20px;
    font-family: gotham-light;
}
.THIS .slds-button_brand{
    background: rgb(0,157,172);
    border: 1px solid rgb(0,157,172);
    border-radius: 3px;
    margin-right: 4px;
    font-family: Gotham-light;
}
.THIS .buttonpading{
        padding: 15px;
}
.THIS .slds-button_brand:hover{
        background-color: #3fb5c0;;
    border-color: #3fb5c0;
    color: rgb(255, 255, 255);
}
.THIS .slds-textarea{
    height: 200px;
}
.THIS .padtopbotm1{
    padding-top: 6px;
    padding-bottom: 6px;
        font-size: 16px;
}
.THIS .padtopbotm2{
    padding-top: 6px;
    padding-bottom: 6px;
        font-size: 16px;
}
.THIS .padtopbotm2 .slds-select_container{
     padding-top: 10px;
}
.THIS .padtopbotm3 .displyinline {
    padding-top: 35px;
}
.THIS .padtopbotm3 .slds-grow {

    padding-top: 37px;
}
.THIS .h1cls{
     font-size: 16px;
    font-weight: 700;
    font-family: Gotham-Light;
    padding-top: 86px;
}
.THIS .utilityborder{
   border: 1px solid;
    border-radius: 25px;
    color: #005fb2;
        font-size: 14px;
}
.THIS .slds-button__icon{
      color: #005fb2;
}
.THIS .descheight{
     display:flex;
    
    padding-top: 10px;
}
.THIS .displyinline{
    display:flex;
    position: relative;
}
.THIS lightning-input.displyinline.slds-form-element label.slds-form-element__label.slds-no-flex {
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -15px;
    z-index: 1;
}
.THIS .anchrcolor{
    color: #009DAC;
    font-family: Gotham-light;
    text-decoration: none;
}
.THIS .padtopbotm{
    font-family: Gotham-light;
    padding-top: 6px;
    padding-bottom: 6px;
        font-size: 16px;
}
.THIS .padtopbotm3{
    padding-top: 6px;
    padding-bottom: 6px;
        font-size: 16px;
}
.THIS .paracls{
     font-size: 16px;
}
.THIS .bgcolor{
        background: white;
}
.THIS .buttonpading{
        background: white;
}
.THIS .displayinline{
    display: inline-flex;
    width: 100%;
    font-family: Gotham-light;
}
.THIS .paracls {
        margin-top: 15px;
        margin-bottom: 15px;
}
.THIS lightning-input.slds-form-element label.slds-form-element__label.slds-no-flex {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    font-family: Gotham-Light;
}
.THIS lightning-combobox.slds-form-element label.slds-form-element__label {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    font-family: Gotham-Light;
}
.THIS lightning-textarea.slds-form-element label.slds-form-element__label {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    font-family: Gotham-Light;
}
.THIS lightning-input.slds-form-element  label.slds-form-element__label.slds-no-flex  abbr.slds-required {
    /*font-size: 20px;*/
}
.THIS .slds-col.slds-large-size_7-of-12.slds-small-size_10-of-12.slds-medium-size_10-of-12.padtopbotm lightning-input.slds-form-element {
    margin-top: -5px;
}
.THIS .banner-table{
    margin-top: 10px;
    margin-bottom: 10px;
}
.THIS .banner-table>tbody>tr{
    line-height: 3;
}
.THIS .slds-form-element_horizontal .slds-form-element{
    margin-bottom: 10px !important;
}
.THIS .section {
    	width: 48%;
        border: 1px solid #dddfe5;
        margin: 5px;
        padding: 10px;
        border-radius: 5px;	
}
.THIS .mainSection {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 18px;
}
.THIS .heading{
    font-weight: 600;
}
/*media queries start*/
@media(max-width:767px){
    .THIS .padtopbotm1 {
    padding-left: 8px;
    }
    .THIS lightning-input.slds-form-element label.slds-form-element__label {
        position: relative;
        font-size: 16px;
        font-weight: 700;
        font-family: Gotham-Light;
    }
    .THIS lightning-combobox.slds-form-element label.slds-form-element__label {
        position: relative;
        font-size: 16px;
        font-weight: 700;
        font-family: Gotham-Light;
    }
    .THIS lightning-textarea.slds-form-element label.slds-form-element__label {
        position: relative;
        font-size: 16px;
        font-weight: 700;
        font-family: Gotham-Light;
    }
    .THIS .section {
    	width: 99%;
    }
}

@media(max-width:480px){
    .THIS .h1cls {
    font-size: 14px;
    padding-top: 0;
    }
    .THIS .slds-large-size_12-of-12.slds-small-size_12-of-12.slds-medium-size_12-of-12.slds-align_absolute-center {
    display: block;
    }
    .THIS .slds-grid.slds-align_absolute-center.buttonpading {
    padding: 0;
    }
    .THIS button.slds-button.slds-button_brand {
    margin-top: 10px;
    }
 /*display none for lable*/
 .THIS .slds-form-element.displyinline label.slds-form-element__label {
    display: none;
    }
    .THIS .leftRightMargins{
        margin-left: 20px;
        margin-right: 20px;
    }
    .THIS lightning-input.slds-form-element label.slds-form-element__label.slds-no-flex {
        font-size: 16px;
        font-weight: 700;
        font-family: Gotham-Light;
    }
    .THIS lightning-combobox.slds-form-element label.slds-form-element__label {
        font-size: 16px;
        font-weight: 700;
        font-family: Gotham-Light;
    }
    .THIS lightning-textarea.slds-form-element label.slds-form-element__label {
        font-size: 16px;
        font-weight: 700;
        font-family: Gotham-Light;
    }
    .THIS .section {
    	width: 99%;
    }
   
}