.su__w-40 {
    width: 40%;
}

.su__w-60 {
    width: 60%;
}

.su__sandbox-feedback {
    height: 30px;
    border-radius: 6px;
}

.feedbackThanksModal {
    position: absolute;
    z-index: 230;
    background: #fff;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 275px;
    height: 150px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, .176) 0 6px 12px;
}

.su__sandbox-feedback::placeholder {
    padding-left: 10px !important;
}

.su__sandbox-feedback{
	padding: 10px;
}

.sandbox-feedbackOverlay{
	background: rgba(0, 0, 0, 0.48);
}