.THIS .slds-badge {
    border : 1px solid #009dac;
    font-family : Gotham-Light;
    font-size: 14px;
    margin: 0 .5rem .5rem 0;
}
.THIS .Categories{
    justify-content:center;
}

.THIS .rrtwarningicon {
    width: 41px;
    height: 44px;
    /* border-radius: 50%; */
    padding-bottom: 5px;
}