.main-heading {
	margin: 0px 40%;
	width: 100%;
	font-size: 17px;
	font-weight: 600;
}

.field-container {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

.field-label {
	font-weight: 500;
	width: 30%;
}

.field-label-resolution {
	width: 26%;
	font-weight: 500;
}


.pagination-info {
	text-align: right;
	margin-top: 10px;
	color: #a9a9a9;

}

.pdm-feature {
	font-size: 17px;
}

.field-container-pdm {
	border: 1px solid #cfcfcf;
	padding: 12px;
}

.spinner-text {
	text-align: center; 
	font-size:18px; 
	font-weight:800;
}
.w-60 {
	width: 60%;
}
.spinner-with-text::after {
    position: absolute;
    content: 'Please wait, case closing is in progress';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-size:18px; 
	font-weight:800;
	color: gray;
}