.THIS .left {
    float: left;
    width: 30% !important;
}
.THIS .right {
    float: right;
    width: 65% !important;
}
.THIS .forceCommunityTileMenuItem .tileLabel {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    text-transform: none;
    background-color: rgb(0, 157, 166);
    color: #ffffff;
    padding-top: .75rem;
    padding-bottom: .75rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: all .8s ease; 
}