.THIS.containersize {
    width: 100% ;
    max-width: 1200px;
    margin: 0 auto;
    margin-top:-13rem;
}
.THIS .imageIcon{
    height:35px;
}
.THIS .mycasescls{
    padding-left: 5px;
}
.THIS .underlinenone{
    text-decoration-line: none !important;
}
.THIS .underlinenone:hover{
    color:white;
}
.THIS .ContainerBox{
    background-color:#FFFFFF;
    padding: 30px 0px;
    z-index:1;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    padding-left: 15px !important;
}
.THIS .ContainerBox:hover{
    color:white !important;
    background-color:#009DAC;
    border-top:1px solid #009DAC;
    border-left:1px solid #009DAC;
    background:linear-gradient(136.42deg, #00B388 0%, #00B097 13.16%, #00A9BF 51.16%, #00A6D0 72.37%, #00A6D0 72.37%, #00A5D7 81.43%, #00A3E0 100%);
}
.THIS .ContainerBox:hover .imageBlock1{
    display:none;
}
.THIS .ContainerBox:hover .imageBlock2{
    display:block;
}
.THIS .ContainerBox:hover .THIS .herogroups a, .THIS .ContainerBox:hover .herolinks{
    color:#fff;
}
.THIS .ContainerBox:hover  .THIS .imageBlock2{
    display:block;
}
.THIS .imageBlock1 , .THIS .imageBlock2{
    text-align:center;
}
.THIS .imageBlock2{
    display:none;
    z-index:1;
}
.THIS .herogroups a{
    color:#4a4a4a;
}
.THIS .herogroups {
    font-family:Gotham-medium;
    font-size: 20px;
    line-height: 19px;
    padding-bottom: 10px;
    color: #4a4a4a;
}
.THIS .calendlyBody{
    font-size: 16px;
    font-family: gotham-light;
    color: #666666;
}
.THIS .calendlyHeading{
    color: #4a4a4a !important;
    font-family: Gotham-medium;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight:400;
}
.THIS a.herolinks{
    font-size:15px;
    line-height: 20px;
    color: #4a4a4a;
    word-wrap:break-word;
}
.THIS .herolinks{
    text-decoration-line: none !important;
}
.THIS .nopad{
    box-shadow: 0px 0px 20px 0px #ccc;
    border-radius:10px;
}
.THIS .ContainerBox:hover a.underlinenone {
    color: #fff;
}
@media (max-width: 991px){
   .THIS  .ContainerBox .Icontext{
    text-align: left !important;
}
   .THIS.containersize{
    width: 100%;
    padding-left:100px;
    padding-right:100px;
    margin: 0 auto;
    margin-top: -70px;
    }
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
    .THIS .Icontext{
        text-align:left !important;
    }
    .THIS.containersize{
    padding-left:0px;
    padding-right:0px;
    }
}
@media only screen and (min-width : 480px) and (max-width : 767px){
    .THIS .Icontext{
        text-align:center !important;
    }
}
@media only screen and (min-width : 767px) and (max-width : 923px){
    .THIS .containersize{
        width: 70%;
    }
    .THIS .Icontext{
        text-align:center !important;
    }
    .THIS .herogroups {
        font-size: 18px;
    }
}
@media only screen and (min-width : 924px) and (max-width : 1224px){
    .THIS .herogroups {
        font-size: 18px;
    }
}
@media (min-width: 1200px){
    .THIS .slds-large-size_3-of-12 {
        height: 130px;
        float: left;
        padding-left: 10px;
    }
}
@media (min-width: 992px){
    .THIS .slds-medium-size_3-of-12 {
        float: left;
        padding-right: 7px;
    }
}

.THIS .siteforceCptBody .cCenterPanel{
    max-width: none;
    margin: 0px
}
@media only screen and (min-width : 991px) and (max-width : 1336px){
    .THIS.containersize {
        width:100%;
    }
    .THIS  .ContainerBox{
    }
}