.form {
    background: white;
}
.popover {
    left: -145px;
    bottom: 52px;
}
.slds-form-element__label {
    display: inline-flex !important;
}
.slds-modal__header .slds-modal__close {
    top: 10px;
    right: 5px;
}
.slds-modal__container .slds-modal__content {
    padding-top:0px;
}
.slds-card__body_inner{
    margin-top: 2px;
}
@media (max-width: 500px) {
    .slds-modal__container .slds-grid_align-end {
        justify-content: center;
    }
}