.THIS .articlecls:last-child {
    border-bottom: none;
}
.THIS .artcls {
    font-size: 30px;
    margin-top: 0px;
    font-size: 30px;
    color: #333333;
    padding-bottom: 10px;
    font-family: Gotham-light;
}
.THIS .articlecls{
    font-size: 16px;
    color: #1d2632;
    padding-top: 30px;
}
.THIS .articlecls1{
    font-size: 16px;
    color: #666666;
    padding-bottom: 30px;
    padding-top: 30px;
}
.THIS .articlecls1:last-child {
    border-bottom: none !important;
}
.THIS .paddingtopbottom1{
    padding-top: 30px;
}
.THIS .artnobgcolor{
    font-size: 12px;
    font-family: "Gotham-light";
    color: #4a4a4a;
    Background-color: #eee;
    padding: 3px;
    width: max-content;
    display:inline-block;
}
.THIS .SummaryClass{
    font-size: 16px;
    color: #666666;
    font-family: "Gotham-light";
    padding-bottom: 10px;
}

.THIS .titlesize{
    font-family:Gotham-medium;
    font-size: 16px;
    color: #1d2632;
    padding-top:20px;
    
}
.THIS .titlesize:last-child {
    border-bottom: none !important;
}
.THIS .titlesize:hover{
    color: #009DAC !important; 
}
.THIS .datepadding{
    padding-top:10px;
    font-size: 12px;
    font-family: "Gotham-light";
    color: #4a4a4a;
}
@media(max-width:991px){
    .THIS .articlecls {
        padding-right: 15px;
    }
    .THIS .artcls {
        text-align: center;   
        margin: 0 auto;
    }

}
@media only screen and (max-width : 768px) {
    /*.THIS .articlecls{
    text-align:center;
}*/
}
.THIS .textdecorate{
    text-decoration:none !important;
    padding-bottom: 5px;
    display: inline-block;
}
@media(max-width:480px){
    .THIS .articlecls1 {
    padding-bottom: 20px !important;
}
    .THIS .articlecls {
        text-align: left !important;
    }
    .THIS .articlecls1 {
        padding-top: 20px;
        padding-left: 15px;
    }
    .THIS .titlesize {
        display: inline-block;
        padding-top: 10px;
    }
}

.THIS .link{
    font-size: 15px;
    color: #009dac!important;
    cursor: pointer;
    text-transform: uppercase;
    font-family: Gotham-medium;
    text-decoration:none;
    margin-top:20px;
    margin-bottom: 56px;
}