.custom-container{
	color : black;
}
.agreement-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 36px;
    gap: 16px;
    background: linear-gradient(180deg, #EFF7FE 0%, #E6EFF8 100%);
    border-radius: 10px;
    margin: 10px 0 20px 0;
}
.agreement-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #6C7174;
    padding: 12px;
    margin-top: 18px;
    margin-bottom: 8px;
    display: block;
}
.spinner{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.slds-modal__content{
	border-radius: 0 0 5px 5px !important;
}