.learningTrackHeader{
	font-family: "Inter-Medium";
    font-size: 36px;
	line-height: 41px;
    letter-spacing: -0.03em;
    color: #070F52;
	font-weight: 600;
	padding-bottom: 0;
}


lightning-button.button{
	--slds-c-button-color-background-hover:darkblue;
	--slds-c-button-color-background:rgb(0, 211, 193);
	--slds-c-button-text-color:rgb(7, 15, 81);
	--slds-c-button-text-color-hover:white;
	--slds-c-button-text-color-active:white;
	--slds-c-button-radius-border:2rem;
	--slds-c-button-sizing-border:6px 20px;
	font-weight: 600;
	font-size: 14px;

}

.container{
	background:rgba(231,240,249,255);
	border-radius:10px;
}

a:hover{
    text-decoration: none;
}

div.course{
    font-size: 16px;
    color: #070F52;
	font-family: "Inter-Medium";
	font-weight: 600;
}

div.category{
	font-weight: 300;
    font-size: 15px;
    color: #070F52;
	font-family: "Inter-Regular";
}

.circleDiv{
	border-radius: 50%;
	width: 80px;
    height: 80px;
    background: white;
    border: 3px solid rgb(0, 211, 193);
}

.tickicon{
	--lwccolorTextIconDefault: rgb(0, 211, 193);
	--slds-c-icon-color-foreground:rgb(0, 211, 193);
	--sds-c-icon-color-foreground-default: rgb(0, 211, 193);
}

.courseComplete{
	background: linear-gradient(rgba(5,15,82,255),rgba(17,56,121,255));
	border:none;
}

.courseBox:hover{
	cursor: pointer;
}