.SMALL .bgImage {
  background-position: left bottom;
  background-repeat: no-repeat;
}
.MEDIUM .bgImage {
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.bgImage {
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.SMALL .RTDiv {
  padding-left: 0px;
  padding-right: 4px;
}
.MEDIUM .RTDiv {
  background-color: #ffffff;
  border-radius: 31px 31px 0px 0px;
  width: auto;
  padding: 18px 0px 0px 18px;
}
.RTDiv {
  background-color: #ffffff;
  border-radius: 31px 31px 0px 0px;
  width: auto;
  padding-left: 18px;
  overflow-y: auto;
}

.rtypes:hover {
  border: 1px solid green;
  border-radius: 8px;
  background-color: #eae9f0;
  cursor: pointer;
}

.rectype {
  font-family: 'Roboto Medium';
  color: #0f0a39;
  text-align: left;
  font-size: 16px;
  width: 225px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.icon {
  margin-right: 0.4rem;
  display: block;
  --lwc-colorTextIconDefault: #3e7555;
}
.SMALL .topNav {
  border-radius: 16px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 12px;
}

.MEDIUM .topNav {
  border-radius: 16px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0px;
  margin-right: 18px;
}
.layoutItem {
  padding: 0px;
}
.dataDivContainer {
  margin: 0 !important;
}
.chooseHead {
  font-family: 'Roboto Medium';
  color: #0f0a39;
  font-size: 20px;
}
.SMALL .chooseHead {
  padding-left: 10px;
}
.MEDIUM .chooseHead {
  padding-left: 0px;
}
.closeIcon {
  --lwc-colorTextIconDefault: #767676;
  padding-right: 21px;
}
.SMALL .closeIcon {
  padding-right: 8px;
}
.MEDIUM .closeIcon {
  padding-right: 6px;
}
.dataDiv {
  padding-top: 30px;
}
.closeIcon {
  cursor: pointer;
}