.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.stickyPopUp {
  width: 400px;
  height: 200px;
  position: fixed;
  background-color: white;
  top: 50%;
  left: 40%;
  z-index: 100;
  margin-top: -100px;
  margin-left: -100px;
}

.border-bottom {
  border-bottom: solid #4285f4;
}

.sticky {
  display: flex;
}

.bluetext {
  color: blue;
  cursor: pointer;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.Section1 .textPage .mainSUContainer {
  background-color: #f1f1f1;
}

.textPage {
  background-color: #f1f1f1;
}

.showFormBlock {
  display: none !important;
}

.articleCheck {
  display: flex;
}

.toast {
  border: 1px solid #ddd;
  width: 265px;
  height: 90px;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: fixed;
  background-color: #fff;
  display: flex;
  align-items: center;
  z-index: 99;
  justify-content: center;
  font-size: 18px;
  box-shadow: -11px 0 24px rgb(0 0 0 / 17%);
}

.mainSUContainer {
  overflow-x: hidden;
  overflow-y: auto;
}

.subTabButton {
  border: 0px !important;
  --slds-c-button-base-color-background: white;
  --slds-c-button-text-base-color-background: blue;

  --slds-c-button-base-color-border: rgb(237, 235, 235);
  --slds-c-button-base-color-background-hover: yellow;
  --slds-c-button-text-base-color-border-hover: white;
  --slds-c-button-text-base-text-color: blue;

  padding-right: 10px;
  --slds-c-button-radius-border: 0rem;

  --slds-c-button-base-color-border: white;
  padding-left: 5px;
  --slds-c-button-shadow-focus: white;

  --slds-c-button-color-border-active: white;
  --slds-c-button-color-border-hover: white;

}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

lightning-button.button {
  --slds-c-button-radius-border: 0px !important;
  --slds-c-button-stateful-color-background-selected-active: red;
  --sds-c-button-brand-color-background: #bb00ff;
}

.subTabs {
  display: flex;
  flex-direction: column;
}

.stickyPopUp1 {
  display: none;
}

.stickyPopUp2 {
  display: float;
  border: 1px solid grey;
  z-index: 999;
  background-color: #F2F2F2;
  width: 300px;
  height: 100px;
  display: block;
  position: absolute;
  cursor: pointer;
}

.stickyValue {
  background-color: #C8C6C6;
  border-radius: 0.25rem;
  padding: 2px 3px;
}

.remove {
  display: none;
}

.slds-modal {
  visibility: visible;
  opacity: 1;

}

.ModelTooltip {
  width: fit-content;
  display: inline-block;
}

.version-field-name {
  color: #000018;
  text-align: right;
  font-size: 12px;
  margin-right: 10px;
  font-weight: 600;
}


.version-field {
  border: 1px solid #B2C0D1;
  background-color: #B2BFD136;
  width: 175px;
  max-width: 175px;
  min-width: 175px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 2px;
  display: flex;
  padding: 3px 5px;
  align-items: center;
  cursor: pointer !important;
}

.version-field span {
  font-size: 11px;
  color: #94A8BF;
  font-weight: 400;
  display: inline-block;
  padding-left: 2px;
  width: 87%;
  max-width: 87%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 87%;
}

.merge-result-icon {
  color: #94A8BF;
  margin-right: 7px;
  margin-left: 8px;
}

.merge-result-data {
  max-height: 120px;
  overflow: auto;
  max-width: 175px;
  min-width: 175px;
  overflow: scroll;
  position: absolute;
  border-bottom: 1px solid #B2C0D1;
  z-index: 1;
}

.merge-result-content {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 3px 6px;
  font-size: 10px;
  background: #e8edf4;
  border: 1px solid #B2C0D1;
}

.multiversion-main-box {
  position: relative;
}

.showPanel {
  display: block !important;
}

.su__filter-arows {
  width: 20px;
  height: 20px;
  right: 0;
}

.mergeVersionData {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: -13px;
}

.mergeVersionData-decoration {
  text-decoration: none;
}
.su__grid-contentView .mergeVersionData{margin-top: 0px;}
.version-field .su__filter-arows {
  top: 5px;
}

.version-field.su__active-Filter-color .su__filter-arows {
  top: 5px;
}

.su__metaData-block+.su__d-none {
  display: flex !important;
  position: absolute;
  transform: translate(0%, -100%);
  word-break: normal;
  padding: 5px;
  max-height: 150px;
  max-width: 306px;
  background: #F2F2F2;
  overflow: auto;
  font-size: 11px;
  font-family: inherit;
}

.resultDataSection-MinHeight {
  min-height: 200px;
}
.PreviewIframeModalDiv {
  position: relative;
  width: 100%;
  height: 100%;
}
.PreviewIframeModal {
  width: 97%;
  height: 88%;
  position: absolute;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  border: none;
}
.su__line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.su__text-truncatePreviewLabel {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 67px;
}

.results-div .su-source-label {
  top: -28px !important;
}

.searchDataSectiontitle {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  word-break: break-all;
}
.su_show_conversion{
  display: block;
}


.similiarSearchPadding-0 {
  padding: 0px;
}
.su__space_between{
  justify-content: space-between;
}
.su__width_full{
  width:100%
}
.su__pt-4{padding-top: 5px}
.su__listview-thumbnail{
  width: auto;
  max-width: 195px;
  min-width: 175px;
}
.su__grid-contentView .su__d-flex{
  display: block;
}
.su_new-flex{
  display: flex !important;
}
.su__customise-sc-head{padding: 8px 10px}
.su__grid-contentView .su__listview-thumbnail{margin: 0 0 15px;}
.su__pt-3{padding-top: 3px;}
.su__ml-5{margin-left: 5px;}
.su__grid-contentView .su__customizeScViewWidth:nth-child(even) {
  margin-right: 0;
}
.su__grid-contentView .version-field-name{margin-top:0; position: absolute; right: 0; top: -15px;}
.su__pt-4px{padding-top: 4px;}
.su__text-truncate-custom-field{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 164px;}