.active-page lightning-button button {
  background-color: #de1316 !important;
  color: white !important;
  border: 1px solid #2d62c4 !important;
  font-weight: bold !important;
  box-shadow: none !important;
}
/* 
.active-page lightning-button button {
    background-color: orange;
    color: black;
} */

.active-page lightning-button button:hover {
background-color: #e60000;
border: 2px solid #9d0208;
}