.imgCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  height: 97px;
  width: 97px;
}

.messageSuccess {
  color: #172b4d;
  font-family: 'Poppins Medium';
  font-size: 16px;
  font-weight: 600;
}

.contentMsg {
  display: block;
  text-align: center;
  margin: 20px auto;
}

.modal-content {
  color: black;
}