.THIS .leftPaddingClass {
    padding-left: 2rem;
}
 
.THIS .pillSize{
 width:100%;
}

.THIS .lookupLabelDiv {
    float : left;
    width: 30%;
}

.THIS .lookupBox {
    float: right;
    width: 66.5%;
    margin-right: 3px;
}

.THIS .lookupResultList {
    width: inherit;
}

.THIS .lookupResultUlList {
    width: inherit;
    margin-left: 16.3%;
}