.searchIconParent{
    position:relative;
}
.su__search-bar-icon{
    position: absolute;
    top: 8px;
    right: 8px;
}
.su__search-bar-close-icon{
    position: absolute;
    top: 8px;
    right: 35px;
}
.su__search-bar input {
    height: 35px;
    border-radius: 0px;
    padding-right: 60px;
}
.su__search-bar label{display: none;}
.su__search-bar-close-icon lightning-primitive-icon > svg,
.su__search-bar-icon lightning-primitive-icon > svg{
    width: 18px;
    height: 18px;
}
.search-form{width:100%}
.removePadding{
    background-color:transparent;
    padding-left:0px;
}
.su__bookmark-save {
    position:absolute;
    top: 7px;
    z-index: 5;
    left: 7px;
}
.su__bookmark-save lightning-primitive-icon > svg{
    width: 18px;
    height: 18px;
}
.outerform {
    position: relative;
}
.su__autoSuggestion-active{
    background: lightgrey;
}

.su__autoSuggestions { 
    position: absolute;
    max-height: 175px;
    overflow-y: auto;
    z-index: 1;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #fff;
    box-shadow: 0 2px 5px rgb(0 0 0 / 25%);
}

.su-autoSuggest-element {
    font-size: 13px;
    padding: 0 15px;
    line-height: 28px;
    /* height: 30px; */
}

.su__width-100 {
    width: 100%;
}

.su__flex-vcenter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.su-hidePanel {
    display: none;
}

.su-metadata{
    margin-top: 0px !important;
}

.su-metadata .su-metadataVal{
    margin-left: 4px;
    margin-right: 5px;
}
.su__line-height-18{line-height: 18px;}