.container{padding: 2% 0;}
.outer-container{width:100%;}
.inner-container{width:60%;margin:auto;border: 1px solid #ddd;border-radius: 5px;}
.header{
	border-bottom: 1px solid #ddd;
    padding: 1%;
}
.body{
	
}
.footer{
	border-top: 1px solid #ddd;
    text-align: center;
    padding: 1%;
}
.header-tb{
    
}
.header-tb-title{
    font-weight: bold;
    font-size: 20px;
}
.tb-box{
    border: 1px solid #ddd;
    border-radius: 5px;
}
.tb-box + .tb-box{margin-top: 10px;}