.THIS .paragraphHeading{
    font-size: 44px;
    line-height: 60px;
    letter-spacing: -1.2px;
    font-weight: 200;
    color: white;
}
.THIS .Paragraph{
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -.42px;
    margin-top: 8px;
    font-weight: 200;
    color: white;
}
.THIS .rubrik-btn{
    display: inline-block;
    padding: 13px 35px;
    box-shadow: 0 2px 2px 0 hsla(0,9%,4%,.2);
    border-radius: 2px !important;
    font-size: 12px;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    letter-spacing: -.5px;
    background-color: #009dac;
    font-family: Gotham-Light !important;
    color: #ffffff !important;
    margin: 28px 0 0 3px;
    background-color: #009dac !important;
    color: #fff;
    padding: 13px 20px !important;
    box-shadow: 0 2px 2px 0 hsla(0,9%,4%,.2);
    border-radius: 2px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    cursor: pointer;
    letter-spacing: -.5px;
}
.THIS .container{
    margin-right: 89.50px;
    margin-left:89.50px;
    padding-left: 15px;
    padding-right: 15px;
}

.THIS .containerSVG{
    margin-right: 89.50px;
    margin-left:89.50px;
    padding-left: 95px;
    padding-right: 15px;
}


.THIS .nopad {
    padding: 0px;
}
.THIS .containerCustomerService {
    background-color: #283d50;
    padding: 90px 0px;
}
.THIS .customerServiceHeading {
    color: #ffffff !important;
    font-size: 44px !important;
    line-height: 60px !important;
}
.THIS .customerServiceParagraph{    font-size: 16px;
    line-height: 30px;
    letter-spacing: -.42px;
    color: #fff;
    width: 60%;}

.THIS .imageBox {
    padding: 24px 10px 20px 16px;
    border-radius: 4px;
    background-color: #fff;
    width: 31% !important;
    margin-top: 32px;
}
.THIS .globalSupportBlock {
    padding-top: 86px;
    padding-bottom: 100px;
    background-color: #fafafa;
}
.THIS .imageWrapperHeading {
    font-size: 26px !important;
    margin-top: 30px !important;
    line-height: 26px !important;
}
.THIS .imageWrapperDescription {
    width: 82%;
    margin-top: 11px !important;
    word-spacing: .4px;
    margin-bottom: 0 !important;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: -.5px;
    line-height: 30px;
}
.THIS .baseSVG{
    position: absolute;
    margin-top: -3rem;
    margin-left: -2.5rem;
    width: 121px;
}
.THIS .bimage{
    position: relative;
    top: -21px;
    z-index: 12;
    left:-3px;
}
.THIS .gradientBox{
    height: 332px;
    width: 27.58%!important;
    margin: 0 20px 32px;
    margin-top: 16px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 6px 16px 4px rgba(0,0,0,.1);
}
.THIS .gradientHeading {
    padding-top: 21px;
    margin: 0px !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    line-height: 22px !important;
    color: #fff !important;
    text-align: center;
}
.THIS .gradientPara {
    padding-top: 8px;
    max-width: 240px;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #fff;
    text-align: center;
    opacity: .9;
}
.THIS .serviceBlockHeading{
    font-size: 44px !important;
    font-weight: 300 !important;
    line-height: 60px !important;
    text-align: center;
    color: #4a4a4a;
}
.THIS .getInTouchHeading {
    line-height: 60px !Important;
    letter-spacing: -1.2px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px !Important;
}
.THIS .getInTouchPara {
    margin: 7px auto 96px !important;
    color: #4a4a4a !important;
}
.THIS .countryPH , .THIS .countryPH:hover {
    font-family: gotham-light;
    color: #009DAC !important;
}
.THIS .countryBlock {
    margin-bottom: 56px;
}
.THIS .countryBlockHeading {
    margin-top: 10px !important;
    font-size: 26px !important;
    color: #4a4a4a;
    font-weight: 300 !important;
    letter-spacing: -.75px;
    word-spacing: .75px;
}
.THIS .countryFlag {
    width: 28px;
    height: 20px;
}
.THIS .serviceBlock {
    padding: 82px 0 100px;
    background-color: #f7f7f7;
}
.THIS .leftBlockLogin{
    width: 58.33333333%;
    padding-top: 90px;
    float: left;    
}
.THIS .rightBlockLogin{
    background-color: #fafafa;
    padding: 46px 29px 0px 29px;
    width: 37% !important;
    float:right;
    margin-bottom: 20px;
}
.THIS .rubrik-banner{
    float: left;
}
.THIS .loginBlock{
     margin: 70px 0px 50px;
}
.THIS .Banner-cover{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.THIS .marginContainer{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.THIS .login-form-group {
    padding-bottom: 31px !important; 
}
.THIS .slds-form-element__label{
    font-weight: 300 !important;
    text-align: left; 
    letter-spacing: -.5px;
    word-spacing: .5px;
    color: #4A4A4A;
    font-family: Gotham-Light;
    font-size: 15px !important;
    line-height: 14px;
    margin-bottom: 0px !important; 
}
.THIS .loginHeading{
    padding-bottom: 28px;
    text-align: center;
}

.THIS .form-submit-btn ,.THIS .form-submit-btn:hover, .THIS .form-submit-btn:active{
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
    background-color: #009dac;
    font-family: inter-Light !important;
    color: #ffffff !important;
}
.THIS .form-submit-btn:hover {
    background-color: #3fb5c0!important;
}
.THIS .slds-input{
    margin-top: 12px !important;
}
.THIS .text-right{
    margin-bottom: 15px;  
    text-align: right;
    color: #009dac;
}
.THIS .text-right a{
    color: #009dac;
    font-size: 14px;
    font-weight: bold;
}
.THIS .text-left .login-form-group p{
    text-transform: capitalize;
    margin-top: 2px;
}

@media(max-width:480px){
    .THIS .container{
        margin-right: 0px;
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }    
    .THIS .rightBlockLogin{
        width: 100%!important;
    }
    .THIS .gradientBox{width:100% !important;}
    .THIS .containerSVG{padding-left:0px; padding-right:0px;margin-right: 50.5px;
        margin-left: 12.5px;}
    .THIS .serviceTextBlck{padding:0 !important;}
    .THIS .imageBox{margin-left:0  !important;margin-right: 0 !important;    width: 55%!important;text-align:center;}
    .THIS .leftBlockLogin{
        margin-top: 65px;
        width: 90%;
        text-align:center;
        /*margin-right: 62px;
        padding: 0 45px;*/
    }
}

@media(max-width:900px){
    .THIS .container{
        margin-right: 0px;
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }    
    .THIS .rightBlockLogin{
          width: 100%!important;
    }
    .THIS .gradientBox{width:100% !important;}
    .THIS .containerSVG{padding-left:0px; padding-right:0px;margin-right: 50.5px;
    margin-left: 12.5px;}
    .THIS .serviceTextBlck{padding:0 !important;}
    .THIS .imageBox{margin-left:0  !important;margin-right: 0 !important;    width: 55%!important;text-align:center;}
    .THIS .leftBlockLogin{
        margin-top: 65px;
        width: 90%;
        text-align:center;
        /*margin-right: 62px;
        padding: 0 45px;*/
    }

}
.THIS .borderalign{
    max-width: 850px;
    margin: 6.52% auto;
}
.THIS .topSection{
    font-size: 32px;
    color: #4a4a4a;
    padding-bottom: 5px;
    font-family: Gotham-Light!important;
}
.THIS .detailsInfo{
    font-size: 18px;
}