.THIS .slds-dropdown-trigger_click .slds-dropdown{
    /*display: none !important;*/
}
.THIS .slds-resizable__handle {
    position: static;
    right: 0px;
    top: 0px;
    width: 0.25rem;
    height: 100%;
    display: block;
    cursor: col-resize;
    opacity: 0;
    z-index: 5000;
    background: rgb(14, 99, 172);
}
/*.THIS .slds-dropdown-trigger{
    display:none !important;
}*/
.THIS .slds-table_header-fixed_container{
    position: initial;
    padding-top: 2.5rem;
}
.THIS .slds-th__action{
    padding-right: 0.25rem;
}
.THIS .slds-table_header-fixed_container.slds-scrollable_x::before {
    content: none !important;
}
.THIS .slds-grid_align-spread .slds-col {
    justify-content: flex-start !important;
    margin: unset !important;
}
.THIS .slds-lookup__search-input{
    border: 0 !important;
    background: #F6F9FC !important;
    color: #070F52 !important;
    font-size: 13px;
    line-height: 20px;
}
.THIS .slds-lookup__search-input::placeholder{
    color: #070F52 !important; 
}
.THIS .slds-input-has-icon .slds-button_icon .slds-button__icon{
    fill: #070F52 !important; 
}
.THIS .slds-resizable__divider{
    display: none;
}
.THIS .slds-card{
box-shadow: 0px 20px 60px rgb(7 15 82 / 20%);
padding: 20px;
border: 0;
}
.THIS hr{
    border-color: #DFE1EE;
}
.THIS .margin-top{
    margin-top: 39px;
}
.THIS .deal-reg-table-inner lightning-primitive-header-actions {
    display: none;
}
.THIS .deal-reg-table-inner a.slds-th__action {
    padding-right: 0;
}