.header {
    color: white;
    font-weight: 900;
    ;
    padding: 2% 0%;
}

.content {
    width: 90%;
}

.checkboxes {
    display: flex;
}

.midBody {
    min-height: 100px;
}

.midBody2 {
    min-height: 200px;
}

.greyClass {
    background-color: grey;
    color: white;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    opacity: 0.3;
}