.THIS.c-container {
    border: 1px solid #01050e;
    margin: 10px 0 20px;
}
.THIS .left-align {
    text-align: left;
}
.THIS .right-align {
    text-align: right;
}
h1 {
  font-size: 20px;
}
.x-large {
    height: 250px;
}
.popup-container {
    max-width: 60rem !important;
    width: 5% !important;
}
.relatedToOpportunity .slds-modal__content {
    height: 75% !important;
}
.buttonClass{
    position: absolute;
    margin-top: 2%;
}

.buttonClassOpen{
    position: absolute;
    top: 460%;
}
/* .buttonClassRemove{
    position: absolute;
    margin-top: 2%;
} */