.THIS .paracls{
    font-family: Gotham-light;
    font-size: 32px;
    color: #17232E;
    cursor:pointer;
}
.THIS b{
    font-family:'Gotham-medium' !important;
}
.THIS strong{
    font-family:'Gotham-medium' !important;
}
.THIS .redirectcls{
    border:none;
    color:#009DAC;
    font-family: Gotham-Medium;
    font-size: 16px;
}
.THIS .redirectcls:hover{
    border:none;
    background:white;
    color: #23527c;
}
.THIS .contentparasize a:hover{
    border:none;
    background:white;
    color: #23527c;
    
}
.THIS .slds-button_neutral:active{
    background:white;
}
.THIS .slds-button_neutral:focus{
    background:white;
    border:none;
    box-shadow: none;
}
.THIS .marginboth{
    padding-top: 48px;
    padding-bottom: 48px;
}
.THIS .announcls{
    font-size:16px;
    padding-top: 12px;
    padding-bottom: 48px;
}
.THIS .contentparasize{
    font-size: 16px;
    font-family: Gotham-light;
        width: 120%;
}
@media(max-width:480px){
    .THIS .contentparasize{
        width: 90%;
    }
}
.THIS .datepadding{
    font-size: 16px;
    font-family: Gotham-light;
    padding-bottom: 12px;
}
.THIS .contentparasize a{
     border:none;
    color:#009DAC;
    font-family: Gotham-Medium;
    font-size: 16px;
    text-decoration :none;
}
.THIS .contentparasize .slds-col.slds-large-size_1-of-12 {
    width: 0;
}
.THIS button.slds-button.slds-button_neutral.redirectcls {
    padding: 0;
}
.THIS .parafontsize{
    font-family: gotham-light;
    font-size: 14px;
    color: #4a4a4a;
}