.CRTS_highlightFields{
    padding:.25rem .75rem;
}
.CRTS_highlightFields label{
    font-size:14px;
    font-weight:bold;
}
.bottomBorder{
    border-bottom: 1px solid #ccc;
}
.showButton{
    color:rgb(0, 109, 204);
    padding-top:15px;
}
.showButton:hover{
    text-decoration:Underline;
}
.subjectHover{
    position: absolute;
    height: auto;
    width: 15%;
    z-index: 9999;
    margin-top: 10px;
}
.closeSign{
    z-index:9999999;
    position:absolute;
    margin: 13px 2px 2px 2px;
}
td{
    
    /* word-break: break-word !important; */
    word-wrap:break-all !important;
}
th{
    padding: 2px 5px 2px 0;
}

.subjectField{
    white-space: inherit;
    /* max-width:15%; */
    /* max-width:60%; */
    /* word-break:break-all; */
}
.labelHide label{
    display:none;
}
.slds-scope{
    box-sizing:unset !important
}
.font tr td{
    font-size: 0.75rem !important;
}
.font tr th{
    font-size: 0.75rem !important;
}
.casenocolor{
    color: black;
    text-decoration: none;
}
.casenocolor:hover{
    color: black;
    text-decoration: none;
}
.arrowContain{
    text-align:left;
}
.helptext{
    display: inline-block;
    position: relative;
    top: -31px !important;
    left: 19.5%;
}
.tableDiv1{
    overflow:auto !important;
}
.arrowContain a{
    vertical-align: middle;
}
.filterDiv{
    position: relative;
    top: -4rem;
}
.tableBorder{
    border: 1px solid #ccc;
}
.slds-accordion__summary-heading .slds-truncate{
    overflow:visible;
}
.tableDiv{
    padding: 0rem 0.5rem;
}
.slds-accordion__summary-heading{
    font-weight: bold;
    font-size: 1rem;
}
.slds-table th,.THIS .slds-table td{
    white-space: normal !important;
    white-space: break-spaces !important;
}
.slds-form-element__icon button[type='button']{
top: 1px;
}
.slds-table th, .slds-table td {
    white-space: inherit;
}

.errorMsgDiv{
    text-align: center;
}