.CSNS_highlightFields{
    font-size:14px;
    padding:.25rem .50rem;
    /*padding-left: ;*/
}

.CSNS_highlightFields label{
    font-weight:bold;
    padding-right:3px;
}

.CSNS_highlightFields span{
    font-weight:bold;
    padding-right:10px;
}

.slds-card__header{
    font-weight:bold;
}

.editWindowFields{
    height:100px;
    font-weight: bold;
    font-size: 14px;
    color: black;
}

.editWindowFields span{
    height:100px;
    font-weight: bold;
    font-size: 14px;
    color: black;
}

.editWindowFields div{
    padding-top: 23px;
}

.outputFieldSection {
    padding-left: 10px;
    padding-right: 10px;
}

/*.slds-backdrop,.slds-modal{
    position:fixed !important;
}*/

.blurBackgroundForModalForCSNS{
    background:rgba(0, 0, 0, 0.38);
}

/*.spinnerDiv{
    top:100px;
    bottom:90px;
}*/

/*@media screen and (max-width:1920px){
    .spinnerDiv{
        top:330px;
        bottom:330px;
    }
}*/

.slds-form-element__label{
    color:black !important;
    font-size:14px !important;
    font-weight: bold !important;
}

.slds-form-element__control{
    padding-left:0px;
}

.CSNS_fieldsDiv{
    /*display:inline-flex;*/
    padding-top: 10px;
    padding-left: 10px;
}

.buttonPosition{
    /*position:absolute;*/
    padding-left:90px;
    padding-top:5px;
}

.buttonPositionForNextStep{
    position:absolute;
    padding-left:62px;
    padding-top:5px;
}

.hideComponent {
    display: none;
}

.spinnerHolder {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.slds-form-element_horizontal .slds-form-element__control {
    padding-left: 0% !important;
}

@media (min-width: 48em) {
    .slds-form-element_horizontal .slds-form-element__control {
        padding-left: 0% !important;
    }
}