.THIS {
    cursor: pointer;
    /*background-image: url(/partnersnew/file-asset/Rubrik7?v=1);*/
}
.THIS .backImage{
    background-image: url(/partnersnew/file-asset/Rubrik7?v=1);
}
.THIS .textColor{
    color: white;
    font-size: xx-large;
}
.THIS .slds-button_neutral:hover{
    background-color: white !important;
}
.THIS .slds-button:hover{
    background-color: white !important;
}
.THIS .forceCommunityTileMenuItem .tileLabel {
    width: 100%;
    text-align: center;
    font-family: Helvetica;
    font-size: 1rem;
    text-transform: none;
    background-color: rgb(0, 157, 166);
    color: #ffffff;
    padding-top: .75rem;
    padding-bottom: .75rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: all .8s ease;
}

.THIS .forceCommunityTileMenuItem .imagePreview {
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 125px;
    position: inherit;
}