.tour {
  background: #fff;
}

.tour_heading {
  font-family: 'Roboto Bold', 'Helvetica Neue', sans-serif;
  margin: 12px auto 20px;
  color: #0f0a39;
  font-size: 28px;
  max-width: 665px;
  letter-spacing: 1px;
}

.tour_summary {
  font-family: 'Roboto Regular', 'Helvetica Neue', sans-serif;
  color: #7b7890;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 0px auto 20px;
  max-width: 665px;
}

.tour_img {
  min-height: 220px;
  max-height: 270px;
}

.SMALL .tour_title {
  text-align: left;
  font-size: 28px;
}

.MEDIUM .tour_title {
  text-align: center;
}