.custom-card{
  margin-top: 18px;
	background-color: yellow;
	font-size: 20px;
}
.message-list {
  list-style-type: disc;
   margin-left: 30px;
   margin-right: 5px;
}
.message-list-items {
	margin-bottom: 5px;
}
.message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}