@media (max-width: 767px) {
    .tileContainer {
        height: auto;
    }
}

.tileContainer {
    box-sizing: border-box;
    width: 100%;
    height: 360px;
    background: #FFFFFF;
    border: 1px solid #B2B2B2;
    box-shadow: 2px 6px 24px rgba(0, 0, 0, 0.14);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 600;
    font-size: 18px;
    color: #343434;
}

.viewall {
    display:flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #3076e0;
}