.x-large {
    height: 120%;
}
.custom-box {
    cursor: pointer;
    color: var(--sds-c-button-text-color, var(--lwc-brandAccessible,rgb(1, 118, 211)));
}
.custom-box:hover {
    background-color: var(--sds-c-button-neutral-color-background-hover, var(--lwc-colorBackgroundButtonDefaultHover,rgb(250, 250, 249)));
}
.yes-box{
    padding: 23px;
}
.oppty-box{
    padding: 30px;
}
.pending-text{
    color: rgb(234, 0, 30);
    padding: 5px 0 5px 0;
}
.modal-custom{
    overflow: visible;
}
.spinner-background{
    background-color: rgb(250, 250, 249, 0.25);
}
.data-table{
    height: 200px;
}
.custom-error{
    color:rgb(234, 0, 30);
}
.disable-div{
    pointer-events: none;
    background-color: var(--lwc-colorBackgroundInputDisabled,rgb(236, 235, 234));
}