.THIS {
}
.THIS .chartHeader{
    font-size: 16px;
    color: #009dac;
    text-decoration: none;
    font-family: Gotham-Medium!important;
    text-align:center;
}
.THIS .noCluster{
    height: 35px;
    font-size: 32px;
    line-height: 38px;
    color: #009dac;
    text-align:center;
    padding: 5px;
    font-family: Gotham-Light !important;
    
}
.THIS .ideaTitle{  
    height: 35px;
    font-size: 32px;
    line-height: 38px;
    color: #009dac;
    
    padding: 5px;
    font-family: Gotham-Light !important;
}
.THIS.googleChart{margin-top:25px;}
.THIS .ideaField .slds-form-element__label{
    max-width: 100%;
}
.THIS .ideaField .slds-form-element__control{ padding:0px;}
.THIS .ideaFields .slds-form-element__static{
    height: 35px;
    font-size: 18px;
    line-height: 38px;
    color: #009dac;
    font-family: Gotham-Light!important;
    margin-left: -28rem;
}


.THIS .ideaField .slds-form-element__static{
    height: 35px;
    font-size: 18px;
    line-height: 38px;
    color:#17232E;
    font-family: Gotham-Light!important;
}
.THIS .paddedBox{margin-bottom:3rem !important;}
.THIS .topPad{padding-top:3rem;}
.THIS .placetext{    text-align: center;}
.THIS .chartBox{  text-align: -webkit-center;width: 100%;}
.THIS .chartBoxCanvas{  text-align: -webkit-center;width: 70% !important; height: auto!important;}
@media only screen and (max-width: 800px) {
    .THIS .chartBoxCanvas {width: 100% !important;height: 237px !important;
    }
}