.su_border_bottom {
  border-bottom: 1px solid #f2f2f2;
}

.article_searchbar {
  display: flex;
  flex-grow: 1;
}

.MEDIUM .article_searchbar_deskotp_view,
.LARGE .article_searchbar_deskotp_view {
  width: 75%;
}

.side {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.SMALL .desktop_view {
  display: none;
}

.SMALL .searchbar_mobile_view {
  display: flex;
  padding: 4px 18px 0px;
}

.SMALL .searchbar_desktop_view {
  display: none;
}

c-knowbler-article-searchbar.slds-col.article_searchbar_deskotp_view {
  margin-right: 20px;
}

c-knowbler-article-searchbar.article_searchbar {
  margin-right: 15px;
}

.article-search-create-wrapper {
  display: flex;
  flex-grow: 1;
}

c-knowbler-create-article-button {
  display: flex;
  flex-basis: content;
}

.MEDIUM .searchbar_mobile_view {
  display: none;
}

.MEDIUM .searchbar_desktop_view {
  padding: 1rem;
}

.LARGE .searchbar_desktop_view {
  padding: 1rem;
}

.show_med {
  margin: 0 auto !important;
}

.searchbar_desktop_view {
  padding: 1rem 2rem;
  align-items: center;
}

.article_card {
  overflow-y: auto;
  margin-top: 1rem;
}

.LARGE .searchbar_mobile_view {
  display: none;
}

.searchbox {
  display: flex;
  width: 100%;
  max-width: 1016px;
  flex: 1 1;
}

c-knowbler-language-dropdown {
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 40px;
  flex-basis: content;
}