.THIS .slds-accordion__summary{
    background-color: lightgrey;
    padding: .5rem;
    border-radius: 10px;
}
.THIS.spinnerFix{
    position: fixed;
}
.THIS .fontfamily{
    font-size: 18px;
}
/*.THIS .slds-textarea{
    background:white !important;
    overflow-y:scroll !important;
    height:auto !important;
}
.THIS .temp textarea{
    max-height:100% !important;
    height:150px !important;
}
.THIS .c-container .slds-form-element__control{
    padding-left: 0px !important;
}*/