.modal {
  width: 328px;
  background-color: #fff;
  margin: auto;
  box-shadow: 0px 0px 20px #0000000d;
  border-radius: 8px;
}

.slds-modal__content {
  width: 100%;
  border-radius: 9px;
  height: 235px;
  overflow: hidden;
}

.evaluatemodalcontent {
  height: 100% !important;
  width: 100% !important;
}

section.modal.slds-fade-in-open.modalpublish {
  width: 267px;
  height: 235px;
  padding: 0px;
}

.modalSuccess {
  width: 328px;
  height: 211px;
  background-color: #fff;
  box-shadow: 0px 0px 20px #0000000d;
  border-radius: 8px;
  margin: auto;
  padding: 12px 20px;
}

.modalProgress {
  width: 328px;
  height: 192px;
  background-color: #fff;
  box-shadow: 0px 0px 20px #0000000d;
  border-radius: 8px;
  margin: auto;
}

.modalError {
  margin: auto;
  width: 318px;
  height: fit-content;
  background-color: #fff;
  box-shadow: 0px 0px 20px #0000000d;
  border-radius: 8px;
  padding: 16px 20px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-title {
  margin: 0;
  color: black;
}

.modal-close {
  color: black;
}

.modal-content {
  color: black;
}

.imgCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  height: 97px;
  width: 97px;
}

.imgCenterError {
  display: block;
  margin: 20px auto;
  width: 102px;
}

.imgCenterProgress {
  display: block;
  margin-left: 118px;
  margin-right: 117px;
  height: 93px;
  width: 93px;
  margin-top: 30px;
}

.displayModal {
  display: flex;
  position: fixed;
  position: absolute;
  top: -59px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  opacity: 1;
  pointer-events: all;
  transition: opacity 250ms ease;
  background-color: rgba(0, 0, 0, 0.75);
}

.hideModal {
  display: none;
}

.modalButton {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.btn {
  width: max-content;
  border: 1px solid rgb(192, 191, 214);
  border-radius: 4px;
  padding: 3px 8px;
  height: 28px;
  margin: 0 8px;
}

.btnStay {
  font-family: 'Poppins Medium';
  color: #3e7555;
}

.btnLeave {
  font-family: 'Poppins Medium';
  color: #546c7e;
}

.btnTwo {
  font-family: 'Poppins Medium';
  width: max-content;
  border: 1px solid rgb(192, 191, 214);
  border-radius: 4px;
  padding: 2px 32px;
  margin: auto;
  color: #3e7555;
}

.modalFooter {
  margin: 8px auto;
  display: flex;
}

.btnTwo:hover {
  background-color: #3e7555;
  color: #ffffff;
}

a {
  text-decoration: none;
}

.btn:hover {
  border-radius: 4px;
  border: unset;
  background-color: #3e7555;
  color: #fff;
}

.message {
  color: #172b4d;
  font-family: 'Poppins Medium';
  font-size: 16px;
  word-break: break-word;
}

.messageSuccess {
  color: #172b4d;
  font-family: 'Poppins Medium';
  font-size: 16px;
  white-space: nowrap;
}

.contentMsg {
  display: block;
  text-align: center;
  margin: 20px auto;
}

.contentMsg img {
  animation: 0.8s ease-in-out 0s 1 slideRightToLeft;
}

@keyframes slideRightToLeft {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

/*code by aman start*/
.customTextEditorContent {
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.mediaHeading {
  font-size: 20px;
  color: #141625;
  font-family: 'Poppins Regular';
}

.textAreaBody {
  --sds-c-textarea-sizing-min-height: 175px;
}

.exampleText {
  font-size: 12px;
  color: #767676;
  word-break: break-word;
  font-family: 'Poppins Regular';
}

label {
  font-size: 20px;
}

:host {
  --lwc-inputStaticFontSize: 30px;
  --lwc-inputStaticFontWeight: bold;
}

.embeddVideoDiv {
  background-color: #ffffff;
  box-shadow: inset 0px 0px 6px #00000029;
  border: 1px solid #778ca765;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  margin-top: -200px;
  border-radius: 8px;
  padding: 20px;
  z-index: 99;
}

.mainDiv {
  position: relative;
  z-index: 8;
}

.toast {
  position: absolute;
  z-index: 10;
  top: 20%;
  left: 10%;
}

.inputVideoLabel {
  font-size: 12px;
  letter-spacing: 0px;
  font-family: 'Poppins Regular';
  color: #767676;
}

.toastDiv {
  background-color: yellow;
  border-radius: 8px;
  height: 211px;
  width: 328px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toastData {
  text-align: center;
}

.toastMessage {
  font-size: 16px;

  letter-spacing: 0px;
  color: #172b4d;
}

.footerContent {
  text-align: center;
}

.mediaFooterContent {
  font-size: 14px;
  cursor: move;
  color: #474747;
  padding: 6px 10px;
  border-radius: 2px 2px 0 0;
}

.contentDiv {
  background: #fff;
}

.videoEmbedd {
  background-color: #ffffff;
  padding: 20px;
  color: #000;
  box-shadow: 0px 0px 20px #0000000d;
  border-radius: 8px;
}

.hide {
  display: none;
}

.address {
  display: block;
  font-style: italic;
}

.selectedButton {
  background-color: #546c7e;
  color: #ffffff !important;
  border-radius: 4px;
}

.uploadImgBody {
  background: #f9f8f9 0% 0% no-repeat padding-box;
  border: 1px solid #778ca765;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.uploadImgButton,
.uploadImgWebAddress {
  font-size: 14px;
  letter-spacing: 0px;
  color: #767676;
  padding: 4px 20px;
  cursor: pointer;
}

.uploadImagePopup {
  padding: 0px 10px 10px 10px;
}

.imgPopupheader {
  display: flex;
  justify-content: end;
}

.error {
  color: red;
}

.imgCriteria {
  font-size: 12px;
  letter-spacing: 0px;
  color: #767676;
}

.display-image {
  width: 400px;
  height: 225px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
}

.insertImgBtnDiv {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.slds-popover__body {
  left: 140px;
}

.closeModal {
  text-align: right;
  cursor: pointer;
}

.imgCenter {
  animation: 0.8s ease-in-out 0s 1 slideRightToLeft;
}

/* evaluate css */
.evaluatemodal {
  padding: 0px;
  top: 5%;
  position: relative;
  width: 90%;
}

@keyframes slideRightToLeft {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.imgCenterProgress {
  animation: 0.8s ease-in-out 0s 1 slideRightToLeft;
}