lightning-button.buttonStyle {
    --sds-c-button-text-color: white;
    --sds-c-button-brand-color-background: #009dac;
    font-family: Gotham-Light;
    font-size: 16px;
    min-width: 60px;
    --sds-c-button-brand-color-border: #009dac;
}
.error-message {
    font-size: 12px;
    margin-top: 5px;
    margin-left: 5px;
}