.form-title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
    font-weight: bold;
}

.form-text {
  text-align: center;
  margin-bottom: 20px;
}

.field-section { 
    padding: 10px 20px;
    margin-bottom: 10px;
}
.field-section input, .field-section .slds-input_faux{
    padding: 8px 10px;
} 

.search-element input {
    padding: 8px 30px;
}
abbr.slds-required{
    border: none;
}
.field-section .slds-form-element__label {
    font-size: 16px !important;
    color: #2e2e2e;
    border:none; 
    padding-bottom: 2px;
}
.submit-cancel-button button{
    padding: 5px 20px;
    margin: 5px;
}
.slds-has-error .slds-form-element__help{
    font-size: 12px;
}
.field-section label{
    font-size: 14px;
}
@media (max-width:1500px) { .slds-modal__container {padding-top:10rem;}}

.slds-form-element__legend {
    font-weight: normal !important;
    float: left;
    font-size: 14px !important;
}

.slds-modal__content { padding: 1.5rem; }
.slds-modal__container{width:100%; max-width:100%;}

