.slds-dueling-list__options {
    height: 8rem !important;
}
.slds-listbox__option .slds-truncate {
    max-width: 100%;
    overflow: visible;
    text-overflow: ellipsis;
    white-space: normal;
}