.THIS .slds-carousel__content {
    height: 0rem !important;
    padding: 0rem !important;
}
.THIS .slds-carousel__panel {
    
}
.THIS .slds-carousel__image>img{
    /*height: 20rem;*/
    object-fit: cover;
}
.THIS .slds-carousel__indicators {
    /*padding: 2rem !important;
    background: rgb(180, 213, 254);
     *  height: 18rem !important; 
     * height: 20rem !important;
    object-fit: cover;
     * object-fit: cover;
     * width: 1440px;
  height: 400px;
  object-fit: contain;
    */
}
.THIS .slds-carousel__autoplay{
    margin-left: 3px;
}

.THIS #myDiv 
{
  height:104px;
  width:140px;
}
.THIS #myDiv img
{
  max-width:100%; 
  max-height:100%;
  margin:auto;
  display:block;
}