.cardBackdrop{
	background: linear-gradient(rgba(5,15,82,255),rgba(17,56,121,255));
	border-radius: 0.75rem;
	height:15rem;
	cursor: pointer;
}
.cardBackdrop:hover{
	transition: all 0.3s ease-out;
    transform: scale(1.15);
    background: linear-gradient(rgb(1 5 30),rgb(12 44 97));
}
.loading{
	position: relative;
    display: inline-block;
}