/*.THIS .image{
    border-radius: 50%;
    height: 40px;
    object-fit: cover;
    width: 40px;
    max-width: none;
    box-shadow: 0 0 1px 0 #c4c4c4 inset, 0 0 1px 0 #c4c4c4;
}*/
.THIS.spins.slds-show.slds-spinner_container.cLeaderBoard::after {
    position: absolute;
    content: 'Initial load may take a while. Thanks for your patience.';
    width: 100%;
    text-align: center;
    top: calc(50% + 2em);
    font-weight: bold;
    font-size: 15px;
    color: black;
}
.THIS .filterDiv{
    margin-left: 20px;
}
/*.THIS .detail-block-child span.title{
margin-left: 3px;
margin-top: 30px; 
}*/
.THIS .detail-block{
    border: 1px solid #c4c4c4;
    padding:20px;
}
.THIS .lastComment:before{
    border-left: 40px solid transparent;
    border-top: 40px solid;
    border-top-color: #008000;
    content: '';
    position: absolute;
    right: 0;
	margin-top: -0.8rem;    
}
.THIS .slds-iconTick{
    float: right;
    position: relative;
    right: -13.3rem;
    top: -1rem;
}
@media only screen and (max-width: 355px) and (min-width:320px) {
   .THIS .slds-iconTick{
        float: right;
        position: relative;
        right: -.6rem;
        top: -2.4rem;
	} 
}
@media only screen and (max-width: 410px) and (min-width:360px) {
   .THIS .slds-iconTick{
        float: right;
        position: relative;
        right: -3.2rem;
        top: -4rem;
	} 
}
@media only screen and (max-width: 460px) and (min-width:414px) {
   .THIS .slds-iconTick{
        float: right;
        position: relative;
        right: -3.6rem;
    	top: -2.6rem;
	} 
}
@media only screen and (max-width: 1024px) and (min-width:770px) {
   .THIS .slds-iconTick{
        float: right;
        position: relative;
        right: -10.1rem;
        top: -1rem;
	} 
}
@media only screen and (max-width: 768px) and (min-width:460px) {
   .THIS .slds-iconTick{
        float: right;
        position: relative;
        right: -7.3rem;
        top: -1rem;
	} 
}
@media only screen and (max-width: 1685px) and (min-width:1498px) {
   .THIS .slds-iconTick{
        float: right;
        position: relative;
        right: -15rem;
        top: -1rem;
	} 
}
@media only screen and (max-width: 1799px) and (min-width:1686px) {
   .THIS .slds-iconTick{
        float: right;
        position: relative;
        right: -17rem;
        top: -1rem;
	} 
}
@media only screen and (max-width: 2022px) and (min-width:1800px) {
   .THIS .slds-iconTick{
        float: right;
        position: relative;
        right: -18rem;
        top: -1rem;
	} 
}
@media only screen and (max-width: 2697px) and (min-width:2023px) {
   .THIS .slds-iconTick{
        float: right;
        position: relative;
        right: -20.3rem;
        top: -1rem;
	} 
}
@media only screen and (min-width:2698px) {
   .THIS .slds-iconTick{
        float: right;
        position: relative;
        right: -27.8rem;
        top: -1rem;
	} 
}
/*.THIS .user-position{
    width: 15%; 
    float: left;
    color: #747474;
    font-size: 30px;
}*/
.THIS .like-img{
    height: 25px;
    width: 25px;
    background-size: 25px 25px;
    display: inline-block;
    min-width: 30px;
    text-align: right;
}
.THIS .basic-details{
    float:left;
    width: 75%;
}
.THIS .basic-details-span{
    font-size: 18px;
    color: #3e3e3e;
    padding:15px;
}
.THIS .base-count-number{
    display: inline-block;
    font-size: 14px;
    letter-spacing: .03em;
    min-width: 30px;
    position: relative;
    text-align: center;
    /* top: -2px; */
}
.THIS .votesDiv{
    background-color: #009dac;
    color: white;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: gotham-medium;
    font-size: 23px;
}
.THIS .topDiv{
    font-family: gotham-light;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
}
.THIS .title{height: 20px;	color: #009dac;	font-family: "Gotham-light";	font-size: 14px;	line-height: 20px;white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;    width: 300px;
}
.THIS a{text-decoration:none;color: #009dac;	font-family: "Gotham-Medium";	font-size: 14px;}
.THIS .titleName{height: 20px;	color: #4A4A4A;	font-family: "Gotham-light";	font-size: 14px;	line-height: 20px;width: 125px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.THIS .User{height: 16px;	color: #727272;	font-family: "Gotham-light";	font-size: 12px;	line-height: 26px;	text-align: left;
}
.THIS .dateClass{color: #727272;	font-family: "Gotham-light";	font-size: 12px;	line-height: 16px;padding-top:5px;
}
.THIS .imageLogo{width:41px !important;}
.THIS .noReply{color: #727272;	font-family: "Gotham-light";	font-size: 12px;	line-height: 16px;text-align:center;}
.THIS .topContainer{
    padding-top: 1rem !important;
    width:100%;
}
.THIS .liClass li{
    border : none !important;
}
.THIS .postCol{    padding: 15.5px 0 15.5px 16.5px !important;}
.THIS .alignPadded{
    text-align:center;
    padding-top:.6rem;
}
.THIS .paddingTop{
    padding-top: 1.5rem;        padding-left: 3rem;
}

.THIS .alignRight{
    padding-top: 1.5rem;    text-align : right;
}
.THIS .slds-card {
    margin-top: 0rem;
}

.THIS .pagination {
    display: inline-block;
}

.THIS .pagination a {
    color: black;
    float: left;
    padding: 4px 9px;
    margin : 1px;
    font-size: 10px;
    text-decoration: none;
    transition: background-color .3s; 
    border-radius:50%;
}
.THIS .slds-tabs_default__nav{
    margin-left:20px;
    margin-right:20px;
}
.THIS .slds-tabs_default{
    background:aliceblue;
    padding-bottom:50px;
}
.THIS .slds-tabs_default__content{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    background: white;
}
.THIS .filterList{
    display : inline-block;
}
.THIS .filterLink{
    color: #009DAC;
    text-decoration: none !important;
    font-family: Gotham-Medium;
    font-size: 16px;
    
    text-decoration: none !important;
    padding : 0px 10px 0px 0px;
}
.THIS .filterLink:hover{
    color: #23527c;
}
.THIS .disSpiner{
    display:none;
}
.THIS .headPad .slds-truncate{ background-color: #ffffff !important; } 
.THIS .headPad {    padding-right: 0 !important;     background-color: #ffffff !important;
    padding-left: 0;}
.THIS .pagination a.active {	background-color: #009dac;	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);color:white;}
.THIS .colorBrand{	background-color: #007AC9;}
.THIS .pagination a:hover:not(.active) {background-color: #ddd;}
.THIS .topCat{	color: #727272;	font-family: "Gotham-light";	font-size: 14px;	line-height: 14px;}
.THIS .catLevel{color: #444444;	font-family: "Gotham-light";	font-size: 20px;	line-height: 33px;}
.THIS .trClass{height: 43px;	background-color: #009dac;	color: white;	font-family: "Gotham-medium";	font-size: 14px;	line-height: 19px;}
.THIS .trBodyClass{height: 72px;	width: 745px;	border: 1px solid #DFDFDF;	background-color: #FFFFFF;}
.THIS .topicsCount{color: #4A4A4A;	font-family: "Gotham-light";	font-size: 14px;	line-height: 23px;padding-right:10px;}

@media screen and (max-width: 767px) and (min-width: 320px){
    .THIS .basic-details span {
        font-size: 13px;
        padding: 1px;
    }
    .THIS .basic-details{
        width:85%;
    }
    .THIS .user-position {
        font-size: 20px;
    }
    .THIS svg.slds-icon{
        width: 15px;
        height: 15px;
    }
    .THIS .base-count-number{
        font-size: 15px;
    }
    
    
    
    
}
@media screen and (max-width: 1023px) and (min-width: 768px){
    .THIS .basic-details{
        width:85%;
    }
    .THIS .base-count-number{
        top: -4px;
        font-size: 15px;
        vertical-align: text-top;
    }
    .THIS .basic-details span {
        margin-left: 7px;
        font-size: 11px;
        line-height: 1.71428571;
        color: #3e3e3e;
        padding: 0;
    }
    .THIS .user-position {
        font-size: 20px;
    }
    .THIS .detail-block {
        padding: 7px;
    }
    .THIS svg.slds-icon{
        width: 21px;
    	height: 21px;
    }
    
}

@media only screen and (min-width: 1024px) and (max-width: 1280px){
    .THIS .basic-details {
        width: 82%;
    }
    .THIS .basic-details span {
        margin-left: 7px;
        font-size: 15px;
        line-height: 1.71428571;
        color: #3e3e3e;
        padding: 0;
    }
    .THIS .user-position {
        font-size: 25px;
    }
}

.THIS .icon svg {
    fill: #009dac;
}