.THIS .tableDiv{
    padding: 0rem 0.5rem;
}
.THIS .RMA_highlightFields label{
    font-size:14px;
    font-weight:bold;
}
.THIS .bottomBorder{
    border-bottom: 1px solid #ccc;
}
.THIS .showButton{
    color:rgb(0, 109, 204);
    padding-top:15px;
}
.THIS .showButton:hover{
    text-decoration:Underline;
}
.THIS th{
    padding:2px 5px 2px 0px;
}
.THIS .font tr td{
    font-size: 0.75rem !important;
}
.THIS .font tr th{
    font-size: 0.75rem !important;
}
.THIS .casenocolor{
    color: black;
    text-decoration: none;
}
.THIS .casenocolor:hover{
    color: black;
    text-decoration: none;
}
.THIS .arrowContain{
    text-align:left;
}
.THIS .helptext{
    display: inline-block;
    position: relative;
    top: -3px !important;
    left: 15.5%;
}
.THIS .slds-accordion__summary-heading .slds-truncate{
    overflow:visible;
}
.THIS .headingDiv{
    padding-bottom: 15px;
}
.THIS .arrowContain a{
    vertical-align: middle;
}
.THIS .RMA_highlightFields{
    overflow:auto !important;
}
.THIS .tableBorder{
    border: 1px solid #ccc;
}
.THIS .slds-accordion__summary-heading{
    font-weight: bold;
    font-size: 1rem;
}
.THIS .slds-table th,.THIS .slds-table td{
    white-space: normal !important;
}
.THIS .slds-form-element__icon button[type='button']{
    top: 1px;
}