.THIS .inputclass{
}

.THIS .ms-filter-input{
    margin: 0px 5%;
    width: 75%;
    height: 30px;
    border-radius: 2px;
    border-style: solid;
    border-width: thin;
    border-color: darkgray;
    padding: 2px 5px;
}

.THIS .buttonColor svg{
    fill: white;
}


.THIS .ms-input{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(217, 219, 221);
    border-radius: .25rem;
    width: 100%;
    transition: border .1s linear,background-color .1s linear;
    display: inline-block;
    padding: 0 1rem 0 .75rem;
    line-height: 1.875rem;
    min-height: calc(1.875rem + (1px * 2));
}

.THIS .ms-refresh-icon{
    position: absolute;
}

.THIS .slds-picklist {
    width: 25rem;
}

.THIS .slds-dropdown {
    width: 25rem;
}

.THIS .slds-listbox {
    width: 25rem !important;
}
.THIS .slds-listbox_vertical {
    width: 25rem !important;
}
.THIS .slds-dropdown {
    width: 25rem;
}
.THIS .slds-dropdown_fluid {
    width: 25rem;
}
.THIS .ms-dropdown {
    width: 25rem;
}

.THIS .slds-size_small, .THIS .slds-size--small {
    width: 25rem ;
}

.THIS .ms-clear-icon{
    position: absolute;
}

.THIS .ms-dropdown{
  
    overflow-y: auto;
}