.THIS .modal-body{ 
    height : 40vh !important; 
    max-height: 40vh !important; 
}
.THIS .slds-backdrop,.THIS .slds-modal{position:fixed !important;}
.THIS .slds-modal__content{
    overflow-y: unset;
    overflow: unset;
}
.THIS .slds-listbox{
    overflow-y:scroll;
    max-height: 203px;
}
.THIS .slds-dropdown{
    overflow-y:scroll !important;
    /*top:0px !important;*/
}
.THIS .slds-notify_container{
    z-index: -1 !important;
}