.sldx-table-box{
	margin-top: 20px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 20px;
	padding-bottom: 65px;
}
.slds-table tbody tr .table-button-col .slds-button:hover{
	background-color: #070F52;
    color: #fff;	
}
.sldx-table-box .slds-table thead tr>th:first-child,
.sldx-table-box .slds-table_cell-buffer tbody tr>th:first-child {
    padding-left: 12px;
}
.sldx-table-box .slds-table thead tr th,
.sldx-table-box .slds-table tbody tr th{
	font-size: 12px;
	padding-left: 2px;
    padding-right: 2px;
}
.sldx-table-box .slds-table thead tr .email-col,
.sldx-table-box .slds-table tbody tr .email-col{
	padding-right: 8px;
	width: 265px;
}
.sldx-table-box .slds-table thead tr .compoany-col,
.sldx-table-box .slds-table tbody tr .compoany-col{
	width: 132px;
}
.sldx-table-box .slds-table thead tr .job-title-col,
.sldx-table-box .slds-table tbody tr .job-title-col{
	width: 110px;
}
.sldx-table-box .slds-table thead tr .city-col,
.sldx-table-box .slds-table tbody tr .city-col{
	width: 85px;
}
.sldx-table-box .slds-table tbody tr .table-button-col {
    width: 112px;
}
.sldx-table-box .slds-table tbody tr .table-button-col .slds-dropdown__list .slds-dropdown__item .slds-truncate{
	font-size: 13px;
}
.table-nav-arrows span {
    font-size: 13px;
}
.sldx-table-box .slds-table thead tr .phone-col,
.sldx-table-box .slds-table tbody tr .phone-col{
	width: 115px;
}
.sldx-table-box .slds-table thead tr .status-col,
.sldx-table-box .slds-table tbody tr .status-col{
	width: 80px;
}
.sldx-table-box .slds-table thead tr .name-col,
.sldx-table-box .slds-table tbody tr .name-col{
	width: 90px;
}
.sldx-table-box .slds-table thead tr .expires-on-col,
.sldx-table-box .slds-table tbody tr .expires-on-col{
	width: 80px;
}
.sldx-table-box .slds-table thead tr .state-col,
.sldx-table-box .slds-table tbody tr .state-col{
	width: 110px;
}
.sldx-table-box .slds-table thead tr .country-col,
.sldx-table-box .slds-table tbody tr .country-col{
	width: 75px;
}
.dashboard-action-parent{
	display: flex;
	align-items: center;
}
.heading-36{
	width: 100%;
}