.THIS .slds-button_brand{ 
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    border: none;
    font-family:Gotham-light;
    transition: border .15s linear;
    border-color: #009dac;
    background-color: #009dac;
    color: #ffffff !important;
    -webkit-appearance: button;
    cursor: pointer;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    font-size: 14px;
    box-shadow: 0 2px 2px 0 hsla(0,9%,4%,.2);
    border-radius: 2px !important;
}
.THIS .sldsclsbtn:disabled {
    background: #009dac;
    opacity: 0.5;
    cursor: not-allowed;
}
.THIS .tdsmiley{
    width:25%; 
    vertical-align:bottom;
    text-align:center;
}
.THIS .smileyanchrcls{
    text-decoration:none;
}
.THIS .imgclssmiley{
    border: none;
}
.THIS .concolor:hover{
    color:#337AB7 !important;
    font-family:Gotham-medium;
    text-decoration-line: none;
}
.THIS .concolor{
    color:#009DAC !important;
    font-family:Gotham-medium;
}
.THIS .slds-button_neutral:hover{
    background-color: #3fb5c0;
}
.THIS .EachTopBorder {
    width:100% !important;
}
.THIS .attachmntcolor{
    color: #009DAC;
    font-size:16px;
    font-family:Gotham-medium;
    text-decoration: none;
}
.THIS .slds-button_brand:hover{
    background-color: #3fb5c0;
}
.THIS .padaround{
    margin: 0px;
    padding: 30px 0px 30px 0px; 
}
.THIS .hoveronUpload.uiButton:active {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    background-color: #3fb5c0 !important;
    border-color: red;
    color: #ffffff;
}
.THIS .parasize{
    color: #4A4A4A;
    font-size: 30px;
    font-family: Gotham-light;
    padding-bottom: 30px;
}
.THIS .parasize1{
    font-family:Gotham-light;
    font-size: 24px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.THIS .listsize{
    font-family:Gotham-light;
    font-size: 16px;
    padding-left: 0;
    padding-right: 0;
}
.THIS .PhonecaseContent{
    width: 100%;
    font-family:Gotham-light;
    display: inline-flex;
}
.THIS .nameMob{
    font-size: 17px;
    font-family: gotham-medium;
}
.THIS .displayinline{
    padding-left:20px;
    padding-top:5px;
    display: inline-flex;
    width: 100%;
    font-family: Gotham-light;
}
.THIS .header{
    font-size: 30px;
    font-family: Gotham-light;
    margin-top: 20px;
    margin-bottom: 20px;
}
.THIS .paddingleftdiv{
    font-family: Gotham-medium;
}
.THIS .fontfamilymedium{
    font-family:Gotham-medium;
    font-size:16px;
}
.THIS .displayinline{
    display: -webkit-inline-box;
    font-size: 18px;
    padding: 10px 0;
    font-family: Gotham-light;
}
.THIS .displayinline1{
    display: -webkit-inline-box;
    font-size: 18px;
    font-family: Gotham-medium;
}
.THIS .paddingleft{
    padding-left:9px;
}
/*.THIS .displayinline1:last-child{
border-bottom:none !important;
}*/
.THIS .padrightcls{
    padding-right: 15px;
    word-wrap: break-word;/*CS21-100*/
}
.THIS .headerdescinfo{
    font-size: 24px;
    font-family: Gotham-light;
    margin-top: 10px;
    margin-bottom: 10px;
}
.THIS .slds-button_brand {
    font-size: 14px;
    font-family: Gotham-light;
}

.THIS .addCommentsbtn>.slds-button ,.THIS .saveandCancel>.slds-button{
    background-color: #009dac;
    font-family: Gotham-Light !important;
    color: #ffffff !important;
    text-transform: uppercase;
    border-radius: 0px;
    box-shadow: 0 2px 2px 0 hsla(0,9%,4%,.2);
    font-weight: 500 !important;
    margin-top : 20px;
}
.THIS .padbutnleft{
    padding-left:4px;
}
.THIS .slds-file-selector__dropzone {
    /*margin-bottom: 20px;*/
    border: none;
}
.THIS .slds-form-element__label:empty {
    display:none !important;
}
.THIS .slot{
    display: table-cell;
}
.THIS .slds-file-selector__body{
    padding-left: 2px;
}
.THIS .slds-file-selector_files .slds-file-selector__button{
    font-size: 14px;
    font-family: Gotham-light;
    background: #009dac;
    color: white;
    border-radius: 1px;
    border: none;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 hsla(0,9%,4%,.2);
}
.THIS .slds-file-selector__dropzone svg:not(:root), .THIS .slds-file-selector__dropzone .slds-file-selector__text {
    display: none;
}
.THIS .casecommentsize{
    font-size: 16px;
    width:100%;
}
.THIS .buttonaligncenter{
    text-align: center !important;
}
/*.THIS .sldsclsbtn {
    margin-right: 4px;
    margin-left:4px;
}*/
.THIS .hrcls {
    margin: 0rem 0px !important;
}
.THIS .titlesize{
    color: #009dac;
    font-size: 16px;
    font-family: Gotham-medium;
    text-decoration: none;
}
.THIS button.slds-button.slds-button_brand {
    margin-left: 4px;
}
.THIS .slds-grid.casecommentsize {
    margin-top: 10px;
}
.THIS .EachTopBorder .slds-p-horizontal_large {
    padding: 0;
}
.THIS .EachTopBorder .fieldValue b{
    color: #222222;
    font-family: Gotham-medium;
    font-size: 18px;
    line-height: 27px;
}
.THIS .EachTopBorder p, .THIS .EachTopBorder h1.paddingleft {
    color: #222222;
    font-family: Gotham-light;
    font-size: 18px;
    line-height: 27px;
    padding: 5px 0;
}
.THIS .EachTopBorder h1.paddingleft {
    padding: 0 !important;
}
.THIS .attachmntcolor:hover {
    color: #23527c;
}
.THIS .slds-col.slds-large-size_12-of-12.slds-size_12-of-12 .slds-p-around_small.blockPad {
    padding-left: 0;
}
.THIS .slds-p-vertical_medium .slds-p-horizontal_large.blockPad {
    padding-left: 0;
}
@media screen and (min-width:480px) and (max-width:991px){
    .THIS span.slds-file-selector__button.slds-button.slds-button_neutral {
        line-height: 1.875rem;
        max-height: 60px;
        padding-top: 10px;
        padding-bottom: 10px;
        box-shadow: 0 2px 2px 0 hsla(0,9%,4%,.2);
        border-radius: 2px!important;
    }  
}
.THIS .fieldValue{    word-break: break-all;}
     .THIS .concolor{    word-break: break-all;}
@media screen and  (min-width:1024px){
    .THIS .padbotm {
        padding-bottom: 10px;
        
    }
    
}
@media screen and  (max-width:991px){
   .THIS .slds-max-medium-hide {
    display: none ;
}
    .THIS .slds-medium-show-only {
    display: block ;
}

.THIS .responsivecls .slds-col.slds-size--12-of-12 {
    text-align: center;
    margin-bottom: 10px;
}
.THIS .buttonaligncenter {
    text-align: center!important;
    margin-bottom: 10px;
}
.THIS .slds-align_absolute-center  .responsivecls1 {
    margin-bottom: 10px;
}
.THIS span.slds-file-selector__button.slds-button.slds-button_neutral {
    max-height: 32px;
}
}
@media screen and  (max-width:480px){
    .THIS button.slds-button.slds-button_brand {
        font-size: 12px;
        
    }
    .THIS .responsivecls{
        text-align: center;
    }
    .THIS .lightning-primitive-file-droppable-zone{
        text-align: center;
        line-height: 0px; 
    }
    .THIS .responsivecls1{
        margin-top: 0px;
        margin-bottom: 7px;
    }
    .THIS .fileUploadCustom{
        line-height:0;
        height:45px;
        padding-top:6px;
    }

}

@media screen and  (max-width:375px){
    .THIS .cAddComment .commentstyle {
    margin-bottom: 10px;
}
}