.THIS .slds-badge{
    border-radius: 0;
}

.THIS.slds-spinner_container {
    position: fixed;
    z-index: 10002 !important;
}

.THIS .slds-th__action {
    padding: 0;
}
.THIS.slds-badge{
    border-radius: 0;

}
.THIS .floatRight{
    width:10rem;
    float: right;

}
.THIS.floatRight{
    width:10rem;
    float: right;

}

.THIS .overflow_wrap{
    white-space: initial;
    overflow-wrap: break-word;
}
.THIS .box{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 5px;
    font-weight: bold;
}
.THIS .box-grey{
    background: #ccc;
    margin-top: 14px;
}
.THIS .box-yellow{
    margin-top: 14px;
}
.THIS .box-green{
    color:#fff;
    margin-top: 14px;
}
.THIS .box-red{
    color:#fff;
    margin-top: 14px;
}