.THIS .customRequired:before{    
    content: "*";
    margin: 0 0.125rem 0 0.125rem;
    color: rgb(194, 57, 52);
    float: left; 
}
.THIS .slds-dropdown-trigger{    
   display : block !important;
}
.THIS .none{
    display:none; 
}
.THIS .form-element__helpError {
    color: rgb(194, 57, 52);
}
.THIS .slds-has-error [role=combobox] input[readonly] {
    border-color: rgb(194, 57, 52);
}
.THIS .slds-grid{
    border-bottom: 1px solid #DFE1EE;
}
.THIS .slds-card__body .slds-wrap{
    padding-bottom: 30px;
}
.THIS .slds-card__body .c-container{
    width: 50%;
}
.THIS .slds-card{
    border: 0;
}
.THIS .slds-card__header{
    display: none;
}
.THIS .slds-form-element_horizontal .slds-form-element{
    width:100% !important;
}
.THIS .slds-form-element_horizontal .slds-form-element__label{
    float: unset !important;
    max-width: unset !important;
}
.THIS .slds-form-element_horizontal .slds-form-element__control{
    padding-left: 0 !important;
}
.THIS .slds-form-element_horizontal:not(.slds-is-editing){
    padding: 0 !important;
}
.THIS .slds-select{
    height: 2.5rem;
}
.THIS .helpText{ 
    position : absolute;
    padding-top: 6px;
    padding-left: 100px;
}