.title{
    text-align: center;
    font-size: large;
    font-weight: bold;
}
.main{
    height: 100vh;
}
.comments-icn{
   --sds-c-icon-color-foreground-default: white; 
   
}
.cross{
	position: relative;
    left: 165px;
    bottom: 11px;
}
.caseCloseHead{
    color: red;
}