.THIS .chartHeader{
    font-size: 16px;
    color: #009dac;
    text-decoration: none;
    font-family: Gotham-Medium!important;
	text-align:center;
    margin-bottom:10px;
}
.THIS .dataPad{padding: 1rem 2rem;
    text-align: -webkit-center;}