.knowbler__content-health-unique-article-card-container{
	display: flex;
	justify-content: space-between;
	gap: 5px;
	border-bottom: 1px solid rgba(123, 120, 144, 0.15);
	padding: 10px;
	padding-inline: 20px;
	font-family: "Roboto", sans-serif;
}
.knowbler__content-health-unique-article-left-section{
	display: grid;
	gap: 7px;
}
.knowbler__content-health-unique-article-head{
	display: flex;
	gap: 8px;
}
.knowbler__content-health-unique-article-profile{
	display: grid;
}
.knowbler__content-health-unique-article-profile .id{
	color: #7B7890;
}
.knowbler__content-health-unique-article-description{
	color: #2F3941;
	font-weight: 500;
	font-size: 14px;
}
.knowbler__content-health-unique-article-date{
	color: #7B7890;
	font-weight: 500;
	font-size: 14px;
	display: flex;
	gap: 6px;
	align-items: center;
}