.THIS .pointer{
    cursor: pointer;
}
.THIS .title{height: 20px;	color: #009dac;	font-family: "Gotham-light";	font-size: 14px;	line-height: 20px;white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;    width: 300px;
}
.THIS a{text-decoration:none;color: #009dac;	font-family: "Gotham-Medium";	font-size: 14px;}
.THIS .titleName{height: 20px;	color: #4A4A4A;	font-family: "Gotham-light";	font-size: 14px;	line-height: 20px;width: 125px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.THIS .User{height: 16px;	color: #727272;	font-family: "Gotham-light";	font-size: 12px;	line-height: 26px;	text-align: left;
}
.THIS .dateClass{color: #727272;	font-family: "Gotham-light";	font-size: 12px;	line-height: 16px;padding-top:5px;
}
.THIS .imageLogo{width:41px !important;}
.THIS .noReply{color: #727272;	font-family: "Gotham-light";	font-size: 12px;	line-height: 16px;text-align:center;}
.THIS .topContainer{
    padding-top: 1rem !important;
    width:100%;
}
@media(max-width:480px){
    .THIS .topContainer{
       overflow-x:auto;
    }    
}

@media(max-width:900px){
    .THIS .topContainer{
        overflow-x:auto;
    } 
}


.THIS .liClass li{
    border : none !important;
}
.THIS .slds-table_bordered{ border-collapse: collapse;}
.THIS .postCol{    padding: 15.5px 0 15.5px 16.5px !important;}
.THIS .alignPadded{
    text-align:center;
    padding-top:.6rem;
}
.THIS .paddingTop{
    padding-top: 1.5rem;        padding-left: 3rem;
}

.THIS .alignRight{
    padding-top: 1.5rem;    text-align : right;
}
.THIS .slds-card {
    margin-top: 0rem;
}

.THIS .pagination {
    display: inline-block;
}
.THIS .bestAnswer{
    /*border: 2px solid #448602 !important; - commented for Gamification*/ 
    border-collapse: separate;
}
.THIS .lastComment:before{
    border-left: 40px solid transparent;
    border-top: 40px solid;
    border-top-color: #008000;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}
.THIS .pinnedAnswer{
    border: 2px solid #d4d4d4 !important;
    border-collapse: separate;
}
.THIS .pinnedlastComment:before{
    border-right: 30px solid transparent;
    border-top: 30px solid;
    border-top-color: #d4d4d4;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
}
.THIS .slds-iconTick{
    float: right;
    /* background-color: beige; */
    position: relative;
    top: -0.5rem;
}
.THIS .slds-pinIcon{
    float: right;
    /* background-color: beige; */
    position: absolute;
    left: 1px;
    top: 0;
}
.THIS .slds-buttonui{

left:-1rem;}
.THIS .pagination a {
    color: black;
    float: left;
    padding: 4px 9px;
    margin : 1px;
    font-size: 10px;
    text-decoration: none;
    transition: background-color .3s; 
    border-radius:50%;
}
.THIS .headPad .slds-truncate{ background-color: #ffffff !important; } 
.THIS .headPad {    padding-right: 0 !important;     background-color: #ffffff !important;
    padding-left: 0;}
.THIS .pagination a.active {	background-color: #009dac;	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);color:white;}
.THIS .colorBrand{	background-color: #007AC9;}
.THIS .pagination a:hover:not(.active) {background-color: #ddd;}
.THIS .topCat{	color: #727272;	font-family: "Gotham-light";	font-size: 14px;	line-height: 14px;}
.THIS .catLevel{color: #444444;	font-family: "Gotham-light";	font-size: 20px;	line-height: 33px;}
.THIS .trClass{height: 43px;	background-color: #009dac;	color: white;	font-family: "Gotham-medium";	font-size: 14px;	line-height: 19px;}
.THIS .trBodyClass{height: 72px;	width: 745px;	border: 1px solid #DFDFDF;	background-color: #FFFFFF;}
.THIS .topicsCount{color: #4A4A4A;	font-family: "Gotham-light";	font-size: 14px;	line-height: 23px;padding-right:10px;}