.form {
  background: white;
}

.popover {
  left: -145px;
  bottom: 52px;
}

.slds-modal__container {
  padding: 4rem 0 1rem;
}

.slds-modal__header.largeheader {
  width: 70%;
  margin: auto;
  margin-top: 4rem;
}

.largecontent {
  margin: auto;
}

.largecontainer {
  padding: none;
}

.knowbler__send-link-email-section {
  overflow: auto;
  padding: 0 20px;
  background: rgba(0, 0, 0, 0.4);
}