.THIS .CRTS_highlightFields{
    padding:.25rem .75rem;
}
.THIS .CRTS_highlightFields label{
    font-size:14px;
    font-weight:bold;
}
.THIS .bottomBorder{
    border-bottom: 1px solid #ccc;
}
.THIS .showButton{
    color:rgb(0, 109, 204);
    padding-top:15px;
}
.THIS .showButton:hover{
    text-decoration:Underline;
}
.THIS .subjectHover{
    position: absolute;
    height: auto;
    width: 15%;
    z-index: 9999;
    margin-top: 10px;
}
.THIS .closeSign{
    z-index:9999999;
    position:absolute;
    margin: 13px 2px 2px 2px;
}
.THIS td{
    word-break: break-word !important;
    word-wrap:break-all !important;
}
.THIS th{padding: 2px 5px 2px 0;}
.THIS .subjectField{width:20%;max-width:60%;word-break:break-all;}
.THIS .labelHide label{
    display:none;
}
.THIS .slds-scope{
    box-sizing:unset !important
}
.THIS .font tr td{
    font-size: 0.75rem !important;
}
.THIS .font tr th{
    font-size: 0.75rem !important;
}
.THIS .casenocolor{
    color: black;
    text-decoration: none;
}
.THIS .casenocolor:hover{
    color: black;
    text-decoration: none;
}
.THIS .arrowContain{
    text-align:left;
}
.THIS .helptext{
    display: inline-block;
    position: relative;
    top: -3px !important;
    left: 9.5%;
}
.THIS .tableDiv1{
    overflow:auto !important;
}
.THIS .arrowContain a{
    vertical-align: middle;
}
.THIS .filterDiv{
    position: relative;
    top: -2rem;
}
.THIS .tableBorder{
    border: 1px solid #ccc;
}
.THIS .slds-accordion__summary-heading .slds-truncate{
    overflow:visible;
}
.THIS .tableDiv{
    padding: 0rem 0.5rem;
}
.THIS .slds-accordion__summary-heading{
    font-weight: bold;
    font-size: 1rem;
}
.THIS .slds-table th,.THIS .slds-table td{
    white-space: normal !important;
}
.THIS .slds-form-element__icon button[type='button']{
top: 1px;
}