.THIS .eachIdeaBlock{padding:20px 0;}
.THIS .title{text-decoration:none;color:#009DAC;font-family:Gotham-Medium;}
.THIS .description{padding:5px;    padding-left: 0;}
.THIS.containterDiv{
    width: 1140px;
    margin: 50px auto;
    display: block;
}
.THIS .detailTitle{
    font-size: 32px;
    line-height: 35px;
    padding: 5px;
    color: #009DAC;
    text-decoration: none !important;
    font-family: Gotham-Light;
    padding: 0px 10px 0px 14px;
}
.THIS .description{
    font-family: Gotham-Light !important;
    color: #4A4A4A;
    font-size: 16px;
    word-break: break-word;
}
.THIS .decpTitle{
    color: #009DAC;
    text-decoration: none !important;
    font-family: Gotham-Medium;
    font-size: 16px;
}
.THIS .decpTitle:hover{
   
}
.THIS .commentDate{
    font-family: Gotham-Light !important;
    color: #4A4A4A;
   font-size: 16px;
    font-weight : bold;
}
.THIS .commnentHeading{
    font-size: 24px;
    font-family: Gotham-Light;
    margin: 20px 0px 10px 0px;
}
.THIS .addCommentsbtn>.slds-button ,.THIS .saveandCancel>.slds-button{
        background-color: #009dac;
    font-family: Gotham-Light !important;
    color: #ffffff !important;
    text-transform: uppercase;
    border-radius: 0px;
    box-shadow: 0 2px 2px 0 hsla(0,9%,4%,.2);
    font-weight: 500 !important;
     margin-top : 20px;
}

.THIS .commentSection{
    padding-bottom : 50px;
}
.THIS .nameMob{
    font-size: 16px;
    font-family: Gotham-Light;
}
.THIS .table{
}
.THIS .voteDiv{
    padding-top : 20px;
}
.THIS .Comment , .THIS .Date , .THIS .Commentor{
        font-size: 16px;
    font-family: Gotham-Light;
}
.THIS .mobileviewDiv{
        width: 100%;
}
.THIS .mainDiv{padding: 0px 25px;
}
.THIS .slds-large-size--10-of-12.slds-Medium-size--10-of-12.slds-small-size--12-of-12.slds-max-small-size--12-of-12.detailTitle {
    word-break: break-all;
}
.THIS .description a, .THIS .Comment a, .THIS .nameMob a {
    color: #009dac !important;
}
.THIS .description a:hover, .THIS .Comment a:hover, .THIS .nameMob a:hover {
    color: #23527c ;
    text-decoration:none;
}
@media screen and (max-width:768px){
    .THIS.containterDiv {
        width : 100%;
    }
    .THIS .mainDiv{
        border : 1px solid #ccc;
    }
    .THIS .eachIdeaBlock{
        padding: 15px;
    }
    
}
@media screen and (max-width:1024px){
    .THIS.containterDiv {
        width : 100%;
    }
}

.THIS button.slds-button.slds-button_icon.slds-button_icon-border.slds-is-selected {
    background-color: #009dac;
}
@media screen and (max-width:991px){
.THIS .detailTitle {
    margin-bottom: 15px;
}
}