.THIS .labelHide label{
    display:none;
    
}
.THIS .slds-scope{
    box-sizing:unset !important
}
.THIS .supportBtn:hover {
   background-color: #3fb5c0!important;
}

.THIS .supportBtn{
    background-color: #009dac!important;
    font-family: gotham-medium;
}
.THIS .attachBtn{
    background-color: #009dac!important;
    font-family: gotham-medium;
}
/*.THIS .slds-accordion__content{
    overflow:auto !important;
}*/
.THIS .font tr th{
    font-size: 0.75rem !important;
}
.THIS .font tr td{
    font-size: 0.75rem !important;
}
.THIS .pagination {
    display: inline-block;
}

.THIS .pagination a {
    color: black;
    float: left;
    padding: 4px 9px;
    margin : 1px;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color .3s; 
    border-radius:50%;
}
.THIS .pagination a.active {	background-color: #009dac;	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);color:white;}
.THIS .pagination a:hover:not(.active) {background-color: #ddd;}
.THIS .paginationBlock button{
    padding-top: 4px;
}