/* .THIS.slds-box {
    border:1;
} */
.slds-box{
    border: 0;
    border-radius: 0;
}
.slds-banner-heading{
    font-weight: 400;
    font-size: 48px;
}
.slds-card{
    border: 0;
}
.banner-section{
    /*border: 1px solid rgb(8, 1, 1);*/
}
.slds-content-box{
    box-shadow: 0px 20px 60px rgb(7 15 82 / 20%);
    border-radius: 10px;
    border: 0;
    padding: 50px;
    margin-bottom: 50px;
    /* margin: 30px 20px; */
}
.distributor-form .slds-p-around_small{
    padding: 10px;
}
.distributor-form{
    margin-bottom: 40px;
    position:relative;
}
.distributor-radio{
    /*padding: 0 30px;*/
    margin: 0 20px;
}
.slds-content-box,
.distributor-radio{
    font-size: 15px;
    line-height: 30px;
    color: #6C7174;
    font-family: "Inter-Regular";
}
.radio-form{
    margin-top: 25px;
}
.distributor-search{
    margin-top: 0;
    padding-top: 0;
}
.distributor-search .slds-p-around_small{
    padding-top: 0;
}
.distributor-button{
    margin-top: 0;
}
.spinner-class{
    position :absolute;
}