.kcs_searchbar {
  position: relative;
  z-index: 9;
}
.custom-searchbar-width {
  width: 95%;
}
.search_icon {
  position: absolute;
  z-index: 9;
  top: 13px;
  left: 13px;
  max-width: 100%;
  height: 42%;
}
.search_cross_button {
  position: absolute;
  right: 2%;
  top: 9px;
  cursor: pointer;
  z-index: 999;
}
.custom-input {
  background-color: #ffffff;
  border-radius: 16px;
}