.THIS .paragraphHeading{
    font-size: 44px;
    line-height: 60px;
    letter-spacing: -1.2px;
    font-weight: 200;
    color: white;
}
.THIS .Paragraph{
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -.42px;
    margin-top: 8px;
    font-weight: 200;
    color: white;
}
.THIS .rubrik-btn{
    display: inline-block;
    padding: 13px 35px;
    box-shadow: 0 2px 2px 0 hsla(0,9%,4%,.2);
    border-radius: 2px !important;
    font-size: 12px;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    letter-spacing: -.5px;
    background-color: #009dac;
    font-family: inter-Light !important;
    color: #ffffff ;
    margin: 28px 0 0 3px;
    background-color: #009dac !important;
    color: #fff;
    padding: 13px 20px !important;
    box-shadow: 0 2px 2px 0 hsla(0,9%,4%,.2);
    border-radius: 2px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    cursor: pointer;
    letter-spacing: -.5px;
}
.THIS .container{
    margin-right: 89.50px;
    margin-left:89.50px;
    padding-left: 15px;
    padding-right: 15px;
}

.THIS .containerSVG{
    margin-right: 69.5px;
    margin-left: 69.5px;
    padding-left: 53px;
    padding-right: 42px;
}
.THIS .loginBlock{padding:70px 0px 50px;}

.THIS .nopad {
    padding: 0px;
}
.THIS .containerCustomerService {
    background-color: #283d50;
    padding: 90px 0px;
}
.THIS .customerServiceHeading {
    color: #ffffff !important;
    font-size: 44px !important;
    line-height: 60px !important;
}
.THIS .customerServiceParagraph{    font-size: 16px;
    line-height: 30px;
    letter-spacing: -.42px;
    color: #fff;
    width: 60%;}

.THIS .imageBox {
    padding: 24px 10px 20px 16px;
    border-radius: 4px;
    background-color: #fff;
    width: 34% !important;
    margin-top: 32px;
}
.THIS .globalSupportBlock {
    padding-top: 86px;
    padding-bottom: 100px;
    background-color: #fafafa;
}
.THIS .imageWrapperHeading {
    font-size: 26px !important;
    margin-top: 30px !important;
    line-height: 26px !important;
}
.THIS .imageWrapperDescription {
    width: 70%;
    margin-top: 11px !important;
    word-spacing: .4px;
    margin-bottom: 0 !important;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: -.5px;
    line-height: 30px;
}

.THIS .baseSVG{
    position: absolute;
    margin-top: -4rem;
    margin-left: -3.65rem;
    width: 151px;
}
.THIS .bimage{
    position: relative;
    top: -21px;
    z-index: 12;
    left:-3px;
}
.THIS .gradientBox{
    height: 332px;
    width: 27.58%!important;
    margin: 0 20px 32px;
    margin-top: 16px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 6px 16px 4px rgba(0,0,0,.1);
}
.THIS .gradientHeading {
    font-family: inter-Light !important;
    padding-top: 21px;
    margin: 0px !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    line-height: 22px !important;
    color: #fff !important;
    text-align: center;
}
.THIS .gradientPara {
    padding-top: 8px;
    max-width: 240px;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #fff;
    text-align: center;
    opacity: .9;
}
.THIS .serviceBlockHeading{
    font-size: 44px !important;
    font-weight: 300 !important;
    line-height: 60px !important;
    text-align: center;
    color: #4a4a4a;
    font-family: inter-Light !important;
}
.THIS .getInTouchHeading {
    line-height: 60px !Important;
    letter-spacing: -1.2px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px !Important;
}
.THIS .getInTouchPara {
    margin: 7px auto 96px !important;
    color: #4a4a4a !important;
}

.THIS .countryBlock {
    margin-bottom: 56px;
}
.THIS .countryBlockHeading {
    margin-top: 10px !important;
    font-size: 26px !important;
    color: #4a4a4a;
    font-weight: 300 !important;
    letter-spacing: -.75px;
    word-spacing: .75px;
}
.THIS .countryFlag {
    width: 28px;
    height: 20px;
}
.THIS .serviceBlock {
    padding: 82px 0 100px;
    background-color: #f7f7f7;
}
.THIS .lastBlockHeading {
    font-family: inherit;
    max-width: none;
    font-size: 44px !important;
    line-height: 44px !important;
    letter-spacing: -1.5px;
    margin: 0 auto !important;
}
.THIS .text-center {
    text-align: center;
}
.THIS .lastBlockPara {
    max-width: none;
    margin-top: 15px !important;
    font-size: 16px;
    letter-spacing: -.6px;
}
.THIS .lastBlock {
    padding-top: 100px;
    padding-bottom: 100px;
}
.THIS .rightBlockLogin {
   background-color: #fafafa;
    padding: 41px 25px 0 19px;
    width: 37%!important;
    float: right;
    margin-top: 104px;
}
.THIS .loginHeading {
    font-size: 26px !important;
    padding-bottom: 28px;
    line-height: 34px;
    margin: 0px !important;
    font-family: inherit;
}



.THIS #sfdc_username_container{
    margin-bottom:10px;
    padding: 12px;
    background-color:white;
    border: 1px solid #CCC;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.THIS .inputrubrik {
    margin-top: 12px !important;
    height: 40px !important;
    border-radius: 2px !important;
}
.THIS .login-form-group {
    padding-bottom: 31px !important;
    margin-bottom: 0px !important;
}
.THIS #sfdc_user{
    float:left;
    width:23px;
    height:25px;
    padding-top:1px;
    padding-left:2px;
    margin:0px;

}

@media(max-width:480px){
    .THIS .container{
        margin-right: 0px;
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }    
    .THIS .rightBlockLogin{
        width: 100%!important;
    }
    .THIS .gradientBox{width:100% !important;}
    .THIS .containerSVG{padding-left:0px; padding-right:0px;margin-right: 50.5px;
    margin-left: 12.5px;}
    .THIS .serviceTextBlck{padding:0 !important;}
    .THIS .imageBox{margin-left:0  !important;margin-right: 0 !important;    width: 55%!important;text-align:center;}
}

@media(max-width:900px){
    .THIS .container{
        margin-right: 0px;
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }    
    .THIS .rightBlockLogin{
          width: 100%!important;
    }
    .THIS .gradientBox{width:100% !important;}
    .THIS .containerSVG{padding-left:0px; padding-right:0px;margin-right: 50.5px;
    margin-left: 12.5px;}
    .THIS .serviceTextBlck{padding:0 !important;}
    .THIS .imageBox{margin-left:0  !important;margin-right: 0 !important;    width: 55%!important;text-align:center;}


}
.THIS [lightning-input_input-host] {
    display: contents;
}
.THIS .btnClass{
    width: 100%; margin-top: 20px;    padding: 7px 35px !important;
}
.THIS #sfdc_lock{
    float:left;
    width:23px;
    height:25px;
    padding-top:1px;
    padding-left:2px;
    margin:0px;
}

.THIS  #error {
    text-align: center;
    color:#FF0000;
}

.THIS  .login-icon {
    color:#ccc;font-size:22px;
}

.THIS #sfdc_password_container{
    padding: 12px;
    background-color:white;
    border: 1px solid #CCC;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.THIS .labelsRem{    
    padding-left: 7px;
    color: #4A4A4A;
    font-family: inter-Light;
    font-size: 15px !important;
    line-height: 14px;
    margin-bottom: 0px !important;}
.THIS  button.sfdc_button {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #fff;
    background-color: #0070d2;
    border-color: #357ebd;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 12px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


.THIS  button:hover {
    background-color:#3276b1;
    border-color:#285e8e;
    cursor:pointer;
}

.THIS button .label {
    color: #fff;	
}

.THIS .countryBlock a{
        color:#009dac !important;
}

/*.THIS  a {
    color:white;
    text-decoration: none;
}
.THIS  a:hover {
    color:white;
    text-decoration: none;
}*/

.THIS label.uiLabel-hidden {
    display:none;
}
.THIS .paragraph{
    padding-right: 33px;
    padding-left: 14px;
    padding-top: 23px;
}



/*SFDC*/

.THIS .loginBlock{
    font-family: inter-Light !important;
}
.THIS .leftBlockLogin{
    margin-top: 65px;
    /*margin-right: 62px;
    padding: 0 45px;*/
}
.THIS .rubrikcheckbox{
	padding-bottom: 10px;
    display: block;    
}
.THIS .new-user{
    padding: 32px 0px;
    /*text-align:center;*/
}
.THIS .containerCustomerService{
    font-family: inter-Light !important;
}
.THIS .customerServiceHeading{
    font-family: inherit;
    margin-top: 20px;
    margin-bottom: 10px;    
}
.THIS .imageBox .imageHeading{
    color: inherit;
    font-family: inter-Medium !important;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -.4px;
    word-spacing: .4px;
}
.THIS .globalSupportBlock .imageWrapperHeading{
    font-family: inter-Light !important;  
}
.THIS .serviceBlock{
    font-family: inter-Light !important; 
}
.THIS .customerServiceParagraph{
    padding: 10px;
    padding-top: 0px;
}
.THIS .serviceTextBlck{
    text-align: center;
    padding: 0px 13rem;
    margin-bottom: 2rem;
}
.THIS .serviceBlock{
    padding-block-start: 40px;
}
.THIS .serviceBlockHeading{
    /*width:68%*/
}
.THIS .gradientBox {
    height: 332px;
    width: 28.58%;
    padding: 0 20px 32px;
    margin-top: 16px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 6px 16px 4px rgba(0,0,0,.1);
}

.THIS .gradientBox .rubrik-btn {
    background-color: #fff !important;
    color: #009dac !important;
    font-weight: 500!important;
}
.THIS .rubrik-btn:hover {
    color: #fff !important;
    background-color: #283d50 ;
}
.THIS .getintouchsec ,.THIS .getInTouchHeading{
 	font-family: inter-Light !important;   
}
.THIS .getInTouchPara, .THIS .countryBlockHeading, .THIS .countryBlockHeading p, .THIS .lastBlock{
    font-family: inter-Light !important;
}
.THIS .rubrik-btn:hover {
    background-color: #3fb5c0!important;
}
.THIS .cSitefooter .standardwidth{
    margin: 0 auto;
    padding: 0 40px;
    font-family: inter-Light !important;
}
.THIS .cSitefooter{
  	padding: 40px 0 50px 0;  
}
.THIS .cSitefooter .para {
    opacity: 0.8;
}
.THIS .Absolute-Center .slds-input{
    height: 40px !important;
    padding: 10px 14px !important;
    border-radius: 2px !important;
}
.THIS .rubrikbtn1:hover{
    background-color: #283d50 !important;
}
.THIS .countryPH , .THIS .countryPH:hover {
    font-family: inter-light;
    color: #009DAC !important;
    font-size: 17px;
    font-weight: 300;
}
.THIS .getInTouchBlock{
	padding-top: 82px;    
}

.THIS .countryPH2 , .THIS .countryPH2:hover {
    font-family: inter-light;
    color: #009DAC !important;
    font-size: 12px;
    font-weight: 300;
}


















/*SFDC*/