.textHeading {
  color: #546c7e;
  font-family: 'Roboto Medium';
  font-size: 20px;
}

.THIS.slds-form-element .slds-form-element__static {
  border-bottom: 3px solid;
  border-color: rgb(0, 114, 206);
}

.slds-page-header__name-title .tooltip {
  display: none;
}

.slds-page-header__name-title:hover .tooltip {
  display: block;
}

.slds-form-element__control lightning-formatted-text {
  border: 0px;
}
.article-no-longer-exists-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.article-no-longer-exists-text {
  font: normal normal normal 13px/15px Roboto;
  color: #303e67;
}

.tooltip {
  font-size: 13px !important;
  color: white !important;
  font-weight: 100 !important;
  border: 1px solid white !important;
  background-color: var(--primary-colour, #546c7e) !important;
  min-height: 1rem !important;
  padding: 0 10px !important;
  position: absolute !important;
  max-width: 460px;
  z-index: 1;
  border-radius: 8px;
}

.mainContainer {
  height: 100vh;
  background-color: #fff;
  position: relative;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 0px;
  box-shadow: 0px 0px 30px #e9e6e6ad;
  z-index: 20;
  overflow: hidden;
}

.paddingBottom {
  padding-bottom: 1.5rem;
}

.containerClass {
  background-color: #f5f6fa;
  border: 0px;
  box-shadow: 0px 0px;
  padding-bottom: 1rem;
}

.div {
  width: 100%;
  padding-bottom: 16px;
  overflow-y: auto;
  height: 360px;
  overflow-x: hidden;
}

.con {
  background: #f5f6fa;
  padding: 0.6rem 0.8rem;
  padding-bottom: 0rem;
  padding-bottom: 0rem;
}

.container {
  position: fixed;
  height: 20px;
  width: 20px;
  background-color: #f3f3f3;
  z-index: 9;
  transform: rotate(45deg);
  border-style: unset !important;
  border-color: #fff !important;
}

.article_number {
  font-size: 14px;
  font-family: 'Roboto Regular';
  margin-left: 0.3rem;
  color: #7b7890b3;
}

.article_username {
  color: #42526e;
  font-size: 14px;
  font-family: 'Roboto Medium';
  margin-left: 0.5rem;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user_detail {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 0.7rem;
}

.con .slds-col.slds-has-flexi-truncate:nth-child(1) {
  display: none;
}

.mainContainer .slds-form-element__label {
  color: #546c7e;
  font-size: 14px;
  font-family: 'Roboto Regular';
}

.dot {
  margin-left: 0.3rem;
  color: grey;
  font-weight: 900;
  font-size: 14px;
}