.verticalAlign {
       padding: 0px 5px !important;
}

.slds-dropdown {
    padding:0px !important;
}

.slds-listbox li {
    padding: .45rem 0.7rem !important;
    display: flex;
}

.inputBox input {
    padding-left: 10px;
}

.listBoxItem:hover {
    background-color: #F1F1F1;
}

.listBoxItem:active {
    transform: scale(1.2,1.2);
    transform-origin: left;
    background-color: rgb(150, 150, 150);
}

.hide-remove {
    background-color: rgb(142, 142, 142) !important;
}