@font-face {
  font-family: 'Roboto Medium', Arial, Helvetica, sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap;');
}

.configuation_inner {
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
  align-items: center;
}
.configuration_message {
  text-align: center;
  font-size: 17px;
  font-family: 'Roboto Medium', Arial, Helvetica, sans-serif;
  letter-spacing: 0px;
  color: #0f0a39;
  width: 65%;
  margin: 2rem auto;
}
.configuration_main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.config_blur {
  background: #9c9c9c;
  opacity: 0.61;
  filter: blur(9px);
  width: 354px;
  height: 2px;
}