.displayModal {
  display: flex;
  position: fixed;
  position: absolute;
  top: -60px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  opacity: 1;
  pointer-events: all;
  transition: opacity 250ms ease;
  background-color: rgba(0, 0, 0, 0.75);
}

.geTClass {
  width: 100%;
  max-width: 95%;
  margin: auto;
}