.alignPaginationList {
    display: flex;
    float: right;
    flex-wrap: wrap;
    padding-bottom: 20px;
    align-items: center;
}

.cmakeFlex {
    display: flex;
}

.mainFormDiv {
    display: none;
}