.THIS.su-customSettingErrMsg{
    font-size: 18px;
    color: red;
    text-align: center;
    padding: 5px 0;
    display: block;
    border: 1px solid #ccc;
    max-height: 100px;
}
.THIS .su__recommendations-ViewMore{width:100%; text-align:center;padding: 15px 0;}
.THIS .su__recommendations-ViewMore-text{color:#1461B7;font-size:14px}
.THIS .su__Recomended_border-t {border-top:2px solid #e6e6e6;}
.THIS .su__Recomended_border-t:hover {border-top:2px solid #4988d0;}
.THIS .su__recommended-articles-width{width:100% !important}
.THIS .su__w-100 {width: 100% !important;}
.THIS .su__recommendations-ViewMore{display: flex;justify-content: center;align-items: center;}
.THIS .su__widget{border-bottom: 2px solid #e6e6e6;}
.THIS .su__widget:hover{border-bottom:2px solid #4988d0;}
.THIS #su_recommendBox{font-family: 'Montserrat', sans-serif;}