/* .slds-table_cell-buffer tr>th:last-child, 
.slds-table_cell-buffer tr>td:last-child, 
.slds-table--cell-buffer tr>th:last-child, 
.slds-table--cell-buffer tr>td:last-child{
	padding-right: 0.5rem;
	max-width: 140px;
}
.account-body-col{
	width: 200px;
}
.disclaimer{
	padding-top: 5px;
    font-style: normal;
    font-family: "Inter-Medium";
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #070F52;
}
.exploreButton{
	font-size: 13px;
} */

.account-body-col,
.account-header-col{
	width: 190px;
}
.contact-body-col,
.contact-header-col{
	width: 156px;
}