.THIS .CSH_highlightFields{font-size:14px;padding:.25rem .75rem}
.THIS .CSH_highlightFields label{font-weight:bold; padding-right:3px; color:red;}
.THIS .CSH_highlightFields span{padding-right:10px;}
.THIS .slds-card__header{font-weight:bold}
.THIS .titleDiv{
    transition:max-height 1.3s cubic-bezier(0.42,0,0.58,1) 5s;
}
.THIS .spcl-handle .textarea{background-color:yellow}
.THIS .accHeadsUpText{
    height:170px;
    overflow-y: scroll;
    border: 1px solid rgb(221, 219, 218);
    resize: vertical;
    border-radius: .25rem;
    padding: .75rem;
}
.THIS .test-id__section{background:red;}
.THIS .CSH_highlightFields span{background-color:yellow !important}
.THIS [data-darkmode-inline-bgcolor]{
    background-color:#e4d30a !important;
}
.THIS .commentsLess{height:45px;}
.THIS .font{
    font-size:  0.75rem !important;
}

.THIS .CSH_highlightFields li{
    
    padding-left:2px;
    
}
.THIS .CSH_highlightFields ul li{
    padding-left:2px;
}
.THIS .CSH_highlightFields ol li{
    list-style-type: decimal;
    list-style-position: inside;
    padding-left:2px;
}