.THIS .PrimaryLabel{
    color: rgb(62,62,60);
    font-size: 0.75rem !important;
    padding-left: 4px;
}
.THIS .primaryPhoneField{
    padding-bottom: 9px;
}
.THIS .slds-size_4-of-12{
    width: 33% !important;
}
.THIS .slds-size_8-of-12{
    width: 66.5% !important;
}