.filterDiv {
    display: none;
    height: 100%;
}

.filterBlock {
    position: absolute;
    background: white;
    width: inherit;
    height: 100%;
}

.filter-absolute {
    position: absolute;
    z-index: 97;
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0;
    padding: 10px 0px 10px 10px;
    overflow: hidden;
    background: #fff;
}

.su-p-input-header {
    width: 100%;
    display: flex;
    background-color: #FAFAF9;
    padding: 10px 15px 5px 10px;
}

.su__width-100 {
    width: 100%;
}

.su__flex-vcenter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.search-form {
    width: 100%;
}

.su__wildcardMargin {
    margin-left: 27px;
    position: relative;
    top: 3px;
}

.su__width-wild .su__sticky__filters {
    padding: 6px 20px;
}

.su__show-page-wildcard {
    margin-top: 18px;
}
.su__ml-halfrem{margin-left: 0.5rem;}
.su__mr-halfrem{margin-right: 0.5rem;}